Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx, json]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'docker compose exec -T api uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

refactor(security): align /security with the design system
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/SecurityPage.tsx
  frontend/src/styles/security.css
Due: biome-check, tsc

feat(security): add depth and vertical rhythm to the explainer
  frontend/src/pages/SecurityPage.tsx
  frontend/src/styles/security.css
Due: biome-check, tsc

fix(security): correct undefined --space-12 token breaking header and padding
  frontend/src/styles/security.css
Due: none

test(api): reach 100% backend coverage
  api/app/main.py
  api/tests/integration/test_sync.py
  api/tests/unit/test_admin_stats_helpers.py
  api/tests/unit/test_auth_helpers.py
  api/tests/unit/test_main_helpers.py
  api/tests/unit/test_sibling_groups_helpers.py
  api/tests/unit/test_waitlist_helpers.py
Due: mypy

test(faq): cover FaqSection container and remaining FaqEntryCard branches
  frontend/src/components/admin/FaqSection.test.tsx
Due: biome-check, tsc

fix(deps): align react-dom with react at 19.2.7
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(e2e): anchor the unlock encryption-key selector to exclude the toggle
  frontend/e2e/auth-modal.spec.ts
  frontend/e2e/auth.spec.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/settings.spec.ts
Due: tsc

feat(landing): split hero with product glimpse and zigzag sections
  frontend/src/components/LandingArt.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/styles/landing.css
Due: biome-check, tsc

fix(landing): deepen the light hero wash behind the text block
  frontend/src/styles/landing.css
Due: none

fix(landing): readable light hero wash on small screens too
  frontend/src/styles/landing.css
Due: none

feat(landing): use real product screenshots instead of SVG glimpses
  frontend/public/images/glimpse-timeline-dark.jpg
  frontend/public/images/glimpse-timeline-dark.webp
  frontend/public/images/glimpse-timeline-light.jpg
  frontend/public/images/glimpse-timeline-light.webp
  frontend/public/images/glimpse-tree-dark.jpg
  frontend/public/images/glimpse-tree-dark.webp
  frontend/public/images/glimpse-tree-light.jpg
  frontend/public/images/glimpse-tree-light.webp
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/LandingArt.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/styles/landing.css
Due: biome-check, tsc

docs(plans): assess and plan landing SEO, trust, and conversion work
  docs/plans/2026-06-10-landing-seo-conversion-plan.md
Due: none

feat(landing): phase 1 SEO and trust quick wins
  api/alembic/versions/7c1a9b2d4e6f_seed_three_more_faq_entries.py
  frontend/nginx.conf
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/LandingPage.tsx
  frontend/src/styles/landing.css
Due: biome-check, tsc, mypy

feat(learn): add the /learn educational page on intergenerational trauma
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/public/sitemap.xml
  frontend/src/App.tsx
  frontend/src/components/AppFooter.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/LearnPage.test.tsx
  frontend/src/pages/LearnPage.tsx
  frontend/src/styles/learn.css
Due: biome-check, tsc

feat(tour): add a guided example-tree tour page
  frontend/public/images/glimpse-patterns-dark.jpg
  frontend/public/images/glimpse-patterns-dark.webp
  frontend/public/images/glimpse-patterns-light.jpg
  frontend/public/images/glimpse-patterns-light.webp
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/public/sitemap.xml
  frontend/src/App.tsx
  frontend/src/components/Glimpse.css
  frontend/src/components/Glimpse.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/TourPage.test.tsx
  frontend/src/pages/TourPage.tsx
  frontend/src/styles/landing.css
  frontend/src/styles/tour.css
Due: biome-check, tsc

feat(landing): add the founder note
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/LandingPage.tsx
  frontend/src/styles/landing.css
Due: biome-check, tsc

fix(seo): valid robots sitemap URL and dev placeholder parity
  frontend/nginx.conf
  frontend/public/robots.txt
  frontend/vite.config.ts
Due: tsc

docs(design): document indigo as the light theme action colour
  AGENTS.md
  docs/design_handoff/README_design_system.md
  docs/design_handoff/SKILL.md
  docs/design_handoff/colors_and_type.css
Due: none

refactor(public): one identical back-to-home control on every public page
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/AuthHero.test.tsx
  frontend/src/components/AuthHero.tsx
  frontend/src/components/BackHome.css
  frontend/src/components/BackHome.tsx
  frontend/src/pages/LearnPage.tsx
  frontend/src/pages/PrivacyPage.tsx
  frontend/src/pages/ResetPasswordPage.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/pages/TourPage.tsx
  frontend/src/pages/VerificationPendingPage.tsx
  frontend/src/pages/VerifyEmailPage.tsx
  frontend/src/pages/WaitlistPage.tsx
  frontend/src/styles/auth.css
  frontend/src/styles/learn.css
  frontend/src/styles/privacy.css
  frontend/src/styles/security.css
  frontend/src/styles/tour.css
Due: biome-check, tsc

feat(public): the living forest, an atmospheric layer for the public pages
  AGENTS.md
  docs/design_handoff/README_design_system.md
  docs/design_handoff/SKILL.md
  frontend/index.html
  frontend/src/components/AmbientBackground.css
  frontend/src/components/AmbientBackground.test.tsx
  frontend/src/components/AmbientBackground.tsx
  frontend/src/components/AuthHero.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/styles/auth.css
  frontend/src/styles/landing.css
  frontend/src/styles/learn.css
  frontend/src/styles/privacy.css
  frontend/src/styles/security.css
  frontend/src/styles/theme.css
  frontend/src/styles/tour.css
Due: biome-check, tsc

feat(landing): growing branch and gentle hero parallax
  frontend/src/components/GrowingBranch.css
  frontend/src/components/GrowingBranch.test.tsx
  frontend/src/components/GrowingBranch.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/styles/landing.css
Due: biome-check, tsc

feat(landing): a fuller tree in the margin, themed per palette
  frontend/src/components/GrowingBranch.css
  frontend/src/components/GrowingBranch.tsx
Due: biome-check, tsc

feat(landing): replace the margin tree's lines with a denser, varied foliage fall
  frontend/src/components/GrowingBranch.css
  frontend/src/components/GrowingBranch.tsx
Due: biome-check, tsc

fix(a11y): clear WCAG AA contrast on dark-theme actions
  frontend/src/styles/security.css
  frontend/src/styles/theme.css
Due: none

perf(public): stop shipping the workspace canvas bundle to public pages
  frontend/src/App.tsx
  frontend/vite.config.ts
Due: biome-check, tsc

test(landing): cover the ambient canvas and growing-branch effects
  frontend/src/components/AmbientBackground.test.tsx
  frontend/src/components/GrowingBranch.test.tsx
Due: biome-check, tsc

refactor(learn): name the reused title and lede i18n keys
  frontend/src/pages/LearnPage.tsx
Due: biome-check, tsc

style(public): indigo in light for the security mark and explainer
  frontend/src/components/LandingArt.tsx
  frontend/src/styles/security.css
Due: biome-check, tsc

test(api): run integration tests against Postgres in CI
  .github/workflows/ci.yml
  AGENTS.md
  api/tests/integration/conftest.py
Due: mypy

docs(plan): design the public read-only demo tree
  docs/plans/2026-06-13-public-demo-tree-design.md
Due: none

docs(plan): fold demo-tree evaluation outcomes into the design
  docs/plans/2026-06-13-public-demo-tree-design.md
Due: none

feat(demo): public, read-only live demo tree (canvas v1)
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/public/sitemap.xml
  frontend/src/App.tsx
  frontend/src/components/tree/DemoPersonCard.css
  frontend/src/components/tree/DemoPersonCard.test.tsx
  frontend/src/components/tree/DemoPersonCard.tsx
  frontend/src/hooks/useDemoTreeData.test.ts
  frontend/src/hooks/useDemoTreeData.ts
  frontend/src/lib/buildDemoState.ts
  frontend/src/lib/buildDemoState.unit.test.ts
  frontend/src/pages/DemoTreePage.css
  frontend/src/pages/DemoTreePage.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/styles/landing.css
Due: biome-check, tsc

fix(demo): patterns off by default behind a toggle, stop overlay eating clicks
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/PatternConnectors.tsx
  frontend/src/pages/DemoTreePage.css
  frontend/src/pages/DemoTreePage.tsx
Due: biome-check, tsc

fix(ui): keep button labels visible on hover for button-styled links
  frontend/src/styles/theme.css
Due: none

fix(tree): stop RelationshipEdge leaking React Flow props to the DOM
  frontend/src/components/tree/RelationshipEdge.tsx
Due: biome-check, tsc

fix(ci): share the test DB schema and widen the deploy CI-wait timeout
  .github/workflows/deploy.yml
  api/tests/integration/conftest.py
Due: mypy

style(light): make the brand accent indigo in the light theme
  AGENTS.md
  docs/design_handoff/README_design_system.md
  docs/design_handoff/SKILL.md
  docs/design_handoff/colors_and_type.css
  frontend/src/styles/theme.css
Due: none

fix(tree): drop the stray node divider and align the badge marks
  frontend/src/components/tree/PersonNode.css
Due: none

style(tree): hover lift and clearer name/date hierarchy on person nodes
  frontend/src/components/tree/PersonNode.css
Due: none

docs(plan): design pattern focus mode (canvas spotlight)
  docs/plans/2026-06-13-pattern-focus-mode-design.md
Due: none
