Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx, json]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'docker compose exec -T api uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

Fix cognitive complexity and duplicate string in filter panel and marker card
  frontend/src/components/timeline/MarkerDetailCard.tsx
  frontend/src/components/timeline/TimelineFilterPanel.tsx
Due: biome-check, tsc

Fix filter toggle to uncheck clicked category instead of soloing it
  frontend/src/hooks/useTimelineFilters.test.ts
  frontend/src/hooks/useTimelineFilters.ts
Due: biome-check, tsc

Fix quick filter pill indentation when wrapping to second line
  frontend/src/components/timeline/TimelineFilterPanel.css
Due: none

Add demo tree feature with pre-populated fictional family data
  api/alembic/versions/db3cf53ce328_add_tree_is_demo_column.py
  api/app/models/tree.py
  api/app/routers/admin.py
  api/app/routers/trees.py
  api/app/schemas/tree.py
  frontend/src/components/OnboardingGate.test.tsx
  frontend/src/components/OnboardingGate.tsx
  frontend/src/fixtures/demo-tree-en.json
  frontend/src/fixtures/demo-tree-nl.json
  frontend/src/lib/createDemoTree.test.ts
  frontend/src/lib/createDemoTree.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/tree-list.css
  frontend/src/types/api.ts
Due: biome-check, tsc, mypy

Handle per-tree decryption failures gracefully in tree list
  frontend/src/pages/TreeListPage.tsx
Due: biome-check, tsc

Use English names in English demo tree fixture
  frontend/src/fixtures/demo-tree-en.json
Due: biome-check

Improve visibility of copyright footer colophon
  frontend/src/styles/footer.css
Due: none

Add persistent marker labels to timeline view
  frontend/src/components/timeline/AgePersonLane.test.tsx
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/components/tree/TimelineSettingsContent.tsx
  frontend/src/hooks/useTimelineSettings.test.ts
  frontend/src/hooks/useTimelineSettings.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Position marker labels above the lifebar instead of beside markers
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/PersonLane.tsx
Due: biome-check, tsc

Stack overlapping marker labels upward in years view
  frontend/src/components/timeline/PersonLane.tsx
Due: biome-check, tsc

Cap partner relationship periods at earliest death year
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/types/domain.test.ts
  frontend/src/types/domain.ts
Due: biome-check, tsc

Add scroll mode toggle to timeline zoom controls
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/components/timeline/TimelineZoomControls.test.tsx
  frontend/src/components/timeline/TimelineZoomControls.tsx
  frontend/src/hooks/useTimelineZoom.test.ts
  frontend/src/hooks/useTimelineZoom.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Add test plan and automated tests for timeline age explore mode
  docs/testplans/timeline-explore-age.md
  frontend/src/components/timeline/AgePersonLane.test.tsx
  frontend/src/components/timeline/TimelineView.test.tsx
Due: biome-check, tsc

Reduce cognitive complexity of PersonLane label offset computation
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/timeline/PersonLane.tsx
Due: biome-check, tsc

Upgrade eslint ecosystem to v10, eliminating high-severity audit findings
  frontend/package-lock.json
  frontend/package.json
Due: none

Distribute available width across age view lanes for readable name labels
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/TimelineView.test.tsx
  frontend/src/components/timeline/timelineHelpers.test.ts
  frontend/src/components/timeline/timelineHelpers.ts
Due: biome-check, tsc

Make person node connection handles bolder and more visible
  frontend/src/components/tree/PersonNode.css
Due: none

Fix handle hover flickering by replacing scale with box-shadow glow
  frontend/src/components/tree/PersonNode.css
Due: none

Fix demo tree rendering all persons on one line
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Show demo tree limit as a visible error alert with icon
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/tree-list.css
Due: biome-check, tsc

Add margin below demo tree limit alert
  frontend/src/styles/tree-list.css
Due: none

Only show demo tree limit error after clicking the create button
  frontend/src/pages/TreeListPage.tsx
Due: biome-check, tsc

Fix Biome CSS formatting for handle transition property
  frontend/src/components/tree/PersonNode.css
Due: none

Establish performance baseline from production measurements
  .performance-baseline.json
Due: none

Improve Lighthouse performance with gzip, async fonts, deferred scripts, and dynamic i18n
  frontend/index.html
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/AuthHero.test.tsx
  frontend/src/components/AuthHero.tsx
  frontend/src/i18n.ts
  frontend/src/main.tsx
Due: biome-check, tsc

Fix argon2 race condition caused by deferred script loading
  frontend/src/lib/argon2.ts
Due: biome-check, tsc

Load .env automatically in Makefile for perf check credentials
  .env.example
  Makefile
Due: none

Updated performance baseline
  .performance-baseline.json
Due: none

Add WebP hero images with picture element fallback
  frontend/public/images/hero-dark.webp
  frontend/public/images/hero-light.webp
  frontend/public/images/hero-unlock-dark.webp
  frontend/public/images/hero-unlock-light.webp
  frontend/src/components/AuthHero.test.tsx
  frontend/src/components/AuthHero.tsx
Due: biome-check, tsc

Add co-parent relationship type for non-biological legal parents
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/RelationshipDetailPanel.tsx
  frontend/src/components/tree/relationshipEdgeHelpers.test.ts
  frontend/src/components/tree/relationshipEdgeHelpers.ts
  frontend/src/lib/smartFilterGroups.ts
  frontend/src/lib/treeLayoutHelpers.ts
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/types/domain.ts
Due: biome-check, tsc

Add missing childOf translation key for co-parent relationship
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
Due: none

Fix duplicate classification label when diagnosis year equals period start
  frontend/src/components/timeline/AgePersonLane.test.tsx
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/timeline/PersonLane.tsx
Due: biome-check, tsc

Add name tooltip on hover in both timeline views
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
Due: biome-check, tsc

Add partner relationship lines to age-based timeline view
  frontend/src/components/timeline/AgePartnerLine.test.tsx
  frontend/src/components/timeline/AgePartnerLine.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
Due: biome-check, tsc

Improve age timeline partner connectors: thicker, centered, hoverable
  frontend/src/components/timeline/AgePartnerLine.test.tsx
  frontend/src/components/timeline/AgePartnerLine.tsx
Due: biome-check, tsc

Fix marker detail card: wrap long titles, pin close button, no person select
  frontend/src/components/timeline/TimelineView.css
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Replace timeline pattern arcs with lane tints and marker rings
  docs/plans/2026-02-20-timeline-pattern-redesign.md
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelinePatternArcs.test.tsx
  frontend/src/components/timeline/TimelinePatternArcs.tsx
  frontend/src/components/timeline/TimelinePatternLanes.test.tsx
  frontend/src/components/timeline/TimelinePatternLanes.tsx
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/TimelineYearsContent.tsx
Due: biome-check, tsc

Add pattern name labels to timeline lane tints
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelinePatternLanes.test.tsx
  frontend/src/components/timeline/TimelinePatternLanes.tsx
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/TimelineYearsContent.tsx
Due: biome-check, tsc

Change person group filters from union to intersective logic across categories
  frontend/src/components/timeline/TimelineFilterPanel.test.tsx
  frontend/src/components/timeline/TimelineFilterPanel.tsx
  frontend/src/hooks/useTimelineFilters.test.ts
  frontend/src/hooks/useTimelineFilters.ts
Due: biome-check, tsc

Add annotate mode hint banner and clickable partner lines in timeline
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/timeline/AgePartnerLine.test.tsx
  frontend/src/components/timeline/AgePartnerLine.tsx
  frontend/src/components/timeline/PartnerLine.test.tsx
  frontend/src/components/timeline/PartnerLine.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc
