Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, mypy

tsc:
  name: TypeScript type-check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

mypy:
  name: mypy type-check
  entry: bash -c 'cd api && uv run mypy app'
  language: system
  pass_filenames: false

Fix CI: install dev dependencies with --extra dev
  .github/workflows/ci.yml
Due: none

Fix PersonNode test: add missing lifeEvents prop
  frontend/src/components/tree/PersonNode.test.tsx
  frontend/src/components/tree/PersonNode.tsx
Due: tsc

Add backend test suite with 94% code coverage
  api/app/routers/events.py
  api/app/routers/life_events.py
  api/pyproject.toml
  api/tests/__init__.py
  api/tests/conftest.py
  api/tests/test_auth.py
  api/tests/test_events.py
  api/tests/test_health.py
  api/tests/test_life_events.py
  api/tests/test_persons.py
  api/tests/test_relationships.py
  api/tests/test_sync.py
  api/tests/test_trees.py
  api/uv.lock
Due: mypy

added .coverage to gitignore
  .gitignore
Due: none

Fix make setup to run uv sync inside Docker container
  Makefile
Due: none

Fix Makefile to run backend tools via Docker and skip biome warnings in lint
  Makefile
Due: none

Fix all 61 biome lint warnings across 14 frontend files
  .pre-commit-config.yaml
  frontend/src/components/AppFooter.tsx
  frontend/src/components/BranchDecoration.tsx
  frontend/src/components/MentalHealthBanner.tsx
  frontend/src/components/MobileBanner.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/components/tree/CanvasSettingsPanel.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/RelationshipDetailPanel.tsx
  frontend/src/components/tree/RelationshipEdge.tsx
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/pages/UnlockPage.tsx
  frontend/src/pages/VerificationPendingPage.tsx
Due: tsc

Replace deprecated HTTP_422_UNPROCESSABLE_ENTITY with HTTP_422_UNPROCESSABLE_CONTENT
  .pre-commit-config.yaml
  api/app/routers/events.py
  api/app/routers/life_events.py
  api/app/routers/relationships.py
  api/app/routers/sync.py
Due: mypy

Fix incomplete URL substring sanitization in hostname language detection
  frontend/src/i18n.ts
Due: tsc

Sanitize email address in log output to prevent log injection
  api/app/email.py
Due: mypy

Add make help target with descriptions for all targets
  Makefile
Due: none

Add make rebuild target and preserve database on make down
  Makefile
Due: none

Set UV_LINK_MODE=copy in API Dockerfile to suppress hardlink warning
  api/Dockerfile
Due: none

Fix PersonNode test mock missing required React Flow node properties
  frontend/src/components/tree/PersonNode.test.tsx
Due: tsc

Fix production Dockerfile site-packages path for Python 3.14
  api/Dockerfile
Due: none

Add production smoketest as final deploy step
  .github/workflows/deploy.yml
Due: none

Add SECURITY.md with vulnerability reporting policy
  SECURITY.md
Due: none

Replace python-jose with PyJWT to drop vulnerable ecdsa dependency
  api/app/auth.py
  api/pyproject.toml
  api/tests/conftest.py
  api/uv.lock
Due: mypy

Fix Uint8Array BufferSource type errors for Node 25 TypeScript types
  frontend/src/lib/crypto.ts
Due: tsc

Rewrite README and CONTRIBUTING with current project state
  CONTRIBUTING.md
  README.md
Due: none

Add design doc for friend relationship type
  docs/plans/2026-02-13-friend-relationship-design.md
Due: none

Add friend relationship type with layout and styling
  frontend/src/components/tree/PersonNode.css
  frontend/src/components/tree/PersonNode.tsx
  frontend/src/components/tree/RelationshipEdge.tsx
  frontend/src/hooks/useTreeLayout.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/styles/theme.css
  frontend/src/types/domain.ts
Due: tsc

Add design doc for admin dashboard
  docs/plans/2026-02-14-admin-dashboard-design.md
Due: none

Add admin dashboard with usage, retention, and signup metrics
  api/alembic/versions/a3b1c2d4e5f6_add_admin_dashboard_tables.py
  api/app/auth.py
  api/app/main.py
  api/app/models/__init__.py
  api/app/models/login_event.py
  api/app/models/user.py
  api/app/routers/admin.py
  api/app/routers/auth.py
  api/app/schemas/admin.py
  frontend/src/App.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/admin.css
  frontend/src/types/api.ts
Due: tsc, mypy

Add design doc for admin dashboard v2 features
  docs/plans/2026-02-14-admin-dashboard-v2-design.md
Due: none

Add signup funnel, growth chart, activity heatmap, and user list to admin dashboard
  api/app/routers/admin.py
  api/app/schemas/admin.py
  frontend/src/lib/api.ts
  frontend/src/pages/AdminPage.tsx
  frontend/src/styles/admin.css
  frontend/src/types/api.ts
Due: tsc, mypy

Add design doc for privacy policy page
  docs/plans/2026-02-14-privacy-policy-page-design.md
Due: none

Add privacy policy page with EN/NL translations
  frontend/src/App.tsx
  frontend/src/components/AppFooter.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/PrivacyPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles/auth.css
  frontend/src/styles/footer.css
  frontend/src/styles/privacy.css
Due: tsc

Use browser history for privacy page back button
  frontend/src/pages/PrivacyPage.tsx
  frontend/src/styles/privacy.css
Due: tsc

Fix dislocated joint in junction fork when child is below a parent
  frontend/src/components/tree/RelationshipEdge.tsx
Due: tsc

Enable startup CPU boost on Cloud Run API to reduce cold starts
  .github/workflows/deploy.yml
Due: none

Fix critical security and performance issues from code review
  api/app/routers/auth.py
  api/app/routers/events.py
  api/app/routers/life_events.py
  frontend/nginx.conf
  frontend/src/components/timeline/TimelineView.tsx
Due: tsc, mypy

Fix medium severity issues from code review
  api/Dockerfile
  api/alembic/versions/b4c2d5e6f7a8_add_login_events_user_id_index.py
  api/app/database.py
  api/app/models/login_event.py
  api/app/routers/auth.py
  api/app/routers/sync.py
  frontend/src/lib/api.ts
  frontend/src/lib/crypto.ts
Due: tsc, mypy

Narrow refresh endpoint exception handler to jwt.PyJWTError
  api/app/routers/auth.py
Due: mypy

Restore full db.refresh() before relationship refresh in update endpoints
  api/app/routers/events.py
  api/app/routers/life_events.py
Due: mypy

Filter friend-only persons out of the timeline view
  frontend/src/components/timeline/TimelineView.tsx
Due: tsc

Remove one-tree-per-user MVP limit
  api/app/routers/trees.py
Due: mypy

Add Open Graph and Twitter Card meta tags for link previews
  frontend/index.html
  frontend/public/images/og-card.jpg
Due: none

Update tree test to expect multiple trees per user
  api/tests/test_trees.py
Due: mypy

Make social cards and page title domain-aware via nginx sub_filter
  frontend/index.html
  frontend/nginx.conf
Due: none

Path conditions:
  tsc: any of: \.tsx?$
  mypy: any of: \.py$
