Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
  language: system

tsc:
  name: TypeScript type-check
  entry: bash -c 'cd frontend && npx tsc -b'
  language: system
  pass_filenames: false

mypy:
  name: mypy type-check
  entry: bash -c 'docker compose exec -T api uv run mypy app'
  language: system
  pass_filenames: false

Increased baseline for code coverage
  .coverage-baseline.json
Due: none

Add comprehensive PersonDetailPanel tests and consolidate security guidelines
  AGENTS.md
  frontend/src/components/tree/PersonDetailPanel.test.tsx
Due: biome-check, tsc

Speed up component tests and add test suite splitting
  Makefile
  frontend/package.json
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/RelationshipDetailPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.test.tsx
Due: biome-check, tsc

Add design doc for post-deploy security scanning (ZAP + Nuclei)
  docs/plans/2026-02-15-post-deploy-security-scan-design.md
Due: none

Add post-deploy security scanning with ZAP and Nuclei
  .github/workflows/deploy.yml
  .zap/rules.tsv
Due: none

Fix ZAP action config: use auth env vars instead of cmd_options
  .github/workflows/deploy.yml
  docs/plans/2026-02-15-post-deploy-security-scan-design.md
Due: none

Use real client IP in nginx logs instead of GCP load balancer IP
  frontend/nginx.conf
Due: none

Move Nuclei scan to daily schedule and every 5th deploy
  .github/workflows/deploy.yml
  .github/workflows/nuclei-scan.yml
Due: none

Harden nginx security headers and tune ZAP scan rules
  .github/workflows/deploy.yml
  .zap/rules.tsv
  frontend/nginx.conf
Due: none

Fix Nuclei trigger: use bash arithmetic instead of GHA modulo
  .github/workflows/deploy.yml
Due: none

Fix ZAP report filenames in check and upload steps
  .github/workflows/deploy.yml
Due: none

Exclude smoketest account from admin dashboard analytics
  .env.example
  .github/workflows/deploy.yml
  api/app/config.py
  api/app/routers/admin.py
Due: mypy

Add design doc for care providers feature
  docs/plans/2026-02-15-care-providers-design.md
Due: none

Add project roadmap with planned and backlog features
  docs/roadmap.md
Due: none

Revise care providers design: own node type instead of entity
  docs/plans/2026-02-15-care-providers-design.md
  docs/roadmap.md
Due: none

Fix canvas viewport jumping on save/close of detail panel
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add design doc for passphrase hints, auth modals, and auto-lock
  docs/plans/2026-02-15-passphrase-hints-auth-modals-design.md
  docs/roadmap.md
Due: none

Add design doc for passkey authentication
  docs/plans/2026-02-15-passkey-auth-design.md
  docs/roadmap.md
Due: none

Center canvas on newly created person node
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Update roadmap with brainstorm notes and ideas
  docs/roadmap.md
Due: none

Add tabbed privacy policy with at-a-glance and in-depth views
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/PrivacyPage.tsx
  frontend/src/styles/privacy.css
Due: biome-check, tsc

Update roadmap with backlog notes
  docs/roadmap.md
Due: none

Reprioritize roadmap around personal reflection features
  docs/roadmap.md
Due: none

Add agentic workflow grumpy-reviewer
  .gitattributes
  .github/workflows/grumpy-reviewer.lock.yml
  .github/workflows/grumpy-reviewer.md
Due: none

Add agentic workflow static-analysis-report
  .github/workflows/static-analysis-report.lock.yml
  .github/workflows/static-analysis-report.md
Due: none

added aw agents
  .github/aw/imports/.gitattributes
  .github/aw/imports/github/gh-aw/94662b1dee8ce96c876ba9f33b3ab8be32de82a4/.github_workflows_shared_reporting.md
Due: none

rm aw agent
  .github/aw/imports/github/gh-aw/94662b1dee8ce96c876ba9f33b3ab8be32de82a4/.github_workflows_shared_reporting.md
Due: none

added aw agent
  .github/aw/imports/github/gh-aw/94662b1dee8ce96c876ba9f33b3ab8be32de82a4/.github_workflows_shared_reporting.md
Due: none

added aw agents
  .github/agents/agentic-workflows.agent.md
  .github/aw/actions-lock.json
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/grumpy-reviewer.lock.yml
  .github/workflows/static-analysis-report.lock.yml
Due: none

update gh aw agents
  .github/aw/actions-lock.json
  .github/workflows/copilot-setup-steps.yml
Due: none

remved static analysis agent
  .github/workflows/static-analysis-report.lock.yml
  .github/workflows/static-analysis-report.md
Due: none

Place new person nodes in the current viewport
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Optimize login page for mobile with hero banner layout
  frontend/src/pages/LoginPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

Extract findFreePosition helper to fix complexity lint errors
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Reduce findFreePosition complexity below sonarjs threshold
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add design doc for safety envelope (onboarding, footer, lock+blur)
  docs/plans/2026-02-16-safety-envelope-design.md
Due: none

Add safety envelope to roadmap as priority 2
  docs/roadmap.md
Due: none

Path conditions:
  biome-check: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  tsc: any of: \.tsx?$
  mypy: any of: \.py$
