Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx, json]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'docker compose exec -T api uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

feat: add SiblingGroup request/response schemas
  api/app/schemas/tree.py
Due: mypy

feat: add sibling groups CRUD router with uniqueness constraint
  api/app/main.py
  api/app/routers/sibling_groups.py
Due: mypy

test: add sibling group CRUD and uniqueness tests
  api/tests/test_sibling_groups.py
Due: mypy

feat: add sibling groups to bulk sync pipeline
  api/app/routers/sync.py
  api/app/schemas/sync.py
  api/tests/test_sync.py
Due: mypy

feat: add sibling group types and API client
  frontend/src/lib/api.ts
  frontend/src/types/api.ts
  frontend/src/types/domain.ts
Due: biome-check, tsc

feat: add sibling group data loading and mutations
  frontend/src/hooks/useTreeData.ts
  frontend/src/hooks/useTreeMutations.ts
Due: biome-check, tsc

feat: add SiblingGroupNode React Flow component
  frontend/src/components/tree/SiblingGroupNode.css
  frontend/src/components/tree/SiblingGroupNode.test.tsx
  frontend/src/components/tree/SiblingGroupNode.tsx
Due: biome-check, tsc

feat: integrate sibling group nodes into tree layout
  frontend/src/components/tree/SiblingGroupNode.tsx
  frontend/src/hooks/useTreeData.test.ts
  frontend/src/hooks/useTreeLayout.ts
  frontend/src/hooks/useTreeMutations.test.tsx
  frontend/src/lib/treeLayoutHelpers.ts
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

feat: add sibling group i18n keys (en + nl)
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
Due: none

feat: add SiblingGroupPanel for editing sibling groups
  frontend/src/components/tree/SiblingGroupPanel.css
  frontend/src/components/tree/SiblingGroupPanel.test.tsx
  frontend/src/components/tree/SiblingGroupPanel.tsx
Due: biome-check, tsc

feat: add sibling group section to RelationshipsTab
  frontend/src/components/WorkspacePanelHost.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/RelationshipsTab.tsx
Due: biome-check, tsc

feat: implement sibling group member promotion flow
  frontend/src/hooks/usePromoteMember.test.tsx
  frontend/src/hooks/usePromoteMember.ts
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

docs: add sibling groups to project documentation
  AGENTS.md
Due: none

style: fix biome formatting and import ordering
  frontend/src/components/tree/SiblingGroupNode.css
  frontend/src/components/tree/SiblingGroupNode.test.tsx
  frontend/src/components/tree/SiblingGroupPanel.test.tsx
  frontend/src/hooks/usePromoteMember.test.tsx
  frontend/src/hooks/usePromoteMember.ts
  frontend/src/hooks/useTreeLayout.ts
  frontend/src/lib/api.ts
  frontend/src/lib/treeLayoutHelpers.ts
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

docs: mark sibling groups as done in roadmap
  docs/roadmap.md
Due: none

refactor: reduce complexity of sibling group uniqueness check
  api/app/routers/sibling_groups.py
Due: mypy

refactor: add JunctionModel base class for mypy-visible person_id
  api/app/database.py
  api/app/routers/sibling_groups.py
Due: mypy

refactor: extract sibling group layout helpers to reduce complexity
  frontend/src/lib/treeLayoutHelpers.ts
Due: biome-check, tsc

Updated implementation plan
  docs/plans/2026-03-08-sibling-groups-implementation.md
Due: none

Redesign SiblingGroupPanel with card-based layout
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/SiblingGroupPanel.css
  frontend/src/components/tree/SiblingGroupPanel.test.tsx
  frontend/src/components/tree/SiblingGroupPanel.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Fix sibling group panel: exclude self from count, clarify placeholders
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/RelationshipsTab.tsx
  frontend/src/components/tree/SiblingGroupPanel.test.tsx
  frontend/src/components/tree/SiblingGroupPanel.tsx
Due: biome-check, tsc

Fix clicking sibling group pill on canvas to open editor panel
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Fix sibling group pill count, input sizing, and close on save
  frontend/src/components/tree/SiblingGroupNode.test.tsx
  frontend/src/components/tree/SiblingGroupNode.tsx
  frontend/src/components/tree/SiblingGroupPanel.css
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add optional gender and death year fields to sibling group members
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/SiblingGroupPanel.css
  frontend/src/components/tree/SiblingGroupPanel.test.tsx
  frontend/src/components/tree/SiblingGroupPanel.tsx
  frontend/src/types/domain.ts
Due: biome-check, tsc

Add field labels to sibling group member cards
  frontend/src/components/tree/SiblingGroupPanel.css
  frontend/src/components/tree/SiblingGroupPanel.test.tsx
  frontend/src/components/tree/SiblingGroupPanel.tsx
Due: biome-check, tsc

Persist sibling group pill positions across view switches
  frontend/src/lib/treeLayoutHelpers.test.ts
  frontend/src/lib/treeLayoutHelpers.ts
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/types/domain.ts
Due: biome-check, tsc

Fix flash of dark theme on page reload when using light theme
  frontend/index.html
Due: none

Added idea to Roadmap
  docs/roadmap.md
Due: none

Extract key ring and migration endpoints from auth router
  api/app/main.py
  api/app/routers/auth.py
  api/app/routers/key_ring.py
Due: mypy

Move misplaced files to correct directories
  frontend/src/components/admin/FeatureToggleCard.test.tsx
  frontend/src/components/timeline/TimelineView.test.tsx
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/tree/BranchDecoration.test.tsx
  frontend/src/components/tree/BranchDecoration.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add tests for 14 untested components and pages
  frontend/src/components/timeline/TimelineYearsContent.test.tsx
  frontend/src/components/timeline/timelineMarkers.test.tsx
  frontend/src/components/tree/ClassificationsTab.test.tsx
  frontend/src/components/tree/LifeEventsTab.test.tsx
  frontend/src/components/tree/PersonTab.test.tsx
  frontend/src/components/tree/RelationshipsTab.test.tsx
  frontend/src/components/tree/TraumaEventsTab.test.tsx
  frontend/src/components/tree/settings/ChangePassphraseSection.test.tsx
  frontend/src/components/tree/settings/ChangePasswordSection.test.tsx
  frontend/src/components/tree/settings/DeleteAccountSection.test.tsx
  frontend/src/pages/RegisterPage.test.tsx
  frontend/src/pages/TimelinePage.test.tsx
  frontend/src/pages/TreeWorkspacePage.test.tsx
  frontend/src/pages/UnlockPage.test.tsx
Due: biome-check, tsc

Extract test credentials to constants to fix sonar lint warnings
  frontend/src/components/tree/settings/ChangePasswordSection.test.tsx
  frontend/src/components/tree/settings/DeleteAccountSection.test.tsx
  frontend/src/pages/RegisterPage.test.tsx
Due: biome-check, tsc

Fix load test 401s by authenticating fresh on each user start
  loadtests/locustfile.py
Due: mypy

Add EncryptionContext tests for key lifecycle and security guards
  frontend/src/contexts/EncryptionContext.test.tsx
Due: biome-check, tsc

Remove stale watercolor theme references from demo and tests
  demo/demo.spec.ts
  frontend/src/hooks/useTheme.test.ts
Due: biome-check, tsc

Replace hardcoded colors with CSS variables across all component CSS
  frontend/src/components/PatternView.css
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/tree/PatternPanel.css
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/SettingsPanel.css
  frontend/src/styles/admin.css
  frontend/src/styles/footer.css
  frontend/src/styles/theme.css
  frontend/src/styles/tree-list.css
Due: none

Extract shared panel and button classes to reduce CSS duplication
  frontend/src/components/ConfirmDeleteButton.test.tsx
  frontend/src/components/ConfirmDeleteButton.tsx
  frontend/src/components/WorkspacePanelHost.test.tsx
  frontend/src/components/journal/Journal.css
  frontend/src/components/journal/JournalEntryForm.tsx
  frontend/src/components/journal/JournalEntryList.tsx
  frontend/src/components/journal/JournalPanel.tsx
  frontend/src/components/timeline/TimelineFilterPanel.tsx
  frontend/src/components/tree/ClassificationsTab.tsx
  frontend/src/components/tree/EditSubPanel.tsx
  frontend/src/components/tree/LifeEventsTab.tsx
  frontend/src/components/tree/PatternPanel.css
  frontend/src/components/tree/PatternPanel.tsx
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/PersonLinkField.tsx
  frontend/src/components/tree/PersonTab.tsx
  frontend/src/components/tree/RelationshipDetailPanel.tsx
  frontend/src/components/tree/RelationshipsTab.tsx
  frontend/src/components/tree/SiblingGroupPanel.css
  frontend/src/components/tree/SiblingGroupPanel.tsx
  frontend/src/components/tree/TraumaEventsTab.tsx
  frontend/src/components/tree/TurningPointsTab.tsx
  frontend/src/styles/theme.css
Due: biome-check, tsc

Adopt --space-* design tokens across all CSS files (477 usages)
  frontend/src/components/ConfirmDeleteButton.css
  frontend/src/components/LockScreen.css
  frontend/src/components/MentalHealthBanner.css
  frontend/src/components/MobileBanner.css
  frontend/src/components/OnboardingGate.css
  frontend/src/components/PasswordStrengthMeter.css
  frontend/src/components/PatternView.css
  frontend/src/components/journal/Journal.css
  frontend/src/components/timeline/TimelineChipBar.css
  frontend/src/components/timeline/TimelineFilterPanel.css
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/tree/PatternPanel.css
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonNode.css
  frontend/src/components/tree/RelationshipEdge.css
  frontend/src/components/tree/SettingsPanel.css
  frontend/src/components/tree/SiblingGroupNode.css
  frontend/src/components/tree/SiblingGroupPanel.css
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/pages/InsightsPage.css
  frontend/src/pages/JournalPage.css
  frontend/src/styles/admin.css
  frontend/src/styles/auth.css
  frontend/src/styles/feedback.css
  frontend/src/styles/footer.css
  frontend/src/styles/privacy.css
  frontend/src/styles/theme.css
  frontend/src/styles/tree-list.css
Due: none

Add sibling groups to demo tree fixtures
  frontend/src/fixtures/demo-tree-en.json
  frontend/src/fixtures/demo-tree-nl.json
  frontend/src/lib/createDemoTree.test.ts
  frontend/src/lib/createDemoTree.ts
Due: biome-check, tsc

feat: add passphrase_hint column to users table
  api/alembic/versions/b8879465ace5_add_passphrase_hint_to_users.py
  api/app/models/user.py
Due: mypy
