Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
  language: system

tsc:
  name: TypeScript type-check
  entry: bash -c 'cd frontend && npx tsc -b'
  language: system
  pass_filenames: false

mypy:
  name: mypy type-check
  entry: bash -c 'docker compose exec -T api uv run mypy app'
  language: system
  pass_filenames: false

ci(zap): ignore CSP rule 10055 (only accepted style-src remains)
  .zap/rules.tsv
Due: none

fix(person): stop the deferred name select from stealing focus back
  frontend/src/components/tree/PersonTab.test.tsx
  frontend/src/components/tree/PersonTab.tsx
Due: biome-check, tsc

test(e2e): drop the retry from the local suite
  frontend/playwright.config.ts
Due: tsc

test(e2e): target the person fields by label, not by input order
  frontend/e2e/smoke-production.spec.ts
  frontend/e2e/tree-workflow.spec.ts
  frontend/e2e/views.spec.ts
Due: tsc

test(e2e): target the event form titles by label, not by input order
  frontend/e2e/data-entry.spec.ts
Due: tsc

fix(seo): redirect the genogram page to the host that owns its language
  frontend/nginx.conf
Due: none

test(tree-layout): cover the untested branches in treeLayoutHelpers
  frontend/src/lib/treeLayoutHelpers.unit.test.ts
Due: biome-check, tsc

docs(ios): design for App Store readiness (sign-up, deletion, release core)
  docs/superpowers/specs/2026-08-02-ios-app-store-readiness-design.md
Due: none

build(ios): archive against the release core framework
  mobile/ios/ci_scripts/ci_post_clone.sh
Due: none

feat(ios): delete your account from the app
  mobile/core/src/commonMain/kotlin/org/traumabomen/core/api/ApiClient.kt
  mobile/core/src/jvmTest/kotlin/org/traumabomen/core/api/ApiClientTest.kt
  mobile/ios/Sources/AppModel.swift
  mobile/ios/Sources/Localization.swift
  mobile/ios/Sources/SettingsView.swift
Due: none

feat(ios): create an account from the app
  mobile/ios/Sources/AppModel.swift
  mobile/ios/Sources/Localization.swift
  mobile/ios/Sources/LoginView.swift
  mobile/ios/Sources/RegisterView.swift
  mobile/ios/Sources/TraumatreesApp.swift
Due: none

feat(ios): create your first tree from the app
  mobile/ios/Sources/AppModel.swift
  mobile/ios/Sources/Localization.swift
  mobile/ios/Sources/TreeListView.swift
Due: none

fix(ios): keep the delete-account error where it can be read
  mobile/ios/Sources/AppModel.swift
  mobile/ios/Sources/SettingsView.swift
Due: none

docs(ios): App Store Connect submission pack
  mobile/ios/appstore/README.md
  mobile/ios/appstore/age-rating.md
  mobile/ios/appstore/export-compliance.md
  mobile/ios/appstore/listing-en.md
  mobile/ios/appstore/listing-nl.md
  mobile/ios/appstore/privacy-labels.md
  mobile/ios/appstore/review-notes.md
  mobile/ios/appstore/screenshots/6.9-inch/01-welcome.png
  mobile/ios/appstore/screenshots/6.9-inch/02-unlock.png
  mobile/ios/appstore/screenshots/6.9-inch/03-tree-canvas.png
  mobile/ios/appstore/screenshots/6.9-inch/04-journal.png
  mobile/ios/scripts/seed-demo-account.py
Due: mypy

feat(web): add a support page
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/public/sitemap.xml
  frontend/src/App.tsx
  frontend/src/components/AppFooter.tsx
  frontend/src/pages/SupportPage.test.tsx
  frontend/src/pages/SupportPage.tsx
  frontend/src/styles/support.css
Due: biome-check, tsc

docs(ios): fill in the support URL now that the page exists
  mobile/ios/appstore/README.md
  mobile/ios/appstore/listing-en.md
  mobile/ios/appstore/listing-nl.md
Due: none

feat(web): show a 404 instead of a login screen for unknown paths
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/App.tsx
  frontend/src/pages/NotFoundPage.test.tsx
  frontend/src/pages/NotFoundPage.tsx
  frontend/src/styles/not-found.css
Due: biome-check, tsc

fix(web): stop browsers serving stale translations after a deploy
  frontend/nginx.conf
Due: none

fix(web): the support page said export did not exist
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
Due: none

fix(web): correct two more support answers against the code
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
Due: none

docs(ios): the app has a sign-up screen now
  mobile/ios/README.md
Due: none

build(deps-dev): bump eslint-plugin-sonarjs to 4.2.0, silence parameterized-tests in tests
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: none

build(deps-dev): typecheck with TypeScript 7, keep TS 6 API for tooling
  frontend/package-lock.json
  frontend/package.json
Due: none

docs: update frontend framework versions in AGENTS.md
  AGENTS.md
Due: none

docs(changelog): note the TypeScript 7 typecheck and build
  CHANGELOG.md
Due: none

docs(ios): bring the App Store submission pack up to date
  mobile/ios/appstore/README.md
  mobile/ios/appstore/age-rating.md
  mobile/ios/appstore/listing-en.md
  mobile/ios/appstore/listing-nl.md
Due: none

copy(web): the support FAQ says the iPhone app exists
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  mobile/ios/appstore/README.md
Due: none

copy: strip AI writing tells from product copy
  README.md
  frontend/e2e/smoke-production.spec.ts
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  mobile/ios/appstore/listing-en.md
  mobile/ios/appstore/listing-nl.md
Due: tsc

copy(nl): the privacy summary says the password is hashed, not encrypted
  frontend/public/locales/nl/translation.json
Due: none

build(deps-dev): bump @biomejs/biome from 2.5.3 to 2.5.15
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AuthModal.css
  frontend/src/components/LockScreen.css
Due: none

docs: add PRODUCT.md and DESIGN.md design context
  .impeccable/design.json
  DESIGN.md
  PRODUCT.md
Due: none

docs: drop stale watercolor theme from AGENTS.md
  AGENTS.md
Due: none

docs: correct atmosphere details and drop watercolor from comments
  .impeccable/design.json
  AGENTS.md
  DESIGN.md
  frontend/src/components/LandingArt.tsx
  frontend/src/components/inspector/inspector.css
Due: biome-check, tsc

refactor: rename BranchDecoration to ContourDecoration
  AGENTS.md
  docs/design_handoff/README_design_system.md
  frontend/src/components/timeline/TimelineView.test.tsx
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/tree/ContourDecoration.test.tsx
  frontend/src/components/tree/ContourDecoration.tsx
  frontend/src/pages/TreeWorkspacePage.test.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/styles/theme.css
Due: biome-check, tsc

fix: harden the onboarding safety gate
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/OnboardingGate.css
  frontend/src/components/OnboardingGate.test.tsx
  frontend/src/components/OnboardingGate.tsx
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
Due: biome-check, tsc

feat: compose the first-tree empty state on the tree list
  demo/demo.spec.ts
  frontend/e2e/helpers/auth.ts
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/pages/treeListMeta.ts
  frontend/src/pages/treeListMeta.unit.test.ts
  frontend/src/styles/tree-list.css
Due: biome-check, tsc

Path conditions:
  biome-check: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  tsc: any of: \.tsx?$
  mypy: any of: \.py$
