Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx, json]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'docker compose exec -T api uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

Add design doc for elkjs migration and collapsible sub-trees
  docs/plans/2026-02-26-elkjs-collapse-design.md
Due: none

Add elkjs migration and collapsible sub-trees to roadmap (#17)
  docs/roadmap.md
Due: none

Set min-instances to 1 for API and frontend to eliminate cold starts
  .github/workflows/deploy.yml
Due: none

Add tests for EntityLinkPicker to restore coverage above 96%
  frontend/src/components/journal/EntityLinkPicker.test.tsx
Due: biome-check, tsc

Mark min-instances as done
  docs/roadmap.md
Due: none

Fix four frontend stability issues from security audit
  docs/roadmap.md
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/journal/JournalEntryForm.test.tsx
  frontend/src/components/journal/JournalEntryForm.tsx
  frontend/src/components/journal/JournalEntryList.test.tsx
  frontend/src/components/journal/JournalEntryList.tsx
  frontend/src/hooks/useTreeData.test.ts
  frontend/src/hooks/useTreeData.ts
  frontend/src/pages/VerificationPendingPage.test.tsx
  frontend/src/pages/VerificationPendingPage.tsx
Due: biome-check, tsc

Add design doc for password strength validation
  docs/plans/2026-02-26-password-strength-design.md
Due: none

Add server-side password strength validation
  api/app/auth.py
  api/app/routers/auth.py
  api/tests/conftest.py
  api/tests/test_admin.py
  api/tests/test_auth.py
  api/tests/test_rate_limiter_integration.py
  api/tests/test_waitlist.py
Due: mypy

Add i18n keys for password strength validation
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
Due: none

Add implementation plan for password strength validation
  docs/plans/2026-02-26-password-strength-plan.md
Due: none

Add password strength meter to settings password change
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
Due: biome-check, tsc

Mark password strength validation as done in roadmap
  docs/roadmap.md
Due: none

Add password strength meter component with theme variables
  frontend/src/components/PasswordStrengthMeter.css
  frontend/src/components/PasswordStrengthMeter.test.tsx
  frontend/src/components/PasswordStrengthMeter.tsx
  frontend/src/styles/theme.css
Due: biome-check, tsc

Add password strength scoring function
  frontend/src/lib/passwordStrength.test.ts
  frontend/src/lib/passwordStrength.ts
Due: biome-check, tsc

Add password strength meter to register page
  frontend/src/pages/RegisterPage.tsx
Due: biome-check, tsc

Add refresh_tokens database model and migration
  api/alembic/versions/ffd7fc537608_add_refresh_tokens_table.py
  api/app/models/__init__.py
  api/app/models/refresh_token.py
Due: mypy

Mark refresh token rotation as done in roadmap
  docs/roadmap.md
Due: none

Add refresh token create, use, and revoke functions
  api/app/auth.py
  api/tests/conftest.py
  api/tests/test_auth.py
Due: mypy

Update tests for refresh token rotation
  api/app/routers/auth.py
  api/tests/conftest.py
  api/tests/test_auth.py
Due: mypy

Add design doc for refresh token rotation
  docs/plans/2026-02-26-refresh-token-rotation-design.md
Due: none

Update auth endpoints for opaque refresh token rotation
  api/app/routers/auth.py
  api/app/schemas/auth.py
Due: mypy

Update frontend for refresh token rotation
  frontend/src/hooks/useLogout.ts
  frontend/src/lib/api.ts
  frontend/src/types/api.ts
Due: biome-check, tsc

Add refresh token rotation implementation plan
  docs/plans/2026-02-26-refresh-token-rotation-plan.md
Due: none

Enforce SSL for PostgreSQL database connections
  api/app/database.py
  api/tests/test_database.py
  docs/roadmap.md
Due: mypy

Rename plaintext to raw_token to fix privacy scan false positive
  api/app/auth.py
Due: mypy

Add per-endpoint rate limiting to logout endpoint
  api/app/rate_limiter.py
  api/app/routers/auth.py
  api/tests/conftest.py
  api/tests/test_rate_limiter.py
  docs/roadmap.md
Due: mypy

Always use STARTTLS for SMTP connections
  api/app/email.py
  api/tests/test_email.py
  docs/roadmap.md
Due: mypy

Fix logout test for async logout function
  frontend/src/lib/api.test.ts
Due: biome-check, tsc

Add constant-time comparison for passphrase hash verification
  docs/roadmap.md
  frontend/src/contexts/EncryptionContext.tsx
  frontend/src/lib/crypto.test.ts
  frontend/src/lib/crypto.ts
Due: biome-check, tsc

Gate DB SSL on DATABASE_SSL setting instead of URL prefix
  api/app/config.py
  api/app/database.py
  api/tests/test_database.py
Due: mypy

Reduce complexity in check_password_strength and register
  api/app/auth.py
  api/app/routers/auth.py
Due: mypy

Formatted TS files
  frontend/src/App.test.tsx
  frontend/src/components/PasswordStrengthMeter.test.tsx
  frontend/src/components/journal/JournalEntryForm.test.tsx
  frontend/src/components/journal/JournalEntryList.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/pages/RegisterPage.tsx
Due: biome-check, tsc

Add return type annotations to database factory functions
  api/app/database.py
Due: mypy

Bump minimatch to 10.2.4 to fix ReDoS vulnerability (CVE-2026-27903)
  frontend/package-lock.json
Due: none

Filter Safari internal get-frame-manager-configuration errors in Sentry
  frontend/src/main.tsx
Due: biome-check, tsc

Filter browser extension runtime.sendMessage errors in Sentry
  frontend/src/main.tsx
Due: biome-check, tsc

Add read-only tree sharing design doc and update roadmap
  docs/plans/2026-03-01-read-only-tree-sharing-design.md
  docs/roadmap.md
Due: none

Add personal insights summary design doc and update roadmap
  docs/plans/2026-03-01-personal-insights-design.md
  docs/roadmap.md
Due: none

Add canvas annotations design doc and update roadmap
  docs/plans/2026-03-02-canvas-annotations-design.md
  docs/roadmap.md
Due: none

Move ALLOWED_MARKDOWN_ELEMENTS to own file to fix Vite Fast Refresh
  frontend/src/components/journal/JournalEntryForm.tsx
  frontend/src/components/journal/JournalEntryList.tsx
  frontend/src/components/journal/allowedMarkdownElements.ts
Due: biome-check, tsc
