Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
  language: system

tsc:
  name: TypeScript type-check
  entry: bash -c 'cd frontend && npx tsc -b'
  language: system
  pass_filenames: false

mypy:
  name: mypy type-check
  entry: bash -c 'docker compose exec -T api uv run mypy app'
  language: system
  pass_filenames: false

Gate deploy pipeline on CI passing for the tagged commit
  .github/workflows/deploy.yml
Due: none

Fix typescript lines baseline to 97% (V8 coverage fluctuation)
  .coverage-baseline.json
Due: none

Add design doc for reflection journal
  docs/plans/2026-02-22-reflection-journal-design.md
Due: none

Add design doc for guided reflection prompts
  docs/plans/2026-02-22-reflection-prompts-design.md
Due: none

Add implementation plan for reflection journal and guided prompts
  docs/plans/2026-02-22-reflection-journal-plan.md
Due: none

Add JournalEntry model and database migration
  api/alembic/versions/2f8000e0372b_add_journal_entries.py
  api/app/models/__init__.py
  api/app/models/journal_entry.py
  api/app/models/tree.py
Due: mypy

Add journal entries CRUD router and backend tests
  api/app/main.py
  api/app/routers/journal.py
  api/app/schemas/tree.py
  api/tests/test_journal.py
Due: mypy

Add journal entry data hooks and API functions
  frontend/src/hooks/useTreeData.test.ts
  frontend/src/hooks/useTreeData.ts
  frontend/src/hooks/useTreeMutations.test.tsx
  frontend/src/hooks/useTreeMutations.ts
  frontend/src/lib/api.ts
  frontend/src/types/api.ts
  frontend/src/types/domain.ts
Due: biome-check, tsc

Add react-markdown dependency for journal preview
  frontend/package-lock.json
  frontend/package.json
Due: none

Add EN and NL translations for journal and reflection prompts
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
Due: none

Add journal entry list and form components
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/journal/EntityLinkPicker.tsx
  frontend/src/components/journal/Journal.css
  frontend/src/components/journal/JournalEntryForm.test.tsx
  frontend/src/components/journal/JournalEntryForm.tsx
  frontend/src/components/journal/JournalEntryList.test.tsx
  frontend/src/components/journal/JournalEntryList.tsx
  frontend/src/lib/reflectionPrompts.test.ts
  frontend/src/lib/reflectionPrompts.ts
Due: biome-check, tsc

Add journal slide-out panel to canvas and timeline views
  frontend/src/components/journal/Journal.css
  frontend/src/components/journal/JournalPanel.test.tsx
  frontend/src/components/journal/JournalPanel.tsx
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add dedicated journal page with toolbar tab
  frontend/src/App.tsx
  frontend/src/components/tree/ViewTabs.test.tsx
  frontend/src/components/tree/ViewTabs.tsx
  frontend/src/pages/JournalPage.css
  frontend/src/pages/JournalPage.tsx
Due: biome-check, tsc

Add contextual reflection prompts and canvas nudge banner
  frontend/src/components/PatternView.tsx
  frontend/src/components/journal/JournalEntryForm.tsx
  frontend/src/components/journal/JournalEntryList.tsx
  frontend/src/components/journal/JournalPanel.tsx
  frontend/src/components/tree/CanvasSettingsContent.test.tsx
  frontend/src/components/tree/CanvasSettingsContent.tsx
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/ReflectionNudge.test.tsx
  frontend/src/components/tree/ReflectionNudge.tsx
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/hooks/useCanvasSettings.test.ts
  frontend/src/hooks/useCanvasSettings.ts
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Mark reflection journal and guided prompts as done in roadmap
  docs/roadmap.md
  frontend/src/components/journal/JournalEntryList.tsx
Due: biome-check, tsc

Condense canvas and timeline toolbar buttons to icon-only with tooltips
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Enhance journal page with rich card previews and notebook decoration
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/journal/Journal.css
  frontend/src/components/journal/JournalDecoration.tsx
  frontend/src/components/journal/JournalEntryForm.tsx
  frontend/src/components/journal/JournalEntryList.test.tsx
  frontend/src/components/journal/JournalEntryList.tsx
  frontend/src/lib/journalChips.ts
  frontend/src/pages/JournalPage.css
  frontend/src/pages/JournalPage.tsx
Due: biome-check, tsc

Restructure journal cards with header/footer and border-only hover
  frontend/src/components/journal/Journal.css
  frontend/src/components/journal/JournalEntryList.test.tsx
  frontend/src/components/journal/JournalEntryList.tsx
Due: biome-check, tsc

Default reflection prompts setting to off
  frontend/src/hooks/useCanvasSettings.test.ts
  frontend/src/hooks/useCanvasSettings.ts
Due: biome-check, tsc

Compact canvas settings panel with 2-column grids and tighter spacing
  frontend/src/components/tree/CanvasSettingsContent.tsx
  frontend/src/components/tree/SettingsPanel.css
Due: biome-check, tsc

Compact account tab with tighter inputs and non-italic section titles
  frontend/src/components/tree/SettingsPanel.css
Due: none

Group auto-layout and undo toolbar buttons with shared border
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Fix toolbar tooltip z-index to render above settings dropdown
  frontend/src/components/tree/TreeCanvas.css
Due: none

Add API rate limiting design doc and update roadmap
  docs/plans/2026-02-22-api-rate-limiting-design.md
  docs/roadmap.md
Due: none

Add unit tests for journalChips to restore coverage baseline
  frontend/src/lib/journalChips.test.ts
Due: biome-check, tsc

Poll for CI completion in deploy pipeline before proceeding
  .github/workflows/deploy.yml
Due: none

Add in-memory login rate limiter with progressive backoff
  api/app/rate_limiter.py
  api/tests/test_rate_limiter.py
Due: mypy

Integrate login rate limiter with progressive backoff
  api/app/routers/auth.py
  api/tests/conftest.py
  api/tests/test_rate_limiter.py
  api/tests/test_rate_limiter_integration.py
Due: mypy

Add nginx rate limiting zones for auth and API endpoints
  frontend/nginx.conf
Due: none

Add redaction edge case tests to restore coverage baseline
  api/tests/test_rate_limiter.py
Due: mypy

Add API rate limiting implementation plan
  docs/plans/2026-02-23-api-rate-limiting-plan.md
Due: none

Extract icon button class constant to fix duplicate string warning
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Simplify rate limiter to reduce cognitive complexity to A
  api/app/rate_limiter.py
Due: mypy

Simplify sync router to reduce all functions to complexity A
  api/app/routers/sync.py
Due: mypy

Extract token recency check to simplify resend_verification
  api/app/routers/auth.py
Due: mypy

Reduce cognitive complexity of admin_stats.py from B to A
  api/app/routers/admin_stats.py
Due: mypy

Fix nginx regex locations not stripping /api prefix
  frontend/nginx.conf
Due: none

Sanitize log inputs to prevent log injection (CWE-117)
  api/app/rate_limiter.py
  api/tests/test_rate_limiter.py
Due: mypy

Sanitize ip/email at entry point of check_and_tarpit
  api/app/rate_limiter.py
Due: mypy

Add journal tests to restore TypeScript coverage baseline
  frontend/src/components/journal/JournalDecoration.test.tsx
  frontend/src/components/journal/JournalEntryList.test.tsx
Due: biome-check, tsc

Path conditions:
  biome-check: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  tsc: any of: \.tsx?$
  mypy: any of: \.py$
