Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx, json]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'docker compose exec -T api uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

Mark UX-16 as done (resolved by UX-12 footer simplification)
  docs/roadmap.md
Due: none

Polish settings modal UX: fixed height, merged tabs, better styling
  frontend/src/components/tree/SettingsPanel.css
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
Due: biome-check, tsc

Normalize CSS opacity value (0.80 to 0.8)
  frontend/src/styles/auth.css
Due: none

Redesign settings from dropdown panel to modal with vertical tabs
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/SettingsPanel.css
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
Due: biome-check, tsc

Fix e2e tests for verification mode and password reset
  frontend/e2e/helpers/auth.ts
  frontend/e2e/password-reset.spec.ts
  frontend/src/App.tsx
Due: biome-check, tsc

Fix e2e tests for password visibility toggle and settings modal
  frontend/e2e/auth-modal.spec.ts
  frontend/e2e/auth.spec.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/password-reset.spec.ts
  frontend/e2e/settings.spec.ts
Due: tsc

Extract settings.title constant to fix sonarjs/no-duplicate-string
  frontend/src/components/tree/SettingsPanel.tsx
Due: biome-check, tsc

Update e2e settings tests for modal with vertical tabs
  frontend/e2e/settings.spec.ts
Due: tsc

Fix React Doctor findings in ResetPasswordPage
  frontend/src/pages/ResetPasswordPage.test.tsx
  frontend/src/pages/ResetPasswordPage.tsx
Due: biome-check, tsc

chore: remove unused vite-plugin-top-level-await and vite-plugin-wasm
  frontend/package.json
Due: none

chore: bump vite 8, plugin-react 6, typescript 6 in package.json
  frontend/package.json
Due: none

chore: migrate vite config and tsconfig for Vite 8 + TypeScript 6
  frontend/tsconfig.app.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: tsc

chore: regenerate lockfile for vite 8, plugin-react 6, typescript 6
  frontend/package-lock.json
Due: none

chore: fix peer deps for TypeScript 6 compatibility
  frontend/package-lock.json
  frontend/package.json
Due: none

Added upgrade plan
  docs/plans/2026-03-30-frontend-toolchain-upgrade.md
Due: none

chore: upgrade i18next 26, react-i18next 17
  frontend/package-lock.json
  frontend/package.json
Due: none

Added upgrade plan for il8next
  docs/plans/2026-03-30-i18next-26-upgrade.md
Due: none

chore: add make update-deps target for syncing npm deps into Docker
  Makefile
Due: none

chore: update uv.lock (pytest-cov 7.1.0, ruff 0.15.10)
  api/uv.lock
Due: none

ci(react-doctor): pin version and fix flatMap warnings
  .github/workflows/ci.yml
  frontend/src/components/timeline/timelineMarkers.tsx
  frontend/src/components/tree/LifeEventsTab.tsx
  frontend/src/components/tree/PersonLinkField.tsx
  frontend/src/components/tree/TraumaEventsTab.tsx
  frontend/src/components/tree/TurningPointsTab.tsx
Due: biome-check, tsc

ci(e2e): bump Playwright docker image to 1.59.1
  docker-compose.yml
Due: none

ci(react-doctor): pin version and fix flatMap warnings (#97)
  .github/workflows/ci.yml
  frontend/src/components/timeline/timelineMarkers.tsx
  frontend/src/components/tree/LifeEventsTab.tsx
  frontend/src/components/tree/PersonLinkField.tsx
  frontend/src/components/tree/TraumaEventsTab.tsx
  frontend/src/components/tree/TurningPointsTab.tsx
Due: biome-check, tsc

test(ChangePassphraseSection): flush async updates to silence act warning
  frontend/src/components/tree/settings/ChangePassphraseSection.test.tsx
Due: biome-check, tsc

docs: document trunk-based development as project convention
  AGENTS.md
Due: none

fix(api): install dev extras in container and shield venv from bind mount
  api/Dockerfile
  docker-compose.yml
Due: none

chore: drop unused eslint-disable directives for sonarjs rule
  frontend/src/components/AuthModal.test.tsx
  frontend/src/components/tree/settings/PassphraseHintSection.test.tsx
  frontend/src/lib/api.test.ts
  frontend/src/pages/RegisterPage.test.tsx
  frontend/src/pages/UnlockPage.test.tsx
Due: biome-check, tsc

test: lift coverage on under-tested modules to >=95%
  frontend/src/components/timeline/MarkerDetailCard.test.tsx
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonTab.test.tsx
  frontend/src/components/tree/RelationshipPopover.test.tsx
  frontend/src/components/tree/settings/PassphraseHintSection.test.tsx
  frontend/src/lib/treeLayoutHelpers.unit.test.ts
Due: biome-check, tsc

seo: add per-page canonical, hreflang alternates, robots.txt, sitemap.xml
  frontend/index.html
  frontend/nginx.conf
  frontend/public/robots.txt
  frontend/public/sitemap.xml
Due: none

test(EventCard): read borderRadius from inline style instead of toHaveStyle
  frontend/src/components/tree/EventCard.test.tsx
Due: biome-check, tsc

feat(tree): inherit biological parents when adding a biological sibling
  frontend/src/lib/parentInheritance.ts
  frontend/src/lib/parentInheritance.unit.test.ts
  frontend/src/pages/TreeWorkspacePage.test.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

design: phase 1 of design handoff — token + brand-rule sync
  AGENTS.md
  docs/design_handoff/README.md
  docs/design_handoff/README_design_system.md
  docs/design_handoff/SKILL.md
  docs/design_handoff/assets/favicon.svg
  docs/design_handoff/assets/hero-dark.webp
  docs/design_handoff/assets/hero-light.webp
  docs/design_handoff/assets/hero-unlock-dark.webp
  docs/design_handoff/assets/leaf-motif.svg
  docs/design_handoff/assets/welcome-dark.webp
  docs/design_handoff/assets/welcome-light.webp
  docs/design_handoff/colors_and_type.css
  docs/design_handoff/ui_kits/traumatrees-app/AuthLanding.jsx
  docs/design_handoff/ui_kits/traumatrees-app/README.md
  docs/design_handoff/ui_kits/traumatrees-app/TreeList.jsx
  docs/design_handoff/ui_kits/traumatrees-app/Workspace.jsx
  docs/design_handoff/ui_kits/traumatrees-app/components.jsx
  docs/design_handoff/ui_kits/traumatrees-app/index.html
  docs/plans/design_handoff_phase_2_3.md
  frontend/src/styles/auth.css
  frontend/src/styles/theme.css
Due: none

design: phase 2 step 1 — input font-size to 15px and brand logomark
  frontend/src/components/AuthWelcome.tsx
  frontend/src/components/Logomark.test.tsx
  frontend/src/components/Logomark.tsx
  frontend/src/styles/auth.css
  frontend/src/styles/theme.css
Due: biome-check, tsc

design: phase 2 step 2 — chunkier .btn padding to match design kit
  frontend/src/styles/theme.css
Due: none

docs(design): mark phase 2 complete in handoff plan
  docs/plans/design_handoff_phase_2_3.md
Due: none

docs(design): record phase 3 open decisions
  docs/plans/design_handoff_phase_2_3.md
Due: none

design(auth): move brand mark to hero overlay with poetic tagline
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/AuthHero.test.tsx
  frontend/src/components/AuthHero.tsx
  frontend/src/components/AuthWelcome.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

design(tree-list): add brand logomark to each tree row
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/tree-list.css
Due: biome-check, tsc
