Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx, json]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'docker compose exec -T api uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

Fix overlapping pattern labels on shared person rows
  frontend/src/components/timeline/TimelinePatternLanes.test.tsx
  frontend/src/components/timeline/TimelinePatternLanes.tsx
Due: biome-check, tsc

Fix pattern visibility toggle to hide the toggled pattern
  frontend/src/hooks/useTimelineFilters.test.ts
  frontend/src/hooks/useTimelineFilters.ts
Due: biome-check, tsc

Address code review: update docs, fix punctuation, improve accessibility
  docs/plans/2026-02-18-timeline-redesign-design.md
  docs/plans/2026-02-19-timeline-settings-design.md
  docs/plans/2026-02-20-timeline-pattern-redesign.md
  frontend/src/components/timeline/AgePartnerLine.tsx
  frontend/src/components/timeline/PartnerLine.tsx
  frontend/src/components/timeline/TimelinePatternLanes.test.tsx
  frontend/src/components/timeline/TimelinePatternLanes.tsx
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Reduce cognitive complexity in useTimelineFilters
  frontend/src/hooks/useTimelineFilters.ts
Due: biome-check, tsc

Add tests for TimelineSettingsContent, PersonLane, and PatternPanel
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/tree/PatternPanel.test.tsx
  frontend/src/components/tree/TimelineSettingsContent.test.tsx
Due: biome-check, tsc

Improve TS test coverage to 97% line coverage
  frontend/src/components/PatternView.test.tsx
  frontend/src/components/timeline/TimelineChipBar.test.tsx
Due: biome-check, tsc

Track both statement and line coverage in TS coverage gate
  .coverage-baseline.json
  Makefile
  scripts/coverage-gate.sh
Due: none

Raise TS statement coverage to 97% and update roadmap
  .coverage-baseline.json
  docs/roadmap.md
  frontend/src/components/FeedbackModal.test.tsx
  frontend/src/components/timeline/AgePersonLane.test.tsx
  frontend/src/components/timeline/CreatePatternMiniForm.test.tsx
  frontend/src/components/timeline/MarkerDetailCard.test.tsx
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/timeline/TimelinePatternLanes.test.tsx
  frontend/src/components/tree/PatternPanel.test.tsx
  frontend/src/hooks/useTimelineFilters.test.ts
  frontend/src/hooks/useTreeData.test.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/crypto.test.ts
Due: biome-check, tsc

Add design doc for PersonDetailPanel redesign
  docs/plans/2026-02-20-person-detail-panel-redesign.md
Due: none

Add implementation plan for PersonDetailPanel redesign
  docs/plans/2026-02-20-person-detail-panel-redesign-plan.md
Due: none

Add EditSubPanel slide-over container component
  frontend/src/components/tree/EditSubPanel.test.tsx
  frontend/src/components/tree/EditSubPanel.tsx
  frontend/src/styles/detail-panel.css
Due: biome-check, tsc

Add PersonLinkField progressive disclosure component
  frontend/src/components/tree/PersonLinkField.test.tsx
  frontend/src/components/tree/PersonLinkField.tsx
  frontend/src/styles/detail-panel.css
Due: biome-check, tsc

Replace accordion with tabbed navigation in PersonDetailPanel
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
Due: biome-check, tsc

Add richer event card summaries with category pills and severity bars
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
Due: biome-check, tsc

Add richer classification card summaries with status pills and periods
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
Due: biome-check, tsc

Use EditSubPanel slide-over for event editing
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
Due: biome-check, tsc

Use EditSubPanel for classification and relationship editing
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
Due: biome-check, tsc

Extract tab content into separate components
  frontend/src/components/tree/ClassificationsTab.tsx
  frontend/src/components/tree/LifeEventsTab.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/PersonTab.tsx
  frontend/src/components/tree/RelationshipsTab.tsx
  frontend/src/components/tree/TraumaEventsTab.tsx
Due: biome-check, tsc

Clean up and verify PersonDetailPanel redesign
  frontend/src/components/tree/PersonDetailPanel.test.tsx
Due: biome-check, tsc

Widen detail panel to 480px for tab bar visibility
  frontend/src/components/tree/PersonDetailPanel.css
Due: none

Use short text-only tab labels in PersonDetailPanel
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
Due: biome-check, tsc

Re-add icons to tab bar
  frontend/src/components/tree/PersonDetailPanel.tsx
Due: biome-check, tsc

Add badge click to open detail panel with specific event for editing
  frontend/src/components/tree/ClassificationsTab.tsx
  frontend/src/components/tree/LifeEventsTab.tsx
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/PersonNode.test.tsx
  frontend/src/components/tree/PersonNode.tsx
  frontend/src/components/tree/TraumaEventsTab.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Update roadmap with scaling and reflection gap assessment
  docs/roadmap.md
Due: none

Improve detail panel layout and add cause of death field
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/PatternView.test.tsx
  frontend/src/components/timeline/AgePersonLane.test.tsx
  frontend/src/components/timeline/MarkerDetailCard.test.tsx
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/timeline/PersonSummaryCard.test.tsx
  frontend/src/components/timeline/TimelineChipBar.test.tsx
  frontend/src/components/timeline/TimelineFilterPanel.test.tsx
  frontend/src/components/timeline/TimelinePatternLanes.test.tsx
  frontend/src/components/timeline/TimelineView.test.tsx
  frontend/src/components/timeline/timelineHelpers.test.ts
  frontend/src/components/tree/PatternPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonLinkField.test.tsx
  frontend/src/components/tree/PersonNode.test.tsx
  frontend/src/components/tree/PersonTab.tsx
  frontend/src/components/tree/RelationshipDetailPanel.test.tsx
  frontend/src/hooks/useTimelineFilters.test.ts
  frontend/src/hooks/useTreeLayout.test.ts
  frontend/src/hooks/useTreeMutations.test.tsx
  frontend/src/lib/createDemoTree.ts
  frontend/src/lib/smartFilterGroups.test.ts
  frontend/src/lib/treeLayoutHelpers.test.ts
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/types/domain.ts
Due: biome-check, tsc

Polish detail panel: fix clipping, sliders, sub-panel, PersonLinkField
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/EditSubPanel.tsx
  frontend/src/components/tree/LifeEventsTab.tsx
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonLinkField.test.tsx
  frontend/src/components/tree/PersonLinkField.tsx
  frontend/src/components/tree/TraumaEventsTab.tsx
  frontend/src/styles/detail-panel.css
Due: biome-check, tsc

Redesign sub-panel header and consolidate orphaned CSS
  frontend/src/components/tree/ClassificationsTab.tsx
  frontend/src/components/tree/EditSubPanel.tsx
  frontend/src/components/tree/LifeEventsTab.tsx
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/TraumaEventsTab.tsx
  frontend/src/styles/detail-panel.css
Due: biome-check, tsc

Suppress false positive in privacy scan for test fixture
  frontend/src/lib/api.test.ts
Due: biome-check, tsc

Add colorblind accessibility design doc and implementation plan
  docs/plans/2026-02-21-colorblind-accessibility.md
Due: none

Add .worktrees/ to .gitignore
  .gitignore
Due: none

Adjust trauma palette for red-green colorblind distinguishability
  frontend/src/lib/traumaColors.ts
  frontend/src/styles/theme.css
Due: biome-check, tsc

Adjust life event palette for red-green colorblind distinguishability
  frontend/src/lib/lifeEventColors.ts
  frontend/src/styles/theme.css
Due: biome-check, tsc

Add rotated partner labels to age-mode timeline
  frontend/src/components/timeline/AgePartnerLine.test.tsx
  frontend/src/components/timeline/AgePartnerLine.tsx
Due: biome-check, tsc

Add category initials to badges when multiple same-shape badges exist
  frontend/src/components/tree/PersonNode.css
  frontend/src/components/tree/PersonNode.test.tsx
  frontend/src/components/tree/PersonNode.tsx
Due: biome-check, tsc

Add showPartnerLabels setting and fix age view label zoom scaling
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/timeline/AgePartnerLine.test.tsx
  frontend/src/components/timeline/AgePartnerLine.tsx
  frontend/src/components/timeline/PartnerLine.test.tsx
  frontend/src/components/timeline/PartnerLine.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/components/tree/TimelineSettingsContent.test.tsx
  frontend/src/components/tree/TimelineSettingsContent.tsx
  frontend/src/hooks/useTimelineSettings.test.ts
  frontend/src/hooks/useTimelineSettings.ts
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Disable partner labels toggle when partner lines are hidden
  frontend/src/components/tree/TimelineSettingsContent.test.tsx
  frontend/src/components/tree/TimelineSettingsContent.tsx
Due: biome-check, tsc

Extract VerticalBar and computeBarPositions to reduce cognitive complexity
  frontend/src/components/timeline/AgePartnerLine.tsx
Due: biome-check, tsc

Extract duplicated badge class string to constant in PersonNode
  frontend/src/components/tree/PersonNode.tsx
Due: biome-check, tsc

Extract shared CRUD logic from entity routers into crud_helpers module
  api/app/routers/classifications.py
  api/app/routers/crud_helpers.py
  api/app/routers/events.py
  api/app/routers/life_events.py
  api/app/routers/patterns.py
  api/app/schemas/tree.py
  api/tests/test_crud_helpers.py
Due: mypy

Split admin.py into admin_stats.py and admin_feedback.py for better cohesion
  api/app/main.py
  api/app/routers/admin_feedback.py
  api/app/routers/admin_stats.py
Due: mypy
