Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
  language: system

tsc:
  name: TypeScript type-check
  entry: bash -c 'cd frontend && npx tsc -b'
  language: system
  pass_filenames: false

mypy:
  name: mypy type-check
  entry: bash -c 'docker compose exec -T api uv run mypy app'
  language: system
  pass_filenames: false

feat(tree): pattern focus mode (canvas spotlight), replacing the blobs
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/CanvasToolbarButtons.test.tsx
  frontend/src/components/tree/CanvasToolbarButtons.tsx
  frontend/src/components/tree/PatternFocusBanner.css
  frontend/src/components/tree/PatternFocusBanner.test.tsx
  frontend/src/components/tree/PatternFocusBanner.tsx
  frontend/src/components/tree/PatternFocusMenu.css
  frontend/src/components/tree/PatternFocusMenu.test.tsx
  frontend/src/components/tree/PatternFocusMenu.tsx
  frontend/src/components/tree/PersonNode.tsx
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/lib/treeLayoutHelpers.ts
  frontend/src/pages/TreeWorkspacePage.test.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

refactor(tree): pattern focus detail as an in-scene lower-left panel
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/PatternView.tsx
  frontend/src/components/tree/PatternFocusBanner.css
  frontend/src/components/tree/PatternFocusBanner.test.tsx
  frontend/src/components/tree/PatternFocusBanner.tsx
  frontend/src/components/tree/PatternFocusPanel.css
  frontend/src/components/tree/PatternFocusPanel.test.tsx
  frontend/src/components/tree/PatternFocusPanel.tsx
  frontend/src/lib/patternEntities.ts
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

feat(tree): pattern focus panel title in node style, plus an edit button
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/PatternFocusPanel.css
  frontend/src/components/tree/PatternFocusPanel.test.tsx
  frontend/src/components/tree/PatternFocusPanel.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

fix(tree): normalise pattern panel row button so the hover matches the theme
  frontend/src/components/tree/PatternPanel.css
Due: none

fix(panel): give panel-header primary and close buttons one explicit height
  frontend/src/styles/theme.css
Due: none

fix(tree): make sibling-group counting, promotion and display consistent
  frontend/src/components/tree/SiblingGroupNode.test.tsx
  frontend/src/components/tree/SiblingGroupNode.tsx
  frontend/src/components/tree/SiblingGroupPanel.test.tsx
  frontend/src/components/tree/SiblingGroupPanel.tsx
  frontend/src/hooks/usePromoteMember.test.tsx
  frontend/src/hooks/usePromoteMember.ts
  frontend/src/hooks/usePromoteMember.unit.test.ts
  frontend/src/lib/treeLayoutHelpers.ts
  frontend/src/lib/treeLayoutHelpers.unit.test.ts
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

feat(tree): bulk-link a sibling group to a person in one drag
  frontend/src/components/tree/RelationshipPopover.test.tsx
  frontend/src/components/tree/RelationshipPopover.tsx
  frontend/src/hooks/useTreeMutations.test.tsx
  frontend/src/hooks/useTreeMutations.ts
  frontend/src/lib/siblingGroupConnect.ts
  frontend/src/lib/siblingGroupConnect.unit.test.ts
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

feat(demo): use the pattern spotlight in the live demo
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/PatternConnectors.test.tsx
  frontend/src/components/tree/PatternConnectors.tsx
  frontend/src/components/tree/PatternFocusMenu.test.tsx
  frontend/src/components/tree/PatternFocusMenu.tsx
  frontend/src/components/tree/PatternFocusPanel.test.tsx
  frontend/src/components/tree/PatternFocusPanel.tsx
  frontend/src/components/tree/patternConnectors.helpers.ts
  frontend/src/hooks/usePatternFocus.test.tsx
  frontend/src/hooks/usePatternFocus.ts
  frontend/src/hooks/usePatternFocus.unit.test.ts
  frontend/src/pages/DemoTreePage.css
  frontend/src/pages/DemoTreePage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

fix(demo): make the pattern control discoverable and fix a pattern's people
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/PatternFocusMenu.css
  frontend/src/components/tree/PatternFocusMenu.test.tsx
  frontend/src/components/tree/PatternFocusMenu.tsx
  frontend/src/fixtures/demo-tree-en.json
  frontend/src/fixtures/demo-tree-nl.json
  frontend/src/fixtures/demoFixtures.unit.test.ts
  frontend/src/pages/DemoTreePage.css
  frontend/src/pages/DemoTreePage.tsx
Due: biome-check, tsc

docs: add CHANGELOG.md assembled from tags and roadmap
  CHANGELOG.md
Due: none

docs(roadmap): prune finished work and re-prioritise the remainder
  docs/roadmap.md
Due: none

fix(mobile): scope the desktop-only banner to the app, not public pages
  frontend/src/components/MobileBanner.test.tsx
  frontend/src/components/MobileBanner.tsx
Due: biome-check, tsc

polish(mobile): clean auth card and tappable footer colophon on phones
  frontend/src/styles/auth.css
  frontend/src/styles/footer.css
Due: none

feat(mobile): collapse the footer behind a hamburger; keep the safety line
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/AppFooter.test.tsx
  frontend/src/components/AppFooter.tsx
  frontend/src/styles/auth.css
  frontend/src/styles/footer.css
Due: biome-check, tsc

fix(mobile): footer menu opens as a floating popover; roomier safety bar
  frontend/src/components/AppFooter.test.tsx
  frontend/src/components/AppFooter.tsx
  frontend/src/styles/footer.css
Due: biome-check, tsc

fix(mobile): footer hamburger opens a vertical menu list of options
  frontend/src/components/AppFooter.test.tsx
  frontend/src/components/AppFooter.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/styles/footer.css
Due: biome-check, tsc

fix(auth): keep the back button clickable over the centred login card
  frontend/src/styles/auth.css
Due: none

docs: record the 0.1.161-0.1.167 mobile pass in changelog and roadmap
  CHANGELOG.md
  docs/roadmap.md
Due: none

feat(deploy): run a Playwright smoketest against production after deploy
  .github/workflows/deploy.yml
  CHANGELOG.md
  docs/roadmap.md
  frontend/e2e/auth.spec.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/smoke-production.spec.ts
  frontend/e2e/tree-workflow.spec.ts
  frontend/playwright.config.ts
Due: tsc

refine(inspector): aligned label grammar and at-rest presence
  frontend/src/components/inspector/inspector.css
  frontend/src/components/tree/ClassificationsTab.tsx
  frontend/src/components/tree/PartnerPeriodsEditor.tsx
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonTab.test.tsx
  frontend/src/components/tree/PersonTab.tsx
  frontend/src/components/tree/SiblingGroupPanel.tsx
Due: biome-check, tsc

fix(inspector): keep hidden-label controls and grouped content in the value column
  frontend/src/components/inspector/inspector.css
  frontend/src/components/tree/ClassificationsTab.tsx
Due: biome-check, tsc

refine(views): atmospheric backgrounds across timeline, patterns, journal, insights
  frontend/src/components/PatternView.tsx
  frontend/src/components/timeline/TimelineAgeContent.test.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineView.test.tsx
  frontend/src/components/timeline/TimelineYearsContent.test.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/pages/InsightsPage.css
  frontend/src/pages/InsightsPage.tsx
  frontend/src/pages/JournalPage.tsx
  frontend/src/styles/theme.css
Due: biome-check, tsc

refine(decoration): true topographic contours instead of corner rays
  frontend/src/components/tree/BranchDecoration.tsx
  frontend/src/styles/theme.css
Due: biome-check, tsc

refine(decoration): contours as level sets of a two-hill field (marching squares)
  frontend/src/components/tree/BranchDecoration.tsx
  frontend/src/components/tree/contourField.ts
  frontend/src/components/tree/contourField.unit.test.ts
Due: biome-check, tsc

feat(trees): give the tree list a pulse
  api/app/routers/trees.py
  api/app/schemas/tree.py
  api/tests/integration/test_trees.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/lib/relativeTime.ts
  frontend/src/lib/relativeTime.unit.test.ts
  frontend/src/pages/TreeListPage.tsx
  frontend/src/pages/treeListMeta.ts
  frontend/src/pages/treeListMeta.unit.test.ts
  frontend/src/styles/tree-list.css
  frontend/src/types/api.ts
Due: biome-check, tsc, mypy

feat(trees): a front porch for returning users
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/tree-list.css
Due: biome-check, tsc

security: hardening pass from full audit
  .env.example
  .github/workflows/deploy.yml
  CHANGELOG.md
  api/app/config.py
  api/app/main.py
  api/app/rate_limiter.py
  api/app/routers/auth.py
  api/app/routers/waitlist.py
  api/app/schemas/auth.py
  api/app/schemas/features.py
  api/app/schemas/tree.py
  api/tests/integration/test_events.py
  api/tests/integration/test_waitlist.py
  api/tests/unit/test_client_ip.py
  api/tests/unit/test_waitlist_helpers.py
  api/uv.lock
  frontend/index.html
  frontend/nginx.conf
Due: mypy

test(smoke): harden production smoketest for cold-start latency
  frontend/e2e/smoke-production.spec.ts
  frontend/playwright.config.ts
Due: tsc

docs: node context menu design
  docs/plans/2026-07-05-node-context-menu-design.md
Due: none

feat(canvas): right-click context menu on person nodes
  frontend/e2e/data-entry.spec.ts
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/NodeContextMenu.css
  frontend/src/components/tree/NodeContextMenu.test.tsx
  frontend/src/components/tree/NodeContextMenu.tsx
  frontend/src/hooks/useEditingState.ts
  frontend/src/lib/relatedPersonPlan.ts
  frontend/src/lib/relatedPersonPlan.unit.test.ts
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

feat(seo): homepage title and description target genogram keywords
  frontend/nginx.conf
Due: none

feat(seo): genogram landing pages at /genogram and /genogram-maken
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/App.tsx
  frontend/src/pages/GenogramPage.test.tsx
  frontend/src/pages/GenogramPage.tsx
  frontend/src/styles/genogram.css
Due: biome-check, tsc

feat(seo): prerender genogram pages to static HTML at build time
  .gitignore
  frontend/nginx.conf
  frontend/package.json
  frontend/scripts/prerender.mjs
  frontend/src/prerender/entry.test.tsx
  frontend/src/prerender/entry.tsx
  frontend/src/prerender/html.ts
  frontend/src/prerender/html.unit.test.ts
Due: biome-check, tsc

feat(seo): add genogram pages to the sitemap
  frontend/nginx.conf
  frontend/public/sitemap.xml
Due: none

feat(seo): link the genogram page from the footer
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/AppFooter.tsx
Due: biome-check, tsc

refactor(seo): move JSON-LD out of JSX and drop the custom load hook
  frontend/scripts/prerender.mjs
  frontend/src/pages/GenogramPage.test.tsx
  frontend/src/pages/GenogramPage.tsx
  frontend/src/prerender/entry.test.tsx
  frontend/src/prerender/entry.tsx
  frontend/src/prerender/html.ts
  frontend/src/prerender/html.unit.test.ts
Due: biome-check, tsc

fix(seo): avoid duplicate JSON-LD after hydration on prerendered pages
  frontend/src/pages/GenogramPage.test.tsx
  frontend/src/pages/GenogramPage.tsx
  frontend/src/prerender/html.ts
  frontend/src/prerender/html.unit.test.ts
Due: biome-check, tsc

Path conditions:
  biome-check: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  tsc: any of: \.tsx?$
  mypy: any of: \.py$
