Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
  language: system

tsc:
  name: TypeScript type-check
  entry: bash -c 'cd frontend && npx tsc -b'
  language: system
  pass_filenames: false

mypy:
  name: mypy type-check
  entry: bash -c 'docker compose exec -T api uv run mypy app'
  language: system
  pass_filenames: false

Fix onboarding modal showing on every login
  api/tests/test_auth.py
  frontend/src/App.tsx
Due: biome-check, tsc, mypy

Add OnboardingGuard tests covering localStorage re-sync bug
  frontend/src/App.test.tsx
  frontend/src/App.tsx
Due: biome-check, tsc

Auto-reload on stale chunk 404 after deploy
  frontend/src/App.tsx
Due: biome-check, tsc

Update AGENTS.md and CONTRIBUTING.md to current state
  AGENTS.md
  CONTRIBUTING.md
Due: none

Add design doc for timeline view redesign
  docs/plans/2026-02-18-timeline-redesign-design.md
Due: none

Restore copyright and license colophon to footer
  frontend/src/components/AppFooter.test.tsx
  frontend/src/components/AppFooter.tsx
  frontend/src/styles/footer.css
Due: biome-check, tsc

Fix auth page content clipping on tablet viewports
  frontend/src/styles/auth.css
Due: none

Rewrite timeline view from pure D3 to React+D3 hybrid architecture
  frontend/src/components/timeline/PartnerLine.test.tsx
  frontend/src/components/timeline/PartnerLine.tsx
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/timeline/TimelineTooltip.test.tsx
  frontend/src/components/timeline/TimelineTooltip.tsx
  frontend/src/components/timeline/TimelineView.test.tsx
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/timeline/timelineHelpers.test.ts
  frontend/src/components/timeline/timelineHelpers.ts
  frontend/src/hooks/useTimelineZoom.test.ts
  frontend/src/hooks/useTimelineZoom.ts
Due: biome-check, tsc

Add timeline interaction layers: explore/edit modes, filters, and chip bar
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/timeline/TimelineChipBar.css
  frontend/src/components/timeline/TimelineChipBar.test.tsx
  frontend/src/components/timeline/TimelineChipBar.tsx
  frontend/src/components/timeline/TimelineFilterPanel.css
  frontend/src/components/timeline/TimelineFilterPanel.test.tsx
  frontend/src/components/timeline/TimelineFilterPanel.tsx
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/TimelineView.test.tsx
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/hooks/useTimelineFilters.test.ts
  frontend/src/hooks/useTimelineFilters.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Add age mode to timeline view (Phase 3)
  frontend/src/components/timeline/AgePersonLane.test.tsx
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/TimelineView.test.tsx
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/components/timeline/timelineHelpers.test.ts
  frontend/src/components/timeline/timelineHelpers.ts
  frontend/src/hooks/useTimelineZoom.test.ts
  frontend/src/hooks/useTimelineZoom.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Add pattern arcs and annotate mode to timeline view (Phase 4)
  frontend/src/components/timeline/AgePersonLane.test.tsx
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/CreatePatternMiniForm.test.tsx
  frontend/src/components/timeline/CreatePatternMiniForm.tsx
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineChipBar.test.tsx
  frontend/src/components/timeline/TimelineChipBar.tsx
  frontend/src/components/timeline/TimelineFilterPanel.test.tsx
  frontend/src/components/timeline/TimelineFilterPanel.tsx
  frontend/src/components/timeline/TimelinePatternArcs.test.tsx
  frontend/src/components/timeline/TimelinePatternArcs.tsx
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/hooks/useTimelineFilters.test.ts
  frontend/src/hooks/useTimelineFilters.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Add smart filter groups to timeline filter panel
  frontend/src/components/timeline/TimelineFilterPanel.css
  frontend/src/components/timeline/TimelineFilterPanel.test.tsx
  frontend/src/components/timeline/TimelineFilterPanel.tsx
  frontend/src/hooks/useTimelineFilters.test.ts
  frontend/src/hooks/useTimelineFilters.ts
  frontend/src/lib/smartFilterGroups.test.ts
  frontend/src/lib/smartFilterGroups.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Add quick filters, section badges, and dim/hide toggle to timeline filter panel
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineFilterPanel.css
  frontend/src/components/timeline/TimelineFilterPanel.test.tsx
  frontend/src/components/timeline/TimelineFilterPanel.tsx
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/hooks/useTimelineFilters.test.ts
  frontend/src/hooks/useTimelineFilters.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Fix timeline zoom to apply initial data-to-pixel transform
  frontend/src/hooks/useTimelineZoom.test.ts
  frontend/src/hooks/useTimelineZoom.ts
Due: biome-check, tsc

Fix timeline rendering by converting data-space to pixel-space via scales
  frontend/src/components/timeline/AgePersonLane.test.tsx
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/PartnerLine.test.tsx
  frontend/src/components/timeline/PartnerLine.tsx
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelinePatternArcs.test.tsx
  frontend/src/components/timeline/TimelinePatternArcs.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/hooks/useTimelineZoom.test.ts
  frontend/src/hooks/useTimelineZoom.ts
Due: biome-check, tsc

Prevent marker distortion during zoom with counter-scale transforms
  frontend/src/components/timeline/AgePersonLane.test.tsx
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/hooks/useTimelineZoom.ts
Due: biome-check, tsc

Redesign timeline toolbar with segment controls and consistent icon sizes
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/components/tree/TreeToolbar.tsx
  frontend/src/components/tree/ViewTabs.tsx
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Add solid border and shadow to toolbar for clearer separation from content
  frontend/src/components/tree/TreeCanvas.css
Due: none

Fix timeline background not filling viewport
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/components/timeline/timelineHelpers.ts
Due: biome-check, tsc

Add dedicated timeline settings panel with view-aware SettingsPanel architecture
  docs/plans/2026-02-19-timeline-settings-design.md
  frontend/src/components/timeline/AgePersonLane.test.tsx
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/components/tree/CanvasSettingsContent.tsx
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/components/tree/ThemeLanguageSettings.tsx
  frontend/src/components/tree/TimelineSettingsContent.tsx
  frontend/src/components/tree/TreeToolbar.test.tsx
  frontend/src/components/tree/TreeToolbar.tsx
  frontend/src/hooks/useTimelineSettings.test.ts
  frontend/src/hooks/useTimelineSettings.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/PatternPage.tsx
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Increase timeline gridline visibility by using text-muted color
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
Due: biome-check, tsc

Auto-create classification period from diagnosis year when no periods set
  frontend/src/components/tree/PersonDetailPanel.tsx
Due: biome-check, tsc

Redesign partner lines to render inside each partner's lane with labels
  docs/testplans/timeline-years-explore.md
  frontend/src/components/timeline/PartnerLine.test.tsx
  frontend/src/components/timeline/PartnerLine.tsx
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/timelineHelpers.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
Due: biome-check, tsc

Show partner lines for visible partners when other is hidden, counter-scale labels on zoom
  frontend/src/components/timeline/PartnerLine.test.tsx
  frontend/src/components/timeline/PartnerLine.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
Due: biome-check, tsc

Add design document for demo tree feature
  docs/plans/2026-02-19-demo-tree-design.md
Due: none

Add letter-spacing to timeline axis and person name labels
  frontend/src/components/timeline/TimelineView.css
Due: none

Auto-create divorced periods after ended marriages and refine partner labels
  frontend/src/components/timeline/PartnerLine.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/RelationshipDetailPanel.tsx
  frontend/src/locales/nl/translation.json
  frontend/src/types/domain.test.ts
  frontend/src/types/domain.ts
Due: biome-check, tsc

Prevent partner relationship labels from overlapping in timeline view
  frontend/src/components/timeline/PartnerLine.tsx
Due: biome-check, tsc

Reset D3 zoom state when timeline scale or dimensions change
  frontend/src/hooks/useTimelineZoom.ts
Due: biome-check, tsc

Equalize co-parents to same generation in timeline view
  frontend/src/components/timeline/timelineHelpers.test.ts
  frontend/src/components/timeline/timelineHelpers.ts
Due: biome-check, tsc

Compute generations from full person set to prevent shifts when filtering
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/components/timeline/timelineHelpers.ts
Due: biome-check, tsc

Add zoom controls to timeline and tree canvas, fix cognitive complexity
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/TimelineView.test.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/components/timeline/TimelineZoomControls.test.tsx
  frontend/src/components/timeline/TimelineZoomControls.tsx
  frontend/src/components/timeline/timelineHelpers.ts
  frontend/src/hooks/useTimelineZoom.test.ts
  frontend/src/hooks/useTimelineZoom.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/types/domain.ts
Due: biome-check, tsc

Add person summary card in explore mode and toggle-deselect on click
  frontend/src/components/timeline/PersonSummaryCard.test.tsx
  frontend/src/components/timeline/PersonSummaryCard.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineFilterPanel.test.tsx
  frontend/src/components/timeline/TimelineFilterPanel.tsx
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/TimelineView.test.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Fix lifebar blocking click events in timeline explore mode
  frontend/src/components/timeline/TimelineView.css
Due: none

Add marker detail card for event clicks in explore mode
  frontend/src/components/timeline/MarkerDetailCard.test.tsx
  frontend/src/components/timeline/MarkerDetailCard.tsx
  frontend/src/components/timeline/TimelineView.css
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Add privacy-ok comment to sessionStorage.getItem call
  frontend/src/App.tsx
Due: biome-check, tsc

Collapse individual person checkboxes and update dim/hide labels
  frontend/src/components/timeline/TimelineFilterPanel.css
  frontend/src/components/timeline/TimelineFilterPanel.test.tsx
  frontend/src/components/timeline/TimelineFilterPanel.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
Due: biome-check, tsc

Improve quick filter clarity and merge medication life event categories
  frontend/src/components/timeline/TimelineFilterPanel.css
  frontend/src/components/timeline/TimelineFilterPanel.tsx
  frontend/src/lib/lifeEventColors.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/styles/theme.css
  frontend/src/types/domain.ts
Due: biome-check, tsc

Show only used categories in filter panel and add classification subcategories
  frontend/src/components/timeline/TimelineFilterPanel.css
  frontend/src/components/timeline/TimelineFilterPanel.test.tsx
  frontend/src/components/timeline/TimelineFilterPanel.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Add subcategory-level filtering for DSM classifications
  frontend/src/components/timeline/TimelineChipBar.test.tsx
  frontend/src/components/timeline/TimelineFilterPanel.css
  frontend/src/components/timeline/TimelineFilterPanel.test.tsx
  frontend/src/components/timeline/TimelineFilterPanel.tsx
  frontend/src/hooks/useTimelineFilters.ts
Due: biome-check, tsc

Path conditions:
  biome-check: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  tsc: any of: \.tsx?$
  mypy: any of: \.py$
