Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx, json]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'docker compose exec -T api uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

fix: filter out Sentry errors from bots and crawlers
  frontend/src/main.tsx
Due: biome-check, tsc

feat: add react-doctor as quality gate in CI pipeline
  .github/workflows/ci.yml
  Makefile
  docs/roadmap.md
Due: none

Fix react-doctor findings #20-#24 and #26
  Makefile
  docs/roadmap.md
  frontend/e2e/helpers/db.ts
  frontend/src/components/AuthModal.tsx
  frontend/src/components/PatternView.tsx
  frontend/src/components/WorkspacePanelHost.tsx
  frontend/src/components/admin/RetentionSection.tsx
  frontend/src/components/timeline/PartnerLine.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/timeline/TimelineTooltip.tsx
  frontend/src/components/tree/ClassificationsTab.tsx
  frontend/src/components/tree/PatternPanel.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/PersonTab.tsx
  frontend/src/components/tree/RelationshipDetailPanel.tsx
  frontend/src/components/tree/RelationshipPopover.tsx
  frontend/src/components/tree/RelationshipsTab.tsx
  frontend/src/components/tree/SiblingGroupPanel.tsx
  frontend/src/components/tree/TraumaEventsTab.tsx
  frontend/src/components/tree/relationshipEdgeHelpers.ts
  frontend/src/components/tree/settings/ChangePassphraseSection.tsx
  frontend/src/hooks/useTimelineFilters.ts
  frontend/src/hooks/useTreeLayout.ts
  frontend/src/lib/treeLayoutHelpers.ts
  frontend/src/types/argon2-browser.d.ts
Due: biome-check, tsc

Mark react-doctor roadmap items as done (score 100/100)
  docs/roadmap.md
Due: none

Fix react-doctor v0.0.30 warnings to maintain 100/100 score
  frontend/e2e/helpers/auth.ts
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/tree/EventCard.tsx
  frontend/src/components/tree/RelationshipsTab.tsx
  frontend/src/contexts/EncryptionContext.tsx
Due: biome-check, tsc

Replace single-case switch statements with if for sonarjs compliance
  frontend/src/components/tree/LifeEventsTab.tsx
  frontend/src/components/tree/TraumaEventsTab.tsx
  frontend/src/components/tree/TurningPointsTab.tsx
Due: biome-check, tsc

Add knip config to ignore non-module files (argon2 WASM, e2e utility)
  frontend/knip.json
Due: none

Raise react-doctor quality gate from 95 to 100
  Makefile
Due: none

Switch to official react-doctor GitHub Action with min-score 100
  .github/workflows/ci.yml
Due: none

Fix react-doctor action to use millionco/react-doctor@main
  .github/workflows/ci.yml
Due: none

Use react-doctor action output to enforce score gate in CI
  .github/workflows/ci.yml
Due: none

Fix null event crash in Sentry beforeSend hook
  frontend/src/main.tsx
Due: biome-check, tsc

Fix feedback form 401 error for unauthenticated users
  frontend/src/components/AppFooter.test.tsx
  frontend/src/components/AppFooter.tsx
  frontend/src/components/FeedbackModal.test.tsx
  frontend/src/components/FeedbackModal.tsx
  frontend/src/styles/feedback.css
Due: biome-check, tsc

Rename test variable to avoid react-doctor secret detection false positive
  frontend/src/components/AppFooter.test.tsx
Due: biome-check, tsc

Reduce forgot_password complexity by extracting skip-check helper
  api/app/routers/auth.py
Due: mypy

Fix login form invisible on mobile (UX-1)
  docs/roadmap.md
  frontend/src/styles/auth.css
Due: none

Add UX and UI review findings to roadmap
  docs/roadmap.md
Due: none

Add password reset flow (UX-2)
  api/alembic/versions/3f7d5f997c37_add_password_reset_fields.py
  api/app/email.py
  api/app/models/user.py
  api/app/routers/auth.py
  api/app/schemas/auth.py
  api/tests/integration/conftest.py
  api/tests/integration/test_auth.py
  api/tests/unit/test_email.py
  docs/roadmap.md
  frontend/e2e/helpers/mailpit.ts
  frontend/e2e/password-reset.spec.ts
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/App.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/ForgotPasswordPage.test.tsx
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/ResetPasswordPage.test.tsx
  frontend/src/pages/ResetPasswordPage.tsx
  frontend/src/types/api.ts
Due: biome-check, tsc, mypy

Extract test credential to constant to fix sonarjs/no-hardcoded-passwords
  frontend/src/pages/ResetPasswordPage.test.tsx
Due: biome-check, tsc

Explain why Continue is disabled when password is weak (UX-5)
  docs/roadmap.md
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/RegisterPage.test.tsx
  frontend/src/pages/RegisterPage.tsx
Due: biome-check, tsc

Fix Node 25 localStorage warning in test suite
  frontend/src/components/MentalHealthBanner.test.tsx
  frontend/src/components/MobileBanner.test.tsx
  frontend/src/hooks/useCanvasSettings.test.ts
  frontend/src/hooks/useLocalStorageSettings.test.ts
  frontend/src/hooks/useTheme.test.ts
  frontend/src/hooks/useTimelineSettings.test.ts
  frontend/src/lib/api.test.ts
  frontend/src/test/setup.ts
Due: biome-check, tsc

Remove unused eslint-disable directive in ResetPasswordPage test
  frontend/src/pages/ResetPasswordPage.test.tsx
Due: biome-check, tsc

Add labeled step indicator to registration flow (UX-4)
  docs/roadmap.md
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/RegisterPage.test.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

Add password and passphrase visibility toggles (UX-3)
  docs/roadmap.md
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/AuthModal.tsx
  frontend/src/components/LockScreen.tsx
  frontend/src/components/PassphraseInput.test.tsx
  frontend/src/components/PassphraseInput.tsx
  frontend/src/components/PasswordInput.css
  frontend/src/components/PasswordInput.test.tsx
  frontend/src/components/PasswordInput.tsx
  frontend/src/components/tree/settings/ChangePassphraseSection.tsx
  frontend/src/components/tree/settings/ChangePasswordSection.tsx
  frontend/src/components/tree/settings/DeleteAccountSection.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/ResetPasswordPage.tsx
  frontend/src/pages/UnlockPage.tsx
Due: biome-check, tsc

Fix nested button in PatternPanel header
  frontend/src/components/tree/PatternPanel.tsx
Due: biome-check, tsc

Hide confusing "? -" when birth year is missing (UX-7)
  docs/roadmap.md
  frontend/src/components/tree/PersonNode.test.tsx
  frontend/src/components/tree/PersonNode.tsx
Due: biome-check, tsc

Align colophon row to the right and center support text
  frontend/src/styles/footer.css
Due: none

Simplify overloaded footer (UX-12)
  docs/roadmap.md
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/AppFooter.test.tsx
  frontend/src/components/AppFooter.tsx
  frontend/src/styles/footer.css
Due: biome-check, tsc

Revert action button labels to icon-only with tooltips (UX-6)
  docs/roadmap.md
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/ThemeToggle.tsx
  frontend/src/components/tree/CanvasToolbarButtons.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/components/tree/TreeToolbar.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeListPage.tsx
Due: biome-check, tsc

Add visible text labels to toolbar icon buttons (UX-6)
  docs/roadmap.md
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/CanvasToolbarButtons.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/components/tree/TreeToolbar.tsx
Due: biome-check, tsc

Phase 1 UI polish: contrast, depth, typography, theme consistency
  docs/roadmap.md
  frontend/src/components/MentalHealthBanner.css
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/styles/auth.css
  frontend/src/styles/footer.css
  frontend/src/styles/theme.css
Due: none

Make toolbar responsive for narrower screens
  frontend/src/components/tree/CanvasToolbarButtons.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/components/tree/TreeToolbar.tsx
  frontend/src/components/tree/ViewTabs.test.tsx
  frontend/src/components/tree/ViewTabs.tsx
Due: biome-check, tsc

Apply toolbar label pattern consistently across all views
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/ThemeToggle.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeListPage.tsx
Due: biome-check, tsc

Phase 2-3: person node, nav tabs, save/delete, welcome, auth modal
  docs/roadmap.md
  frontend/src/App.tsx
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonNode.css
  frontend/src/components/tree/PersonTab.tsx
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/pages/TreeListPage.tsx
Due: biome-check, tsc

Move UX-10 unsaved changes warning to backlog
  docs/roadmap.md
Due: none

Add password visibility toggle implementation plan
  docs/plans/2026-03-16-password-visibility-toggle.md
Due: none

Restore language toggle and theme switch to footer
  frontend/src/components/AppFooter.test.tsx
  frontend/src/components/AppFooter.tsx
Due: biome-check, tsc

Remaining UI items: shortcuts, demo button, transitions, dot grid
  docs/roadmap.md
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/styles/theme.css
Due: biome-check, tsc

Phase 2B: gender default and registration input grouping
  docs/roadmap.md
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/PersonTab.tsx
  frontend/src/hooks/usePromoteMember.test.tsx
  frontend/src/hooks/usePromoteMember.ts
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/TreeWorkspacePage.test.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc
