Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx, json]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'docker compose exec -T api uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

fix: accessibility pass on the tree list and theme tokens
  .impeccable/design.json
  DESIGN.md
  docs/design_handoff/colors_and_type.css
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/footer.css
  frontend/src/styles/theme.css
  frontend/src/styles/tree-list.css
  mobile/ios/Sources/Theme.swift
Due: biome-check, tsc

feat: move tree rename and delete behind a row options menu
  frontend/e2e/smoke-production.spec.ts
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/TreeRowMenu.test.tsx
  frontend/src/components/TreeRowMenu.tsx
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/tree-list.css
Due: biome-check, tsc

fix: make tree list and registration errors actionable
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/TreeRowMenu.test.tsx
  frontend/src/components/TreeRowMenu.tsx
  frontend/src/fixtures/demo-tree-en.json
  frontend/src/fixtures/demo-tree-nl.json
  frontend/src/lib/createDemoTree.unit.test.ts
  frontend/src/lib/userFacingErrors.ts
  frontend/src/lib/userFacingErrors.unit.test.ts
  frontend/src/pages/RegisterPage.test.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
Due: biome-check, tsc

style: polish the tree list create, rename, and mobile toolbar
  docs/design_handoff/colors_and_type.css
  frontend/e2e/helpers/auth.ts
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/theme.css
  frontend/src/styles/tree-list.css
Due: biome-check, tsc

style: give the onboarding gate the app's atmosphere and type scale
  frontend/src/components/OnboardingGate.css
  frontend/src/components/OnboardingGate.tsx
  frontend/src/styles/auth.css
  frontend/src/styles/theme.css
Due: biome-check, tsc

feat: tell visitors about the beta cap before they register
  api/app/routers/waitlist.py
  api/tests/integration/test_waitlist.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/hooks/useRegistrationOpen.test.tsx
  frontend/src/hooks/useRegistrationOpen.ts
  frontend/src/lib/api.ts
  frontend/src/pages/LandingPage.test.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/RegisterPage.test.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles/landing.css
Due: biome-check, tsc, mypy

docs: speak to clinicians and back the privacy claim on the landing
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/AppFooter.tsx
  frontend/src/lib/links.ts
  frontend/src/pages/LandingPage.test.tsx
  frontend/src/pages/LandingPage.tsx
Due: biome-check, tsc

style: reorder the landing so the founder story leads into the FAQ
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/LandingPage.test.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/styles/landing.css
Due: biome-check, tsc

fix: update the seeded live FAQ to match the landing copy
  api/alembic/versions/9e3f1b7c5a2d_update_seeded_faq_sharing_answer.py
  frontend/public/locales/nl/translation.json
Due: mypy

feat: show the product on phones and keep html lang in step
  frontend/src/i18n.ts
  frontend/src/lib/documentLanguage.ts
  frontend/src/lib/documentLanguage.unit.test.ts
  frontend/src/styles/landing.css
Due: biome-check, tsc

style: polish landing drift, image loading, and hero contrast
  frontend/src/components/Glimpse.tsx
  frontend/src/components/GrowingBranch.css
  frontend/src/components/GrowingBranch.test.tsx
  frontend/src/components/GrowingBranch.tsx
  frontend/src/hooks/useTheme.ts
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/TourPage.tsx
  frontend/src/styles/footer.css
  frontend/src/styles/landing.css
  frontend/src/styles/theme.css
Due: biome-check, tsc

fix: let useTheme survive missing or throwing storage
  frontend/src/hooks/useTheme.test.ts
  frontend/src/hooks/useTheme.ts
Due: biome-check, tsc

docs: archive the tree list and landing critique snapshots
  .impeccable/critique/2026-10-03T15-47-30Z__frontend-src-pages-treelistpage-tsx.md
  .impeccable/critique/2026-10-03T18-17-37Z__frontend-src-pages-landingpage-tsx.md
Due: none

docs: light-theme heroes are soft pastel paintings, not forest
  .impeccable/design.json
  DESIGN.md
  docs/design_handoff/README.md
  docs/design_handoff/README_design_system.md
  docs/design_handoff/SKILL.md
Due: none

fix: restore React Doctor to 100 after the tree list work
  frontend/src/components/TreeRowMenu.tsx
  frontend/src/hooks/useTreeListMutations.ts
  frontend/src/pages/TreeListPage.tsx
  frontend/src/pages/treeListMeta.ts
Due: biome-check, tsc

test: cover useTreeListMutations directly
  frontend/src/hooks/useTreeListMutations.test.tsx
Due: biome-check, tsc

fix: re-measure canvas nodes after structural changes
  frontend/src/pages/TreeWorkspacePage.test.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

feat: lifeline helper ordering a person's entries by year
  frontend/src/lib/lifeline.ts
  frontend/src/lib/lifeline.unit.test.ts
Due: biome-check, tsc

feat: group a person's relationships into glance roles
  frontend/src/lib/personGlance.ts
  frontend/src/lib/personGlance.unit.test.ts
Due: biome-check, tsc

feat: person page with a lifeline instead of tabs
  frontend/e2e/data-entry.spec.ts
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/WorkspacePanelHost.test.tsx
  frontend/src/components/WorkspacePanelHost.tsx
  frontend/src/components/tree/ClassificationForm.test.tsx
  frontend/src/components/tree/ClassificationForm.tsx
  frontend/src/components/tree/ClassificationsTab.test.tsx
  frontend/src/components/tree/EditSubPanel.test.tsx
  frontend/src/components/tree/EditSubPanel.tsx
  frontend/src/components/tree/EventCard.test.tsx
  frontend/src/components/tree/EventCard.tsx
  frontend/src/components/tree/LifeEventForm.test.tsx
  frontend/src/components/tree/LifeEventForm.tsx
  frontend/src/components/tree/LifeEventsTab.test.tsx
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/PersonLifeline.tsx
  frontend/src/components/tree/TraumaEventForm.test.tsx
  frontend/src/components/tree/TraumaEventForm.tsx
  frontend/src/components/tree/TraumaEventsTab.test.tsx
  frontend/src/components/tree/TurningPointForm.test.tsx
  frontend/src/components/tree/TurningPointForm.tsx
  frontend/src/components/tree/TurningPointsTab.test.tsx
  frontend/src/hooks/useEditingState.test.ts
  frontend/src/hooks/useEditingState.ts
  frontend/src/hooks/useLifelineEditing.test.ts
  frontend/src/hooks/useLifelineEditing.ts
  frontend/src/lib/lifeline.ts
  frontend/src/lib/patternEntities.ts
  frontend/src/lib/patternEntities.unit.test.ts
  frontend/src/lib/personGlance.ts
  frontend/src/pages/TreeWorkspacePage.test.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

feat: workspace tool rail and a quieter header
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/CanvasToolbarButtons.test.tsx
  frontend/src/components/tree/CanvasToolbarButtons.tsx
  frontend/src/components/tree/PatternFocusMenu.test.tsx
  frontend/src/components/tree/PatternFocusMenu.tsx
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/components/tree/TreeToolbar.test.tsx
  frontend/src/components/tree/TreeToolbar.tsx
  frontend/src/components/tree/WorkspaceRail.css
  frontend/src/components/tree/WorkspaceRail.test.tsx
  frontend/src/components/tree/WorkspaceRail.tsx
  frontend/src/pages/TreeWorkspacePage.test.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

docs: describe the workspace rail, header and person page
  .impeccable/surfaces/frontend-src-pages-treeworkspacepage-tsx.md
  AGENTS.md
  DESIGN.md
Due: none

style: person node names in the voice face
  frontend/src/components/tree/PersonNode.css
Due: none

chore: ignore impeccable scratch output
  .gitignore
Due: none

feat: tree list opens on the latest tree as a landscape
  frontend/e2e/helpers/auth.ts
  frontend/e2e/smoke-production.spec.ts
  frontend/e2e/tree-workflow.spec.ts
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/LatestTreeBand.test.tsx
  frontend/src/components/LatestTreeBand.tsx
  frontend/src/lib/treeSilhouette.ts
  frontend/src/lib/treeSilhouette.unit.test.ts
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/tree-list.css
Due: biome-check, tsc

docs: describe the tree list threshold
  .impeccable/surfaces/frontend-src-pages-treelistpage-tsx.md
  AGENTS.md
  DESIGN.md
Due: none

fix: tree list without a readable tree, and the smoke test that hit it
  frontend/e2e/smoke-production.spec.ts
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
Due: biome-check, tsc

feat: journal as a writing desk with a margin of earlier entries
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/journal/JournalDecoration.test.tsx
  frontend/src/components/journal/JournalDecoration.tsx
  frontend/src/components/journal/JournalDesk.test.tsx
  frontend/src/components/journal/JournalEntryForm.test.tsx
  frontend/src/components/journal/JournalEntryForm.tsx
  frontend/src/components/journal/JournalLinkedChips.tsx
  frontend/src/components/journal/JournalMargin.tsx
  frontend/src/components/journal/JournalReader.tsx
  frontend/src/lib/journalExcerpt.ts
  frontend/src/lib/journalExcerpt.unit.test.ts
  frontend/src/pages/JournalPage.css
  frontend/src/pages/JournalPage.test.tsx
  frontend/src/pages/JournalPage.tsx
Due: biome-check, tsc

docs: describe the journal desk
  .impeccable/surfaces/frontend-src-pages-journalpage-tsx.md
  AGENTS.md
  DESIGN.md
Due: none

fix: finish a tree delete even when key ring cleanup fails
  frontend/src/hooks/useTreeListMutations.test.tsx
  frontend/src/hooks/useTreeListMutations.ts
Due: biome-check, tsc

fix: give the key ring the general API rate limit
  frontend/nginx.conf
Due: none

feat: richer background terrain in both themes
  AGENTS.md
  DESIGN.md
  frontend/src/components/PatternView.tsx
  frontend/src/components/tree/ContourDecoration.test.tsx
  frontend/src/components/tree/ContourDecoration.tsx
  frontend/src/pages/InsightsPage.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/theme.css
Due: biome-check, tsc

fix: survive the gateway rate limit when trees load
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/LatestTreeBand.tsx
  frontend/src/hooks/useTreeData.test.ts
  frontend/src/hooks/useTreeData.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/userFacingErrors.ts
  frontend/src/lib/userFacingErrors.unit.test.ts
  frontend/src/pages/InsightsPage.tsx
  frontend/src/pages/JournalPage.tsx
  frontend/src/pages/PatternPage.tsx
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

fix: keep the tree header inside the screen on phones
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/components/tree/TreeToolbar.tsx
Due: biome-check, tsc

feat: family stripes layout and free-text date reading
  frontend/src/hooks/useElementWidth.test.ts
  frontend/src/hooks/useElementWidth.ts
  frontend/src/hooks/useOverflowBelow.test.ts
  frontend/src/hooks/useOverflowBelow.ts
  frontend/src/lib/dateReading.ts
  frontend/src/lib/dateReading.unit.test.ts
  frontend/src/lib/familyStripes.ts
  frontend/src/lib/familyStripes.unit.test.ts
  frontend/src/lib/generations.ts
  frontend/src/lib/generations.unit.test.ts
  frontend/src/lib/listFormat.ts
  frontend/src/lib/listFormat.unit.test.ts
Due: biome-check, tsc

docs: record the family stripes timeline in the design system
  .impeccable/design.json
  .impeccable/surfaces/frontend-src-pages-timelinepage-tsx.md
  DESIGN.md
Due: none

feat(core): free-text date reader shared with the web
  mobile/core/src/commonMain/kotlin/org/traumabomen/core/dates/DateReading.kt
  mobile/core/src/commonTest/kotlin/org/traumabomen/core/dates/DateReadingTest.kt
Due: none

feat(ios): lifeline, family stripes and date hint logic
  mobile/ios/Sources/DateHint.swift
  mobile/ios/Sources/FamilyStripes.swift
  mobile/ios/Sources/JournalPrompts.swift
  mobile/ios/Sources/Lifeline.swift
  mobile/ios/Sources/Localization.swift
  mobile/ios/Sources/Silhouette.swift
  mobile/ios/Sources/Theme.swift
  mobile/ios/Sources/TreeData.swift
Due: none
