Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
  language: system

tsc:
  name: TypeScript type-check
  entry: bash -c 'cd frontend && npx tsc -b'
  language: system
  pass_filenames: false

mypy:
  name: mypy type-check
  entry: bash -c 'docker compose exec -T api uv run mypy app'
  language: system
  pass_filenames: false

feat(ios): bring the screens in step with the web design
  mobile/ios/Resources/Assets.xcassets/gantt-chart.imageset/Contents.json
  mobile/ios/Resources/Assets.xcassets/gantt-chart.imageset/gantt-chart.pdf
  mobile/ios/Sources/AppModel.swift
  mobile/ios/Sources/ComposerView.swift
  mobile/ios/Sources/FamilyStripesView.swift
  mobile/ios/Sources/HomeView.swift
  mobile/ios/Sources/Icons.swift
  mobile/ios/Sources/JournalListView.swift
  mobile/ios/Sources/PersonForms.swift
  mobile/ios/Sources/PersonPage.swift
  mobile/ios/Sources/TreeCanvasView.swift
  mobile/ios/Sources/TreeListView.swift
Due: none

fix(ios): drop the decrypted tree preview on lock and logout
  mobile/ios/Sources/AppModel.swift
Due: none

feat: keep the timeline key in view below the stripes
  frontend/src/components/familyStripes/FamilyStripes.css
Due: none

feat(ios): growth rings app icon
  mobile/ios/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  mobile/ios/Resources/Assets.xcassets/AppIcon.appiconset/icon-1024-dark.png
  mobile/ios/Resources/Assets.xcassets/AppIcon.appiconset/icon-1024-tinted.png
  mobile/ios/Resources/Assets.xcassets/AppIcon.appiconset/icon-1024.png
  mobile/ios/icon/final-dark.svg
  mobile/ios/icon/final-default.svg
  mobile/ios/icon/final-tinted.svg
  mobile/ios/icon/gen.py
Due: mypy

feat(ios): move the icon's heart into the corner
  mobile/ios/Resources/Assets.xcassets/AppIcon.appiconset/icon-1024-dark.png
  mobile/ios/Resources/Assets.xcassets/AppIcon.appiconset/icon-1024-tinted.png
  mobile/ios/Resources/Assets.xcassets/AppIcon.appiconset/icon-1024.png
  mobile/ios/icon/final-dark.svg
  mobile/ios/icon/final-default.svg
  mobile/ios/icon/final-tinted.svg
  mobile/ios/icon/gen.py
Due: mypy

feat(ios): seed the demo family with what happened to them
  mobile/ios/appstore/screenshots/6.9-inch/03-tree-canvas.png
  mobile/ios/appstore/screenshots/6.9-inch/04-journal.png
  mobile/ios/scripts/seed-demo-account.py
Due: mypy

docs(ios): bring the App Store submission pack in step with the redesign
  mobile/ios/appstore/README.md
  mobile/ios/appstore/listing-en.md
  mobile/ios/appstore/listing-nl.md
  mobile/ios/appstore/review-notes.md
  mobile/ios/appstore/screenshots/6.9-inch/01-welcome.png
  mobile/ios/appstore/screenshots/6.9-inch/02-unlock.png
  mobile/ios/appstore/screenshots/6.9-inch/03-tree-canvas.png
  mobile/ios/appstore/screenshots/6.9-inch/04-person-page.png
  mobile/ios/appstore/screenshots/6.9-inch/05-timeline.png
  mobile/ios/appstore/screenshots/6.9-inch/06-journal.png
Due: none

fix: a marriage death ended is not a former partnership
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/lib/personGlance.ts
  frontend/src/lib/personGlance.unit.test.ts
  mobile/ios/Sources/Lifeline.swift
  mobile/ios/Sources/PersonPage.swift
  mobile/ios/appstore/screenshots/6.9-inch/04-person-page.png
Due: biome-check, tsc

feat: crisis line in the iOS settings, and the right one on the Dutch support page
  frontend/src/pages/SupportPage.test.tsx
  frontend/src/pages/SupportPage.tsx
  mobile/ios/Sources/Localization.swift
  mobile/ios/Sources/SettingsView.swift
  mobile/ios/appstore/age-rating.md
Due: biome-check, tsc

docs(ios): the submission needs a build after v0.2.28
  mobile/ios/appstore/README.md
Due: none

feat: a direct way to start a new pattern
  frontend/src/components/PatternView.css
  frontend/src/components/PatternView.test.tsx
  frontend/src/components/PatternView.tsx
  frontend/src/components/WorkspacePanelHost.test.tsx
  frontend/src/components/WorkspacePanelHost.tsx
  frontend/src/components/tree/PatternFocusMenu.test.tsx
  frontend/src/components/tree/PatternFocusMenu.tsx
  frontend/src/components/tree/PatternPanel.test.tsx
  frontend/src/components/tree/PatternPanel.tsx
  frontend/src/components/tree/WorkspaceRail.test.tsx
  frontend/src/components/tree/WorkspaceRail.tsx
  frontend/src/hooks/useWorkspacePanels.test.ts
  frontend/src/hooks/useWorkspacePanels.ts
  frontend/src/lib/workspaceNavState.ts
  frontend/src/lib/workspaceNavState.unit.test.ts
  frontend/src/pages/TreeWorkspacePage.test.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Path conditions:
  biome-check: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  tsc: any of: \.tsx?$
  mypy: any of: \.py$
