Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx, json]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'docker compose exec -T api uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

Prioritize safety envelope as roadmap item 1
  docs/roadmap.md
Due: none

created known_issues.md
  docs/known_issues.md
  docs/roadmap.md
Due: none

Implement safety envelope: onboarding gate, safety footer, lock+blur screen
  api/alembic/versions/a1b2c3d4e5f6_add_onboarding_safety_acknowledged.py
  api/app/models/user.py
  api/app/routers/auth.py
  api/app/schemas/auth.py
  api/tests/test_auth.py
  docs/roadmap.md
  frontend/src/App.tsx
  frontend/src/components/AppFooter.test.tsx
  frontend/src/components/AppFooter.tsx
  frontend/src/components/LockScreen.css
  frontend/src/components/LockScreen.test.tsx
  frontend/src/components/LockScreen.tsx
  frontend/src/components/OnboardingGate.css
  frontend/src/components/OnboardingGate.test.tsx
  frontend/src/components/OnboardingGate.tsx
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/contexts/EncryptionContext.tsx
  frontend/src/hooks/useLockScreen.test.ts
  frontend/src/hooks/useLockScreen.ts
  frontend/src/lib/api.ts
  frontend/src/lib/crypto.test.ts
  frontend/src/lib/crypto.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/PrivacyPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/UnlockPage.tsx
  frontend/src/styles/footer.css
  frontend/src/styles/privacy.css
  frontend/src/types/api.ts
Due: biome-check, tsc, mypy

Implement safety envelope: onboarding gate, safety footer, lock+blur screen
  api/alembic/versions/a1b2c3d4e5f6_add_onboarding_safety_acknowledged.py
  api/app/models/user.py
  api/app/routers/auth.py
  api/app/schemas/auth.py
  api/tests/test_auth.py
  docs/roadmap.md
  frontend/src/App.tsx
  frontend/src/components/AppFooter.test.tsx
  frontend/src/components/AppFooter.tsx
  frontend/src/components/LockScreen.css
  frontend/src/components/LockScreen.test.tsx
  frontend/src/components/LockScreen.tsx
  frontend/src/components/OnboardingGate.css
  frontend/src/components/OnboardingGate.test.tsx
  frontend/src/components/OnboardingGate.tsx
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/contexts/EncryptionContext.tsx
  frontend/src/hooks/useLockScreen.test.ts
  frontend/src/hooks/useLockScreen.ts
  frontend/src/lib/api.ts
  frontend/src/lib/crypto.test.ts
  frontend/src/lib/crypto.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/PrivacyPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/UnlockPage.tsx
  frontend/src/styles/footer.css
  frontend/src/styles/privacy.css
  frontend/src/types/api.ts
  scripts/privacy-scan.sh
Due: biome-check, tsc, mypy

Implement safety envelope: onboarding gate, safety footer, lock+blur screen
  frontend/src/components/LockScreen.test.tsx
  frontend/src/components/OnboardingGate.test.tsx
  frontend/src/hooks/useLockScreen.test.ts
  scripts/privacy-scan.sh
Due: biome-check, tsc

Fix onboarding gate: privacy link opens in new tab, Dutch lock screen terminology
  frontend/src/components/OnboardingGate.test.tsx
  frontend/src/components/OnboardingGate.tsx
  frontend/src/locales/nl/translation.json
Due: biome-check, tsc

Add lock screen background atmosphere and fix dev page title
  frontend/src/components/LockScreen.css
  frontend/vite.config.ts
Due: tsc

Move safety envelope to done in roadmap
  docs/roadmap.md
Due: none

Add design doc for pattern editor
  docs/plans/2026-02-16-pattern-editor-design.md
Due: none

Implement pattern editor: annotation layer linking events across generations
  api/alembic/versions/5c3b53e5e868_add_patterns_table.py
  api/app/main.py
  api/app/models/__init__.py
  api/app/models/pattern.py
  api/app/models/tree.py
  api/app/routers/patterns.py
  api/app/routers/sync.py
  api/app/schemas/sync.py
  api/app/schemas/tree.py
  api/tests/test_patterns.py
  frontend/src/App.tsx
  frontend/src/components/PatternView.css
  frontend/src/components/PatternView.test.tsx
  frontend/src/components/PatternView.tsx
  frontend/src/components/tree/PatternConnectors.test.tsx
  frontend/src/components/tree/PatternConnectors.tsx
  frontend/src/components/tree/PatternPanel.css
  frontend/src/components/tree/PatternPanel.test.tsx
  frontend/src/components/tree/PatternPanel.tsx
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/hooks/useTreeData.test.ts
  frontend/src/hooks/useTreeData.ts
  frontend/src/hooks/useTreeMutations.test.tsx
  frontend/src/hooks/useTreeMutations.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/patternColors.test.ts
  frontend/src/lib/patternColors.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/PatternPage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/types/api.ts
  frontend/src/types/domain.ts
Due: biome-check, tsc, mypy

Fix biome CI lint warnings across frontend
  frontend/src/components/LockScreen.css
  frontend/src/components/PatternView.test.tsx
  frontend/src/components/PatternView.tsx
  frontend/src/components/timeline/timelineHelpers.test.ts
  frontend/src/components/tree/RelationshipEdge.test.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/styles/admin.css
Due: biome-check, tsc

Add i18n support to admin page and align toolbar with canvas/timeline
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/AdminPage.tsx
Due: biome-check, tsc

Redesign toolbar UX: separate navigation tabs from action buttons
  docs/plans/2026-02-17-toolbar-ux-redesign.md
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/components/tree/TreeToolbar.tsx
  frontend/src/components/tree/ViewTabs.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/PatternPage.tsx
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Elevate design quality: Literata serif font, accent-tinted shadows, softer radii, panel slide animations
  AGENTS.md
  frontend/index.html
  frontend/src/components/tree/PatternPanel.css
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/styles/theme.css
Due: none

Add icons to toolbar action buttons for visual clarity
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Replace inline SVGs with Lucide React icons for visual consistency
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AppFooter.tsx
  frontend/src/components/LockScreen.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/components/tree/PatternPanel.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/components/tree/TreeToolbar.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Switch typography to Fraunces + Newsreader for organic warmth
  AGENTS.md
  frontend/index.html
  frontend/src/styles/theme.css
Due: none

Add Lucide icons to view navigation tabs
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/components/tree/ViewTabs.tsx
Due: biome-check, tsc

Redesign pattern connectors as filled areas with hover tooltips
  frontend/src/components/tree/PatternConnectors.test.tsx
  frontend/src/components/tree/PatternConnectors.tsx
Due: biome-check, tsc

Tighten pattern areas: corner-based hull, organic curves via resampling
  frontend/src/components/tree/PatternConnectors.tsx
Due: biome-check, tsc

Replace convex hull pattern areas with metaball field algorithm
  docs/roadmap.md
  frontend/src/components/tree/PatternConnectors.tsx
Due: biome-check, tsc

Switch typography to Playwrite NZ + Lato
  AGENTS.md
  frontend/index.html
  frontend/src/styles/theme.css
Due: none

Add background image to lock screen modal with radial vignette
  frontend/src/components/LockScreen.css
  frontend/src/components/LockScreen.tsx
Due: biome-check, tsc

Reduce cognitive complexity in PatternConnectors
  frontend/src/components/tree/PatternConnectors.tsx
Due: biome-check, tsc

Add tests to restore coverage gate and update quality guidelines
  AGENTS.md
  frontend/src/components/LockScreen.test.tsx
  frontend/src/components/tree/PatternConnectors.test.tsx
  frontend/src/components/tree/PatternConnectors.tsx
Due: biome-check, tsc

Show calculated age alongside birth year on person nodes and detail panel
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/PersonNode.test.tsx
  frontend/src/components/tree/PersonNode.tsx
  frontend/src/lib/age.test.ts
  frontend/src/lib/age.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
Due: biome-check, tsc

Add optional birth/death month and day fields for precise age calculation
  docs/plans/2026-02-17-full-birth-death-dates-design.md
  frontend/src/components/PatternView.test.tsx
  frontend/src/components/timeline/TimelineView.test.tsx
  frontend/src/components/timeline/timelineHelpers.test.ts
  frontend/src/components/tree/PatternPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/PersonNode.test.tsx
  frontend/src/components/tree/PersonNode.tsx
  frontend/src/components/tree/RelationshipDetailPanel.test.tsx
  frontend/src/hooks/useTreeData.ts
  frontend/src/hooks/useTreeLayout.test.ts
  frontend/src/hooks/useTreeMutations.test.tsx
  frontend/src/lib/age.test.ts
  frontend/src/lib/age.ts
  frontend/src/lib/treeLayoutHelpers.test.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/types/domain.ts
Due: biome-check, tsc

Fix pattern boundary not reaching distant member nodes
  frontend/src/components/tree/PatternConnectors.tsx
Due: biome-check, tsc

Make pattern colors theme-aware via CSS custom properties
  frontend/src/components/PatternView.tsx
  frontend/src/components/tree/PatternConnectors.tsx
  frontend/src/components/tree/PatternPanel.tsx
  frontend/src/lib/patternColors.test.ts
  frontend/src/lib/patternColors.ts
  frontend/src/styles/theme.css
Due: biome-check, tsc

Close pattern panel when selecting or adding a person
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Show pattern on canvas when hovering its entry in the pattern panel
  frontend/src/components/tree/PatternPanel.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Remove primary styling from add person toolbar button
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Enforce consistent button heights in toolbar and footer
  AGENTS.md
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/styles/footer.css
Due: none

Open pattern visible and in edit mode when navigating from pattern view
  frontend/src/components/PatternView.tsx
  frontend/src/components/tree/PatternPanel.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Update roadmap: mark patterns done, add timeline refinement
  docs/roadmap.md
Due: none

Make edge tooltip follow mouse cursor instead of anchoring to midpoint
  frontend/src/components/tree/RelationshipEdge.test.tsx
  frontend/src/components/tree/RelationshipEdge.tsx
  frontend/src/components/tree/TreeCanvas.css
Due: biome-check, tsc

Unify footer icon buttons to match language and theme button styling
  frontend/src/components/AppFooter.tsx
  frontend/src/styles/footer.css
Due: biome-check, tsc

Fix edge tooltip rendering below mouse pointer
  frontend/src/components/tree/RelationshipEdge.test.tsx
  frontend/src/components/tree/RelationshipEdge.tsx
Due: biome-check, tsc

Add empty canvas state for new trees
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Fix intermittent decryption error on lock/logout/token expiry
  frontend/src/App.tsx
  frontend/src/hooks/useLogout.test.ts
  frontend/src/hooks/useLogout.ts
  frontend/src/hooks/useTreeData.ts
  frontend/src/main.tsx
Due: biome-check, tsc
