Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx, json]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'docker compose exec -T api uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

Fix theme state synchronization and code quality issues
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/ThemeToggle.tsx
  frontend/src/hooks/useAvailableThemes.ts
  frontend/src/hooks/useTheme.test.ts
  frontend/src/hooks/useTheme.ts
Due: biome-check, tsc

Reduce cyclomatic complexity in feature flag endpoints
  api/app/routers/features.py
Due: mypy

Add tests for feature flag API functions
  frontend/src/lib/api.test.ts
Due: biome-check, tsc

Fix Biome CI errors and warnings
  frontend/src/components/BranchDecoration.tsx
  frontend/src/components/journal/JournalDecoration.tsx
  frontend/src/components/timeline/PartnerLine.tsx
  frontend/src/components/timeline/TimelineTooltip.tsx
  frontend/src/lib/crypto.test.ts
  frontend/src/lib/passwordStrength.test.ts
  frontend/src/styles/auth.css
  frontend/src/styles/theme.css
Due: biome-check, tsc

Update AGENTS.md with feature flags, journal, insights, and watercolor theme
  AGENTS.md
Due: none

Redesign feature toggles with audience selector and user picker
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/AdminPage.tsx
  frontend/src/styles/admin.css
Due: biome-check, tsc

Added playwright-mcp dir to .gitignore
  .gitignore
Due: none

Add watercolor theme artwork from Unsplash
  frontend/public/images/hero-unlock-watercolor.jpg
  frontend/public/images/hero-unlock-watercolor.webp
  frontend/public/images/hero-watercolor.jpg
  frontend/public/images/hero-watercolor.webp
  frontend/public/images/welcome-watercolor.jpg
  frontend/src/components/AuthHero.test.tsx
  frontend/src/components/AuthHero.tsx
  frontend/src/components/LockScreen.css
  frontend/src/components/LockScreen.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/auth.css
  frontend/src/styles/tree-list.css
Due: biome-check, tsc

Replace cherry blossom photos with Monet paintings for watercolor theme
  frontend/public/images/hero-unlock-watercolor.jpg
  frontend/public/images/hero-unlock-watercolor.webp
  frontend/public/images/hero-watercolor.jpg
  frontend/public/images/hero-watercolor.webp
  frontend/public/images/welcome-watercolor.jpg
Due: none

Increase watercolor welcome card overlay opacity for readability
  frontend/src/styles/tree-list.css
Due: none

Fix reliability issues from code review
  api/alembic/versions/2609ed51cdbf_add_cascade_delete_to_feature_flag_.py
  api/app/models/feature_flag.py
  api/app/routers/features.py
  api/tests/test_features.py
  frontend/public/images/welcome-dark.webp
  frontend/public/images/welcome-light.webp
  frontend/public/images/welcome-watercolor.webp
  frontend/src/components/AuthHero.tsx
  frontend/src/components/LockScreen.tsx
  frontend/src/hooks/useTheme.ts
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/TreeListPage.tsx
Due: biome-check, tsc, mypy

Improve code quality from second review pass
  api/app/routers/features.py
  frontend/src/components/LockScreen.tsx
  frontend/src/components/ThemeToggle.test.tsx
  frontend/src/hooks/useTheme.ts
  frontend/src/pages/AdminPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc, mypy

Add tests for LockScreen picture/webp and FeatureToggleCard debounce
  frontend/src/components/LockScreen.test.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/FeatureToggleCard.test.tsx
Due: biome-check, tsc

Fix four security/reliability issues in backend
  api/alembic/versions/c4f70bc3aa25_fix_email_verified_server_default_to_.py
  api/app/main.py
  api/app/models/user.py
  api/app/routers/auth.py
  api/app/routers/waitlist.py
  api/tests/test_key_ring.py
  api/tests/test_sentry.py
Due: mypy

Fix six frontend security/reliability issues
  frontend/src/App.tsx
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/hooks/useImportTree.test.ts
  frontend/src/hooks/useImportTree.ts
  frontend/src/hooks/useTreeData.ts
  frontend/src/lib/api.ts
  frontend/src/pages/TreeListPage.tsx
Due: biome-check, tsc

Add regression tests for six frontend security fixes
  frontend/src/App.test.tsx
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/hooks/useImportTree.test.ts
  frontend/src/hooks/useTreeData.test.ts
  frontend/src/lib/api.test.ts
Due: biome-check, tsc

Batch performance optimizations for sync, admin stats, and position updates
  api/app/routers/admin_stats.py
  api/app/routers/sync.py
  api/tests/test_sync.py
  frontend/src/hooks/useTreeMutations.test.tsx
  frontend/src/hooks/useTreeMutations.ts
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc, mypy

Reduce cyclomatic complexity in three B-rated functions
  api/app/main.py
  api/app/routers/features.py
  api/app/routers/sync.py
Due: mypy

Replace deprecated HTTP_422_UNPROCESSABLE_ENTITY with HTTP_422_UNPROCESSABLE_CONTENT
  api/app/routers/features.py
Due: mypy

Add load testing and profiling design document
  docs/plans/2026-03-05-load-testing-profiling-design.md
Due: none

Add load testing harness with Locust scenarios and perf tooling
  .gitignore
  Makefile
  docker-compose.yml
  loadtests/locustfile.py
  loadtests/requirements.txt
  scripts/db_query_stats.sql
  scripts/gen_perf_report.py
  scripts/seed_perf_data.py
Due: mypy

Fix pg_stat_statements query to use dbid instead of dbname
  scripts/db_query_stats.sql
Due: none

Fix slow-regex lint error in api.test.ts
  frontend/src/lib/api.test.ts
Due: biome-check, tsc

Add test for JWT refresh token rejected on protected endpoints
  api/tests/test_auth.py
Due: mypy

Fix key ring initialization on registration and e2e alert selectors
  frontend/e2e/auth.spec.ts
  frontend/src/pages/RegisterPage.tsx
Due: biome-check, tsc

Scope test reset endpoint to only delete e2e user accounts
  api/app/routers/testing.py
  api/tests/test_testing.py
Due: mypy

Fix logout redirecting to lock screen instead of login page
  frontend/src/hooks/useLogout.test.ts
  frontend/src/hooks/useLogout.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
Due: biome-check, tsc

Improve mobile landing page spacing between panels
  frontend/src/styles/auth.css
Due: none

Add demo video package with Playwright script, voiceover, and screenshot tour
  .gitignore
  demo/README.md
  demo/demo.spec.ts
  demo/package-lock.json
  demo/package.json
  demo/playwright.config.ts
  demo/screenshots/.gitkeep
  demo/screenshots/tour.md
  demo/voiceover-script.md
Due: tsc

Fix broken pattern entities in demo tree and pattern view styling
  demo/README.md
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/PatternView.css
  frontend/src/fixtures/demo-tree-en.json
  frontend/src/fixtures/demo-tree-nl.json
Due: biome-check

Select all text on focus in person name input
  frontend/src/components/tree/PersonTab.tsx
Due: biome-check, tsc

Fix pattern linked entities referencing server-assigned life event and turning point IDs
  frontend/src/lib/createDemoTree.test.ts
  frontend/src/lib/createDemoTree.ts
Due: biome-check, tsc

Fix name input select-all being cleared by mouseup event
  frontend/src/components/tree/PersonTab.tsx
Due: biome-check, tsc

Promote watercolor theme to default light theme
  api/alembic/versions/a82f764098b0_remove_watercolor_theme_flag.py
  frontend/public/images/hero-light.jpg
  frontend/public/images/hero-light.webp
  frontend/public/images/hero-unlock-light.jpg
  frontend/public/images/hero-unlock-light.webp
  frontend/public/images/hero-unlock-watercolor.jpg
  frontend/public/images/hero-unlock-watercolor.webp
  frontend/public/images/hero-watercolor.jpg
  frontend/public/images/hero-watercolor.webp
  frontend/public/images/welcome-light.jpg
  frontend/public/images/welcome-light.webp
  frontend/public/images/welcome-watercolor.jpg
  frontend/public/images/welcome-watercolor.webp
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/AuthHero.test.tsx
  frontend/src/components/AuthHero.tsx
  frontend/src/components/LockScreen.css
  frontend/src/components/LockScreen.test.tsx
  frontend/src/components/LockScreen.tsx
  frontend/src/components/ThemeToggle.test.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/hooks/useAvailableThemes.test.ts
  frontend/src/hooks/useAvailableThemes.ts
  frontend/src/hooks/useTheme.test.ts
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/auth.css
  frontend/src/styles/theme.css
  frontend/src/styles/tree-list.css
Due: biome-check, tsc, mypy

Redesign ConfirmDeleteButton with explicit confirm/cancel actions
  frontend/src/components/ConfirmDeleteButton.css
  frontend/src/components/ConfirmDeleteButton.test.tsx
  frontend/src/components/ConfirmDeleteButton.tsx
  frontend/src/components/journal/JournalEntryForm.test.tsx
  frontend/src/components/journal/JournalEntryList.test.tsx
  frontend/src/components/journal/JournalPanel.test.tsx
  frontend/src/components/tree/PatternPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/RelationshipDetailPanel.test.tsx
  frontend/src/components/tree/TurningPointsTab.test.tsx
Due: biome-check, tsc

Add missing react-i18next mock to ConfirmDeleteButton test
  frontend/src/components/ConfirmDeleteButton.test.tsx
Due: biome-check, tsc

Remove duplicated test runs from CI pipeline
  .github/workflows/ci.yml
  Makefile
Due: none

Extract shared workspace panel logic into reusable hooks and component
  frontend/src/components/WorkspacePanelHost.test.tsx
  frontend/src/components/WorkspacePanelHost.tsx
  frontend/src/hooks/useLinkedEntityPanelHandlers.test.ts
  frontend/src/hooks/useLinkedEntityPanelHandlers.ts
  frontend/src/hooks/useSelectedPersonEntities.test.ts
  frontend/src/hooks/useSelectedPersonEntities.ts
  frontend/src/hooks/useWorkspacePanels.test.ts
  frontend/src/hooks/useWorkspacePanels.ts
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Fix flaky E2E auth test by handling email collision gracefully
  frontend/e2e/helpers/auth.ts
Due: tsc

Fix flaky data entry E2E test by adding waits for form state and save
  frontend/e2e/data-entry.spec.ts
Due: tsc
