Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.14
    hooks:
      - id: biome-check
        additional_dependencies: ["@biomejs/biome@2.3.14"]
        args: [--write]
        files: ^frontend/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'cd api && uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

Switch canonical English domain to www.traumatrees.org
  .github/workflows/deploy.yml
  frontend/nginx.conf
Due: none

Fix iPad viewport height: use 100dvh instead of 100vh
  frontend/src/styles/theme.css
Due: none

Improve touch usability for iPad
  frontend/src/components/tree/PersonNode.css
  frontend/src/pages/TreeWorkspacePage.tsx
Due: tsc

Make birth_year nullable for unknown birth years
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/PersonNode.test.tsx
  frontend/src/components/tree/PersonNode.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/types/domain.ts
Due: tsc

Fix event badge not updating when person_ids change
  frontend/src/hooks/useTreeMutations.ts
Due: tsc

Add startup health probes for GCP Cloud Run
  .github/workflows/deploy.yml
  frontend/nginx.conf
Due: none

Added code of conduct
  CODE_OF_CONDUCT.md
Due: none

Add GitHub PR and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add design doc for unified settings panel with account management
  docs/plans/2026-02-14-settings-panel-design.md
Due: none

Add unified settings panel with account management
  api/app/routers/auth.py
  api/app/schemas/auth.py
  frontend/src/components/tree/CanvasSettingsPanel.css
  frontend/src/components/tree/CanvasSettingsPanel.tsx
  frontend/src/components/tree/SettingsPanel.css
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/lib/api.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TreeListPage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/types/api.ts
Due: tsc, mypy

Polish settings panel UI
  frontend/src/components/tree/SettingsPanel.css
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TreeListPage.tsx
Due: tsc

Update timeline toolbar to match canvas page style
  frontend/src/pages/TimelinePage.tsx
Due: tsc

Fix gradient banding and unify background across pages
  frontend/src/components/timeline/TimelineView.css
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/pages/TreeListPage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/styles/theme.css
  frontend/src/styles/tree-list.css
Due: tsc

Fix curved fork edge clipping and curve direction
  frontend/src/components/tree/RelationshipEdge.tsx
Due: tsc

Add design doc for DSM-5 classifications entity type
  docs/plans/2026-02-14-classifications-design.md
Due: none

Add DSM-5 classifications entity type
  api/alembic/versions/7c3b58c821d0_add_classifications_tables.py
  api/app/main.py
  api/app/models/__init__.py
  api/app/models/classification.py
  api/app/models/tree.py
  api/app/routers/classifications.py
  api/app/routers/sync.py
  api/app/schemas/sync.py
  api/app/schemas/tree.py
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/PersonNode.css
  frontend/src/components/tree/PersonNode.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/hooks/useTreeData.ts
  frontend/src/hooks/useTreeLayout.ts
  frontend/src/hooks/useTreeMutations.ts
  frontend/src/lib/api.ts
  frontend/src/lib/classificationColors.ts
  frontend/src/lib/dsmCategories.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/styles/theme.css
  frontend/src/types/api.ts
  frontend/src/types/domain.ts
Due: tsc, mypy

Fix missing classifications in PersonNode test data
  frontend/src/components/tree/PersonNode.test.tsx
Due: tsc

Worked on claude setup
  AGENTS.md
  CLAUDE.md
Due: none

Update AGENTS.md quality and security guidelines for project tooling
  AGENTS.md
Due: none

Update AGENTS.md to reflect current project state
  AGENTS.md
Due: none

Add design doc for quality gates (complexity + coverage ratchet)
  docs/plans/2026-02-15-quality-gates-design.md
Due: none

Add quality gates: complexity analysis and coverage ratchet
  .coverage-baseline.json
  .github/workflows/ci.yml
  .gitignore
  Makefile
  api/app/routers/sync.py
  api/pyproject.toml
  api/uv.lock
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/RelationshipDetailPanel.tsx
  frontend/src/components/tree/RelationshipEdge.tsx
  frontend/src/hooks/useTreeData.test.ts
  frontend/src/hooks/useTreeLayout.test.ts
  frontend/src/lib/classificationColors.test.ts
  frontend/src/lib/dsmCategories.test.ts
  frontend/src/lib/inferSiblings.test.ts
  frontend/src/lib/lifeEventColors.test.ts
  frontend/src/lib/traumaColors.test.ts
  frontend/vitest.config.ts
  scripts/coverage-gate.sh
Due: tsc, mypy

Add make complexity target for CC and MI reporting
  Makefile
  scripts/complexity-report.sh
Due: none

Refactor useTreeLayout: extract pure helpers to reduce complexity
  frontend/src/hooks/useTreeLayout.ts
  frontend/src/lib/treeLayoutHelpers.test.ts
  frontend/src/lib/treeLayoutHelpers.ts
Due: tsc

Increased baseline for code coverage
  .coverage-baseline.json
Due: none

Fix Docker build: align tsc -b type checking across all environments
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  frontend/src/hooks/useTreeLayout.test.ts
  frontend/src/lib/treeLayoutHelpers.test.ts
  frontend/tsconfig.app.json
Due: tsc

Fix API startup probe failure on Cloud Run
  .github/workflows/deploy.yml
  api/app/database.py
Due: mypy

Fix classification form fieldset borders and radio button styling
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.tsx
Due: tsc

Refactor remaining cognitive complexity violations under threshold
  docs/plans/2026-02-15-complexity-refactor-batch2-design.md
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/timeline/timelineHelpers.test.ts
  frontend/src/components/timeline/timelineHelpers.ts
  frontend/src/components/tree/RelationshipEdge.tsx
  frontend/src/components/tree/relationshipEdgeHelpers.test.ts
  frontend/src/components/tree/relationshipEdgeHelpers.ts
  frontend/src/lib/inferSiblings.test.ts
  frontend/src/lib/inferSiblings.ts
Due: tsc

Add unit tests for database module to restore coverage baseline
  api/tests/test_database.py
Due: mypy

Increase Python test coverage from 78% to 99%
  api/tests/conftest.py
  api/tests/test_admin.py
  api/tests/test_auth.py
  api/tests/test_classifications.py
  api/tests/test_email.py
  api/tests/test_relationships.py
  api/tests/test_sync.py
  docs/plans/2026-02-15-python-coverage-95-design.md
Due: mypy

Fix all eslint warnings (sonarjs duplicate strings and identical functions)
  frontend/src/components/timeline/timelineHelpers.ts
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/pages/TreeListPage.tsx
Due: tsc

Add bandit to dev dependencies and suppress false positives
  api/app/auth.py
  api/pyproject.toml
  api/uv.lock
Due: mypy

Tighten xenon complexity thresholds to max-absolute B, average A
  .github/workflows/ci.yml
  Makefile
  api/app/routers/admin.py
  api/app/routers/sync.py
Due: mypy

Raise frontend test coverage from 45% to 75% (451 tests)
  docs/plans/2026-02-15-frontend-coverage-75-design.md
  frontend/src/components/AppFooter.test.tsx
  frontend/src/components/AuthHero.test.tsx
  frontend/src/components/MentalHealthBanner.test.tsx
  frontend/src/components/MobileBanner.test.tsx
  frontend/src/components/ThemeToggle.test.tsx
  frontend/src/components/timeline/timelineHelpers.test.ts
  frontend/src/components/tree/BranchDecoration.test.tsx
  frontend/src/components/tree/RelationshipEdge.test.tsx
  frontend/src/components/tree/relationshipEdgeHelpers.test.ts
  frontend/src/hooks/useCanvasSettings.test.ts
  frontend/src/hooks/useLogout.test.ts
  frontend/src/hooks/useTheme.test.ts
  frontend/src/hooks/useTreeId.test.ts
  frontend/src/hooks/useTreeMutations.test.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/treeLayoutHelpers.test.ts
Due: tsc

Fix sonarjs/no-hardcoded-passwords lint errors in api tests
  frontend/src/lib/api.test.ts
Due: tsc

Add tests for RelationshipDetailPanel and TimelineView (46 tests)
  frontend/src/components/timeline/TimelineView.test.tsx
  frontend/src/components/tree/RelationshipDetailPanel.test.tsx
Due: tsc

Add SettingsPanel tests covering canvas, account, and delete flows (43 tests)
  frontend/src/components/tree/SettingsPanel.test.tsx
Due: tsc
