Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx, json]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'docker compose exec -T api uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

docs(design): mark phase 3 complete in handoff plan
  docs/plans/design_handoff_phase_2_3.md
Due: none

docs: pull design SKILL.md into CLAUDE.md
  CLAUDE.md
Due: none

fix(test): use flatMap to satisfy react-doctor lint
  frontend/src/components/Logomark.test.tsx
Due: biome-check, tsc

chore(react-doctor): bump to 0.1.6 and reach 100/100 score
  .github/workflows/ci.yml
  frontend/react-doctor.config.json
  frontend/src/components/PassphraseInput.tsx
  frontend/src/components/PasswordInput.test.tsx
  frontend/src/components/PasswordInput.tsx
  frontend/src/components/journal/JournalEntryForm.tsx
  frontend/src/components/timeline/TimelineAgeContent.test.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelinePatternLanes.tsx
  frontend/src/components/timeline/TimelineView.test.tsx
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/timeline/TimelineYearsContent.test.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/components/timeline/timelineHelpers.ts
  frontend/src/components/timeline/timelineMarkers.tsx
  frontend/src/components/tree/ClassificationsTab.tsx
  frontend/src/components/tree/PersonLinkField.tsx
  frontend/src/components/tree/relationshipEdgeHelpers.ts
  frontend/src/components/tree/settings/ChangePassphraseSection.test.tsx
  frontend/src/components/tree/settings/ChangePassphraseSection.tsx
  frontend/src/contexts/EncryptionContext.test.tsx
  frontend/src/contexts/useEncryption.ts
  frontend/src/hooks/useEditingState.ts
  frontend/src/hooks/useExportTree.ts
  frontend/src/hooks/useLockScreen.ts
  frontend/src/hooks/usePromoteMember.ts
  frontend/src/hooks/useTimelineFilters.ts
  frontend/src/hooks/useTreeData.ts
  frontend/src/lib/api.ts
  frontend/src/lib/compactId.ts
  frontend/src/lib/computeInsights.ts
  frontend/src/lib/createDemoTree.ts
  frontend/src/lib/crypto.test.ts
  frontend/src/lib/dsmCategories.ts
  frontend/src/lib/keyRingLoader.ts
  frontend/src/lib/treeLayoutHelpers.ts
  frontend/src/pages/TimelinePage.tsx
  frontend/src/types/domain.ts
  frontend/tsconfig.app.json
Due: biome-check, tsc

new version of react doctor
  frontend/doctor.config.ts
  frontend/react-doctor.config.json
Due: tsc

Restore react-doctor score to 100
  frontend/e2e/settings.spec.ts
  frontend/src/components/tree/SettingsPanel.css
Due: tsc

Fix duplicate back-to-login CTA on forgot-password confirmation
  frontend/src/pages/ForgotPasswordPage.test.tsx
  frontend/src/pages/ForgotPasswordPage.tsx
Due: biome-check, tsc

ci: pin react-doctor to 0.4.0 to match doctor.config.ts
  .github/workflows/ci.yml
  Makefile
Due: none

docs: first-run on-ramp design (First steps)
  docs/plans/2026-06-06-first-steps-onramp-design.md
Due: none

fix(api): add jinja2 to fix production startup crash
  api/pyproject.toml
  api/uv.lock
Due: none

docs: admin-managed FAQ design (Option A: CSR + static fallback)
  docs/plans/2026-06-06-faq-admin-design.md
Due: none

feat(landing): dedicated landing page with SEO content
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/App.tsx
  frontend/src/components/AuthWelcome.test.tsx
  frontend/src/components/AuthWelcome.tsx
  frontend/src/pages/LandingPage.test.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/styles/landing.css
Due: biome-check, tsc

fix(landing): pin hero height outside the flex auth-page layout
  frontend/src/styles/landing.css
Due: none

fix(landing): bolder hero message, drop logo mark, fix CTA hover text
  frontend/src/pages/LandingPage.test.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/styles/landing.css
Due: biome-check, tsc

Improve landing hero
  AGENTS.md
  CLAUDE.md
  frontend/src/pages/LandingPage.tsx
  frontend/src/styles/landing.css
Due: biome-check, tsc

Remove landing hero preview
  frontend/src/pages/LandingPage.tsx
  frontend/src/styles/landing.css
Due: biome-check, tsc

vertaling aangepast
  frontend/public/locales/nl/translation.json
Due: none

feat(faq): admin-managed FAQ with public endpoint and landing integration
  api/alembic/versions/34cd55d04bad_add_faq_entries.py
  api/app/main.py
  api/app/models/__init__.py
  api/app/models/faq.py
  api/app/routers/faq.py
  api/app/schemas/faq.py
  api/tests/integration/test_faq.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/admin/FaqSection.test.tsx
  frontend/src/components/admin/FaqSection.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/LandingPage.test.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/styles/admin.css
  frontend/src/styles/landing.css
  frontend/src/types/api.ts
Due: biome-check, tsc, mypy

feat(auth): site name home link instead of logo on auth pages
  frontend/src/components/AuthHero.test.tsx
  frontend/src/components/AuthHero.tsx
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

style(auth): fix noDescendingSpecificity warnings in auth.css
  frontend/src/styles/auth.css
Due: none

style: clean up all biome lint warnings
  frontend/biome.json
  frontend/src/components/PasswordStrengthMeter.tsx
  frontend/src/components/timeline/ClassificationStrips.tsx
  frontend/src/components/tree/PersonTab.tsx
  frontend/src/components/tree/TreeCanvas.css
Due: biome-check, tsc

feat: remove the mental-health warning banner
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/App.tsx
  frontend/src/components/MentalHealthBanner.css
  frontend/src/components/MentalHealthBanner.test.tsx
  frontend/src/components/MentalHealthBanner.tsx
Due: biome-check, tsc

fix(faq): reword model docstring to pass the privacy scanner
  api/app/models/faq.py
Due: mypy

fix(workspace): type node-drag handlers with OnNodeDrag for xyflow 12.11.0
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

chore(frontend): silence "git: not found" noise in vite config
  frontend/vite.config.ts
Due: tsc

chore(compose): add api healthcheck and gate frontend on it
  docker-compose.yml
Due: none

chore(api): silence /health access logs from the healthcheck
  api/app/main.py
Due: mypy

docs: design for renaming passphrase to "encryption key"
  docs/plans/2026-06-07-encryption-key-rename-design.md
Due: none

feat(auth): rename user-facing "passphrase" to "encryption key"
  api/alembic/versions/34cd55d04bad_add_faq_entries.py
  frontend/e2e/auth-modal.spec.ts
  frontend/e2e/auth.spec.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/settings.spec.ts
  frontend/e2e/verification.spec.ts
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
Due: tsc, mypy

feat(auth): add field-label icons (mail / lock / key)
  frontend/src/components/AuthModal.tsx
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/ResetPasswordPage.tsx
  frontend/src/pages/UnlockPage.tsx
  frontend/src/pages/WaitlistPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

chore(deploy): raise production MAX_ACTIVE_USERS from 20 to 100
  .github/workflows/deploy.yml
Due: none

feat(auth): add icons to the confirm fields too
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/ResetPasswordPage.tsx
Due: biome-check, tsc

refactor(auth): standardise on "Log in" (drop the landing "Sign in")
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/LandingPage.test.tsx
  frontend/src/pages/LandingPage.tsx
Due: biome-check, tsc

feat(auth): make the hero site name a clear back-to-home control
  frontend/src/components/AuthHero.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

fix(auth): soften the hero back-button pill in light theme
  frontend/src/styles/auth.css
Due: none

feat(auth): give the login card the unlock-window style
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/LoginPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

feat(auth): apply the unlock-window style to register, forgot, reset cards
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/ResetPasswordPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

feat(security): add a login/encryption explainer infographic page
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/App.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/PrivacyPage.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/styles/landing.css
  frontend/src/styles/privacy.css
  frontend/src/styles/security.css
Due: biome-check, tsc
