Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
  language: system

tsc:
  name: TypeScript type-check
  entry: bash -c 'cd frontend && npx tsc -b'
  language: system
  pass_filenames: false

mypy:
  name: mypy type-check
  entry: bash -c 'docker compose exec -T api uv run mypy app'
  language: system
  pass_filenames: false

Fix flaky data entry E2E test with retry loop for form fills
  frontend/e2e/data-entry.spec.ts
Due: tsc

Add design plan for timeline marker deduplication
  docs/plans/2026-03-07-timeline-marker-dedup-design.md
Due: none

Extract shared marker rendering from timeline lane components
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/MarkerDetailCard.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/components/timeline/timelineHelpers.ts
  frontend/src/components/timeline/timelineMarkers.tsx
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Replace 5 duplicated CRUD routers with generic router factory
  api/app/routers/classifications.py
  api/app/routers/crud_helpers.py
  api/app/routers/events.py
  api/app/routers/life_events.py
  api/app/routers/patterns.py
  api/app/routers/turning_points.py
Due: mypy

Deduplicate linked-entity test suite with parameterized factory
  docs/plans/2026-03-07-test-dedup-design.md
  frontend/src/hooks/useTreeMutations.test.tsx
Due: biome-check, tsc

Fix weak typing in auth key migration helpers
  api/app/routers/auth.py
Due: mypy

Fix theme toggle icon to show the target theme instead of current
  frontend/src/components/ThemeToggle.tsx
Due: biome-check, tsc

Extract shared CTA email assembly into _send_cta_email helper
  api/app/email.py
Due: mypy

Replace literal dashes with translated notAvailable key in admin page
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/AdminPage.tsx
Due: biome-check, tsc

Fix flaky data entry E2E tests by waiting for network idle before form fill
  frontend/e2e/data-entry.spec.ts
Due: tsc

Add unit tests for admin stats helpers to strengthen coverage margin
  api/tests/test_admin.py
Due: mypy

Extract RelationshipPopover and RelationshipPrompt from TreeWorkspacePage
  frontend/src/components/tree/RelationshipPopover.tsx
  frontend/src/components/tree/RelationshipPrompt.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Extract canvas toolbar buttons from TreeWorkspacePage
  frontend/src/components/tree/CanvasToolbarButtons.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Narrow email exception handling to SMTPException and OSError
  api/app/email.py
Due: mypy

Extract rate limiter magic numbers into named constants
  api/app/rate_limiter.py
Due: mypy

Split AdminPage into section components with useAdminData hook
  frontend/src/components/admin/ActivitySection.tsx
  frontend/src/components/admin/FeatureTogglesSection.tsx
  frontend/src/components/admin/FeedbackSection.tsx
  frontend/src/components/admin/FunnelSection.tsx
  frontend/src/components/admin/GrowthSection.tsx
  frontend/src/components/admin/OverviewSection.tsx
  frontend/src/components/admin/RetentionSection.tsx
  frontend/src/components/admin/UsageSection.tsx
  frontend/src/components/admin/UserListSection.tsx
  frontend/src/components/admin/WaitlistSection.tsx
  frontend/src/hooks/useAdminData.ts
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/FeatureToggleCard.test.tsx
Due: biome-check, tsc

Split SettingsPanel into ChangePassword, ChangePassphrase, and DeleteAccount sections
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/components/tree/settings/ChangePassphraseSection.tsx
  frontend/src/components/tree/settings/ChangePasswordSection.tsx
  frontend/src/components/tree/settings/DeleteAccountSection.tsx
Due: biome-check, tsc

Group PersonDetailPanel callback props into handler objects
  frontend/src/components/WorkspacePanelHost.tsx
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
Due: biome-check, tsc

Add code review refactoring plan document
  docs/plans/2026-03-07-code-review-refactoring.md
Due: none

Fix biome import ordering and formatting in refactored files
  frontend/src/components/admin/FeedbackSection.tsx
  frontend/src/components/admin/RetentionSection.tsx
  frontend/src/components/admin/UserListSection.tsx
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/RelationshipPopover.tsx
  frontend/src/components/tree/settings/ChangePassphraseSection.tsx
  frontend/src/components/tree/settings/ChangePasswordSection.tsx
  frontend/src/components/tree/settings/DeleteAccountSection.tsx
  frontend/src/hooks/useAdminData.ts
  frontend/src/pages/FeatureToggleCard.test.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add unit tests for refactored components to restore coverage baseline
  frontend/src/components/admin/AdminSections.test.tsx
  frontend/src/components/tree/CanvasToolbarButtons.test.tsx
  frontend/src/components/tree/RelationshipPopover.test.tsx
  frontend/src/components/tree/RelationshipPrompt.test.tsx
  frontend/src/components/tree/settings/SettingsSections.test.tsx
  frontend/src/hooks/useAdminData.test.ts
Due: biome-check, tsc

Fix useAdminData test mocks to return resolved values instead of undefined
  frontend/src/hooks/useAdminData.test.ts
Due: biome-check, tsc

Add unit tests for AuthWelcome component
  frontend/src/components/AuthWelcome.test.tsx
Due: biome-check, tsc

Add close-button tests for WorkspacePanelHost to cover inline callbacks
  frontend/src/components/WorkspacePanelHost.test.tsx
Due: biome-check, tsc

Improve d3 mock to invoke callback arguments for GrowthSection coverage
  frontend/src/components/admin/AdminSections.test.tsx
Due: biome-check, tsc

Add dedicated unit tests for TimelineAgeContent component
  frontend/src/components/timeline/TimelineAgeContent.test.tsx
Due: biome-check, tsc

Add click handler tests for RelationshipPopover component
  frontend/src/components/tree/RelationshipPopover.test.tsx
Due: biome-check, tsc

Improve useTimelineZoom test coverage from 78% to 100%
  frontend/src/hooks/useTimelineZoom.test.ts
Due: biome-check, tsc

Add edge case tests for computeInsights turning point guards
  frontend/src/lib/computeInsights.test.ts
Due: biome-check, tsc

Improve AppFooter branch coverage from 70% to 95%
  frontend/src/components/AppFooter.test.tsx
Due: biome-check, tsc

Cover remaining FeedbackModal branches for 100% coverage
  frontend/src/components/FeedbackModal.test.tsx
Due: biome-check, tsc

Improve MentalHealthBanner branch coverage from 75% to 100%
  frontend/src/components/MentalHealthBanner.test.tsx
Due: biome-check, tsc

Improve FeatureTogglesSection branch coverage from 67% to 92%
  frontend/src/pages/FeatureToggleCard.test.tsx
Due: biome-check, tsc

Improve computeInsights branch coverage from 90% to 94%
  frontend/src/lib/computeInsights.test.ts
Due: biome-check, tsc

Improve createDemoTree branch coverage from 75% to 100%
  frontend/src/lib/createDemoTree.test.ts
Due: biome-check, tsc

Add argon2 tests for 100% branch coverage
  frontend/src/lib/argon2.test.ts
Due: biome-check, tsc

Improve FunnelSection branch coverage from 50% to 100%
  frontend/src/components/admin/AdminSections.test.tsx
Due: biome-check, tsc

Improve timelineHelpers.ts test coverage to 100% across all metrics
  frontend/src/components/timeline/timelineHelpers.test.ts
Due: biome-check, tsc

Fix deploy pipeline waiting for removed CI check names
  .github/workflows/deploy.yml
Due: none

Add SiblingGroup backend model and database migration
  api/alembic/versions/4a493b715fd0_add_sibling_groups.py
  api/app/models/__init__.py
  api/app/models/sibling_group.py
  api/app/models/tree.py
Due: mypy

Path conditions:
  biome-check: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  tsc: any of: \.tsx?$
  mypy: any of: \.py$
