Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx, json]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'docker compose exec -T api uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

Reduce duplication in sync, auth, and relationships routers
  api/app/routers/auth.py
  api/app/routers/relationships.py
  api/app/routers/sync.py
Due: mypy

Fix make help showing 'Makefile' prefix on every target name
  Makefile
Due: none

Removed issue from known_issues
  docs/known_issues.md
Due: none

Use per-environment performance baselines for local vs CI
  .github/workflows/deploy.yml
  .performance-baseline.ci.json
  Makefile
  scripts/performance-check.sh
Due: none

Fall back to Docker for Lighthouse when not installed locally
  scripts/performance-check.sh
Due: none

Fix Docker Lighthouse fallback: use volume mount and container chrome flags
  scripts/performance-check.sh
Due: none

New baseline for performance test
  .performance-baseline.json
Due: none

Fix CI baseline push: use contents:write and push to main from detached HEAD
  .github/workflows/deploy.yml
Due: none

Clear core.hooksPath before pre-commit install in make setup
  Makefile
Due: none

Fix moderate ReDoS vulnerability in ajv (eslint transitive dep)
  frontend/package-lock.json
Due: none

Move CI baseline ratchet from deploy to manual workflow_dispatch
  .github/workflows/deploy.yml
  .github/workflows/perf-ratchet.yml
Due: none

Removed aw workflows
  .github/aw/actions-lock.json
  .github/aw/imports/.gitattributes
  .github/aw/imports/github/gh-aw/94662b1dee8ce96c876ba9f33b3ab8be32de82a4/.github_workflows_shared_reporting.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/grumpy-reviewer.lock.yml
  .github/workflows/grumpy-reviewer.md
Due: none

Add per-type relationship visibility toggles to canvas settings
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/CanvasSettingsContent.test.tsx
  frontend/src/components/tree/CanvasSettingsContent.tsx
  frontend/src/hooks/filterEdgesByVisibility.test.ts
  frontend/src/hooks/useCanvasSettings.test.ts
  frontend/src/hooks/useCanvasSettings.ts
  frontend/src/hooks/useTreeLayout.ts
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add design doc for auto-layout animation and position undo
  docs/plans/2026-02-21-auto-layout-undo-design.md
Due: none

Add animated auto-layout and position undo for canvas nodes
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/hooks/usePositionHistory.test.ts
  frontend/src/hooks/usePositionHistory.ts
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Fix auto-layout not applying new positions after clearing pins
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Fix half-sibling rank alignment and post-layout node overlaps
  frontend/src/hooks/useTreeLayout.ts
  frontend/src/lib/treeLayoutHelpers.ts
Due: biome-check, tsc

Add design doc for resilience and strengths layer (turning points)
  docs/plans/2026-02-21-resilience-layer-design.md
Due: none

Add implementation plan for resilience layer (turning points)
  docs/plans/2026-02-21-resilience-layer-plan.md
Due: none

Add TurningPoint model and database migration
  api/alembic/versions/73326c37101f_add_turning_points.py
  api/app/models/__init__.py
  api/app/models/tree.py
  api/app/models/turning_point.py
Due: mypy

Add turning points CRUD router and backend tests
  api/app/main.py
  api/app/routers/turning_points.py
  api/app/schemas/tree.py
  api/tests/test_turning_points.py
Due: mypy

Add turning points to bulk sync endpoint
  api/app/routers/sync.py
  api/app/schemas/sync.py
  api/tests/test_sync.py
Due: mypy

Add frontend types, API functions, and color system for turning points
  frontend/src/lib/api.ts
  frontend/src/lib/turningPointColors.test.ts
  frontend/src/lib/turningPointColors.ts
  frontend/src/styles/theme.css
  frontend/src/types/api.ts
  frontend/src/types/domain.ts
Due: biome-check, tsc

Add turning point data fetching and mutation hooks
  frontend/src/hooks/useTreeData.test.ts
  frontend/src/hooks/useTreeData.ts
  frontend/src/hooks/useTreeMutations.test.tsx
  frontend/src/hooks/useTreeMutations.ts
Due: biome-check, tsc

Add EN and NL translations for turning points
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
Due: none

Add star-shaped turning point badges to canvas person nodes
  frontend/src/components/tree/PersonNode.css
  frontend/src/components/tree/PersonNode.test.tsx
  frontend/src/components/tree/PersonNode.tsx
  frontend/src/hooks/useTreeLayout.ts
  frontend/src/lib/treeLayoutHelpers.test.ts
  frontend/src/lib/treeLayoutHelpers.ts
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add turning points CRUD section to PersonDetailPanel
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/components/tree/TurningPointsTab.tsx
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add turning point markers to timeline view
  frontend/public/locales/en/translation.json
  frontend/src/components/timeline/AgePersonLane.test.tsx
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/MarkerDetailCard.tsx
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/timeline/TimelineAgeContent.tsx
  frontend/src/components/timeline/TimelineView.tsx
  frontend/src/components/timeline/TimelineYearsContent.tsx
  frontend/src/components/timeline/timelineHelpers.test.ts
  frontend/src/components/timeline/timelineHelpers.ts
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc

Add turning points to pattern linking and demo tree
  frontend/src/components/PatternView.css
  frontend/src/components/PatternView.test.tsx
  frontend/src/components/PatternView.tsx
  frontend/src/components/timeline/AgePersonLane.test.tsx
  frontend/src/components/timeline/AgePersonLane.tsx
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/timeline/PersonLane.tsx
  frontend/src/components/tree/PatternPanel.css
  frontend/src/components/tree/PatternPanel.test.tsx
  frontend/src/components/tree/PatternPanel.tsx
  frontend/src/fixtures/demo-tree-en.json
  frontend/src/fixtures/demo-tree-nl.json
  frontend/src/hooks/useTimelineFilters.test.ts
  frontend/src/hooks/useTimelineFilters.ts
  frontend/src/lib/createDemoTree.test.ts
  frontend/src/lib/createDemoTree.ts
  frontend/src/pages/PatternPage.tsx
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/src/types/api.ts
  frontend/src/types/domain.ts
Due: biome-check, tsc

Add design doc for events tab grouping in PersonDetailPanel
  docs/plans/2026-02-21-events-tab-grouping-design.md
Due: none

Group trauma, life, and turning point tabs under single Events tab
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
Due: biome-check, tsc

Add per-type count badges to event segment controls
  frontend/src/components/tree/PersonDetailPanel.css
  frontend/src/components/tree/PersonDetailPanel.tsx
Due: biome-check, tsc

Use full event type names in segment controls
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
Due: none

Reduce cognitive complexity in treeLayoutHelpers and PatternPanel
  frontend/src/components/tree/PatternPanel.tsx
  frontend/src/lib/treeLayoutHelpers.ts
Due: biome-check, tsc

Add TurningPointsTab form and edit tests
  frontend/src/components/tree/TurningPointsTab.test.tsx
Due: biome-check, tsc

Improve test coverage for turning points and related components
  frontend/src/components/PatternView.test.tsx
  frontend/src/components/timeline/PersonLane.test.tsx
  frontend/src/components/tree/PatternPanel.test.tsx
  frontend/src/components/tree/RelationshipDetailPanel.test.tsx
  frontend/src/lib/api.test.ts
  frontend/vitest.config.ts
Due: biome-check, tsc

Update coverage baseline after turning points feature
  .coverage-baseline.json
Due: none

Extract ageLabel helper to eliminate duplicate string in AgePersonLane
  frontend/src/components/timeline/AgePersonLane.tsx
Due: biome-check, tsc

Mark resilience and strengths layer as done in roadmap
  docs/roadmap.md
Due: none

Structure CI pipeline into fast-fail tiers
  .github/workflows/ci.yml
Due: none
