Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
  language: system

tsc:
  name: TypeScript type-check
  entry: bash -c 'cd frontend && npx tsc -b'
  language: system
  pass_filenames: false

mypy:
  name: mypy type-check
  entry: bash -c 'docker compose exec -T api uv run mypy app'
  language: system
  pass_filenames: false

Mark API rate limiting as done in roadmap
  docs/roadmap.md
Due: none

Add async email sending design doc
  docs/plans/2026-02-23-async-email-design.md
Due: none

Move all email sending to background threads with retry
  api/app/email.py
  api/app/routers/auth.py
  api/app/routers/feedback.py
  api/app/routers/waitlist.py
  api/tests/test_email.py
Due: mypy

Mark async email sending as done in roadmap
  docs/roadmap.md
Due: none

Add production error tracking design doc (Sentry)
  docs/plans/2026-02-23-error-tracking-design.md
Due: none

Integrate Sentry error tracking for frontend and backend
  .env.example
  .github/workflows/deploy.yml
  api/app/config.py
  api/app/main.py
  api/pyproject.toml
  api/tests/test_sentry.py
  api/uv.lock
  docs/roadmap.md
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/lib/crypto.test.ts
  frontend/src/lib/crypto.ts
  frontend/src/main.tsx
  frontend/vite.config.ts
Due: biome-check, tsc, mypy

Use distinct Sentry environments for frontend and API
  .github/workflows/deploy.yml
Due: none

Extract breadcrumb filter to reduce cognitive complexity in main.tsx
  frontend/src/main.tsx
Due: biome-check, tsc

Add user data export design doc and update roadmap
  docs/plans/2026-02-24-user-data-export-design.md
  docs/roadmap.md
Due: none

Add encrypted_key_ring column to User model
  api/alembic/versions/e9dcfe4e05d2_add_encrypted_key_ring_to_users.py
  api/app/models/user.py
Due: mypy

Add key ring and migration API endpoints
  api/app/routers/auth.py
  api/app/schemas/auth.py
  api/tests/test_key_ring.py
Due: mypy

Add per-tree key crypto functions and key ring API client
  frontend/src/lib/api.ts
  frontend/src/lib/crypto.test.ts
  frontend/src/lib/crypto.ts
  frontend/src/types/api.ts
Due: biome-check, tsc

Refactor EncryptionContext for per-tree encryption keys
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/contexts/EncryptionContext.tsx
  frontend/src/hooks/useTreeData.test.ts
  frontend/src/hooks/useTreeData.ts
  frontend/src/hooks/useTreeMutations.test.tsx
  frontend/src/hooks/useTreeMutations.ts
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/pages/UnlockPage.tsx
Due: biome-check, tsc

Add key ring loading and migration to unlock flow
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/lib/keyRingLoader.test.ts
  frontend/src/lib/keyRingLoader.ts
  frontend/src/pages/UnlockPage.tsx
Due: biome-check, tsc

Simplify passphrase change to key-ring-only re-encryption
  frontend/src/components/tree/SettingsPanel.tsx
Due: biome-check, tsc

Add useExportTree hook for encrypted backup and plaintext export
  frontend/src/hooks/useExportTree.test.ts
  frontend/src/hooks/useExportTree.ts
Due: biome-check, tsc

Add useImportTree hook for encrypted backup import
  frontend/src/hooks/useImportTree.test.ts
  frontend/src/hooks/useImportTree.ts
Due: biome-check, tsc

Add life events and journal entries to sync endpoint
  api/app/routers/sync.py
  api/app/schemas/sync.py
  frontend/src/hooks/useImportTree.test.ts
  frontend/src/hooks/useImportTree.ts
  frontend/src/types/api.ts
Due: biome-check, tsc, mypy

Add export UI to canvas settings panel
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/tree/CanvasSettingsContent.test.tsx
  frontend/src/components/tree/CanvasSettingsContent.tsx
  frontend/src/components/tree/SettingsPanel.css
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add import UI to tree list page
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/TreeListPage.tsx
Due: biome-check, tsc

Improve export/import test coverage with non-empty entity data
  frontend/src/hooks/useExportTree.test.ts
  frontend/src/hooks/useImportTree.test.ts
Due: biome-check, tsc

Mark user data export (#7) as done on roadmap
  docs/roadmap.md
Due: none

Reduce complexity of migrate_keys endpoint
  api/app/routers/auth.py
Due: mypy

Add user data export implementation plan
  docs/plans/2026-02-24-user-data-export-plan.md
Due: none

Extract useLocalStorageSettings generic hook
  frontend/src/hooks/useCanvasSettings.ts
  frontend/src/hooks/useLocalStorageSettings.test.ts
  frontend/src/hooks/useLocalStorageSettings.ts
  frontend/src/hooks/useTimelineSettings.ts
Due: biome-check, tsc

Deduplicate useTreeMutations with factory hook
  frontend/src/hooks/useTreeMutations.test.tsx
  frontend/src/hooks/useTreeMutations.ts
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Deduplicate useTreeData with query factory hook
  frontend/src/hooks/useTreeData.ts
Due: biome-check, tsc

Make sync.py entity operations data-driven
  api/app/routers/sync.py
Due: mypy

Extract applyPositions helper in TreeWorkspacePage
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add linkedEntityHandlers factory, group mutation exports
  frontend/src/hooks/useTreeMutations.test.tsx
  frontend/src/hooks/useTreeMutations.ts
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Extract filterByPerson helper for entity filtering
  frontend/src/hooks/useTreeData.ts
  frontend/src/pages/TimelinePage.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Refactor api.ts with makeCrudApi factory to eliminate repeated CRUD patterns
  frontend/src/lib/api.ts
Due: biome-check, tsc

Extract get_or_404 helper and response builders to reduce router duplication
  api/app/dependencies.py
  api/app/routers/admin_feedback.py
  api/app/routers/crud_helpers.py
  api/app/routers/journal.py
  api/app/routers/persons.py
  api/app/routers/relationships.py
  api/app/routers/sync.py
  api/app/routers/trees.py
  api/app/routers/waitlist.py
Due: mypy

Extract shared _send_smtp helper to deduplicate SMTP connection logic
  api/app/email.py
  api/tests/test_email.py
  frontend/src/components/PatternView.tsx
  frontend/src/components/tree/PatternPanel.tsx
  frontend/src/contexts/EncryptionContext.tsx
  frontend/src/lib/categoryColors.ts
  frontend/src/lib/lifeEventColors.ts
  frontend/src/lib/patternEntities.ts
  frontend/src/lib/traumaColors.ts
  frontend/src/lib/turningPointColors.ts
  frontend/src/pages/TimelinePage.tsx
Due: biome-check, tsc, mypy

Replace 5 junction table model classes with make_junction_model factory
  api/app/database.py
  api/app/models/classification.py
  api/app/models/event.py
  api/app/models/life_event.py
  api/app/models/pattern.py
  api/app/models/turning_point.py
  api/tests/test_database.py
Due: mypy

Extract shared components and reduce duplication across event tabs
  frontend/src/components/ConfirmDeleteButton.tsx
  frontend/src/components/journal/JournalEntryForm.tsx
  frontend/src/components/tree/ClassificationsTab.tsx
  frontend/src/components/tree/EventCard.test.tsx
  frontend/src/components/tree/EventCard.tsx
  frontend/src/components/tree/LifeEventsTab.tsx
  frontend/src/components/tree/PatternPanel.tsx
  frontend/src/components/tree/PersonTab.tsx
  frontend/src/components/tree/RelationshipDetailPanel.tsx
  frontend/src/components/tree/TraumaEventsTab.tsx
  frontend/src/components/tree/TurningPointsTab.tsx
  frontend/src/hooks/useEditingState.test.ts
  frontend/src/hooks/useEditingState.ts
  frontend/src/types/api.ts
Due: biome-check, tsc

Add tests for ConfirmDeleteButton and patternEntities
  frontend/src/components/ConfirmDeleteButton.test.tsx
  frontend/src/lib/patternEntities.test.ts
Due: biome-check, tsc

Harden security: non-extractable tree keys, payload limits, configurable CORS
  .env.example
  api/app/config.py
  api/app/main.py
  api/app/schemas/sync.py
  api/app/schemas/tree.py
  docs/roadmap.md
  frontend/src/contexts/EncryptionContext.tsx
  frontend/src/hooks/useExportTree.test.ts
  frontend/src/hooks/useExportTree.ts
  frontend/src/hooks/useImportTree.test.ts
  frontend/src/hooks/useImportTree.ts
  frontend/src/lib/crypto.test.ts
  frontend/src/lib/crypto.ts
  frontend/src/lib/keyRingLoader.test.ts
  frontend/src/lib/keyRingLoader.ts
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/pages/UnlockPage.tsx
Due: biome-check, tsc, mypy

Set CORS_ORIGINS for production domains in deploy workflow
  .github/workflows/deploy.yml
Due: none

Fix false positives in privacy scanner for useLocalStorageSettings
  frontend/src/hooks/useLocalStorageSettings.ts
  scripts/privacy-scan.sh
Due: biome-check, tsc

Path conditions:
  biome-check: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  tsc: any of: \.tsx?$
  mypy: any of: \.py$
