Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
  language: system

tsc:
  name: TypeScript type-check
  entry: bash -c 'cd frontend && npx tsc -b'
  language: system
  pass_filenames: false

mypy:
  name: mypy type-check
  entry: bash -c 'docker compose exec -T api uv run mypy app'
  language: system
  pass_filenames: false

Move useEncryption hook to own file to fix Vite Fast Refresh
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/contexts/EncryptionContext.tsx
  frontend/src/contexts/useEncryption.ts
  frontend/src/hooks/useExportTree.test.ts
  frontend/src/hooks/useExportTree.ts
  frontend/src/hooks/useImportTree.test.ts
  frontend/src/hooks/useImportTree.ts
  frontend/src/hooks/useLogout.test.ts
  frontend/src/hooks/useLogout.ts
  frontend/src/hooks/useTreeData.test.ts
  frontend/src/hooks/useTreeData.ts
  frontend/src/hooks/useTreeMutations.test.tsx
  frontend/src/hooks/useTreeMutations.ts
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/pages/UnlockPage.tsx
Due: biome-check, tsc

Track last passphrase use instead of last login in admin panel
  api/alembic/versions/e54a6de25b64_add_last_active_at_to_users.py
  api/app/models/user.py
  api/app/routers/admin_stats.py
  api/app/routers/auth.py
  api/app/schemas/admin.py
  api/tests/conftest.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/AdminPage.tsx
  frontend/src/types/api.ts
Due: biome-check, tsc, mypy

Add admin badge and sort admins first in user list
  api/app/routers/admin_stats.py
  api/app/schemas/admin.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/AdminPage.tsx
  frontend/src/styles/admin.css
  frontend/src/types/api.ts
Due: biome-check, tsc, mypy

Show git tag and commit hash in app footer
  .github/workflows/deploy.yml
  frontend/Dockerfile
  frontend/src/components/AppFooter.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: biome-check, tsc

Redesign landing page with welcome-first layout
  docs/plans/2026-03-02-landing-page-redesign-design.md
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/AuthWelcome.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

Redesign landing pages with full-bleed hero and glassmorphism panel
  frontend/src/components/AuthWelcome.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

Separate welcome and login into side-by-side glass panels
  frontend/src/styles/auth.css
Due: none

Fix landing page title clipped on mobile viewports
  frontend/src/styles/auth.css
Due: none

Add sibling groups design and refresh roadmap for March 2026
  docs/plans/2026-03-02-sibling-groups-design.md
  docs/roadmap.md
Due: none

Disable 1Password prompts on passphrase inputs
  frontend/src/components/LockScreen.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/UnlockPage.tsx
Due: biome-check, tsc

Send verification emails in the user's language with correct domain
  .env.example
  .github/workflows/deploy.yml
  api/app/config.py
  api/app/email.py
  api/app/routers/auth.py
  api/app/schemas/auth.py
  api/tests/test_email.py
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/VerificationPendingPage.tsx
  frontend/src/types/api.ts
Due: biome-check, tsc, mypy

Replace technical "entities/entiteiten" with "items" in UI labels
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
Due: none

Add personal insights summary page at /trees/:id/insights
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/App.tsx
  frontend/src/components/insights/InsightCard.test.tsx
  frontend/src/components/insights/InsightCard.tsx
  frontend/src/components/tree/ViewTabs.test.tsx
  frontend/src/components/tree/ViewTabs.tsx
  frontend/src/lib/computeInsights.test.ts
  frontend/src/lib/computeInsights.ts
  frontend/src/pages/InsightsPage.css
  frontend/src/pages/InsightsPage.test.tsx
  frontend/src/pages/InsightsPage.tsx
Due: biome-check, tsc

Mark personal insights summary as done in roadmap
  docs/roadmap.md
Due: none

Reduce cognitive complexity in computeInsights.ts
  frontend/src/lib/computeInsights.ts
Due: biome-check, tsc

added frontend/test-results to .gitignore
  .gitignore
Due: none

Add e2e test infrastructure design and post-deploy smoketest to roadmap
  docs/plans/2026-03-03-e2e-tests-design.md
  docs/roadmap.md
Due: none

Add e2e test infrastructure implementation plan
  docs/plans/2026-03-03-e2e-tests-implementation.md
Due: none

feat: add test-only database reset endpoint for e2e isolation
  api/app/config.py
  api/app/main.py
  api/app/routers/testing.py
  api/tests/conftest.py
  api/tests/test_testing.py
Due: mypy

Add e2e test infrastructure with 17 Playwright tests
  .github/workflows/ci.yml
  .gitignore
  Makefile
  docker-compose.yml
  frontend/e2e/auth.spec.ts
  frontend/e2e/data-entry.spec.ts
  frontend/e2e/global-setup.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/helpers/db.ts
  frontend/e2e/helpers/mailpit.ts
  frontend/e2e/port-forward.cjs
  frontend/e2e/settings.spec.ts
  frontend/e2e/tree-workflow.spec.ts
  frontend/e2e/verification.spec.ts
  frontend/e2e/views.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/vite.config.ts
Due: tsc

Fix make help to show e2e targets
  Makefile
Due: none

Add make e2e-verify target for email verification tests
  Makefile
  docker-compose.yml
Due: none

Upgrade Playwright to 1.52, fix SMTP for Mailpit
  .env.example
  Makefile
  api/app/config.py
  api/app/email.py
  docker-compose.verify.yml
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
Due: mypy

Upgrade Playwright to 1.58.2
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
Due: none

Enable parallel e2e workers and fix flaky logout helper
  frontend/e2e/helpers/auth.ts
  frontend/playwright.config.ts
Due: tsc

Run e2e-headed and e2e-ui locally instead of in Docker
  Makefile
Due: none

Fix flaky tree-workflow test by waiting for panel close
  frontend/e2e/tree-workflow.spec.ts
Due: tsc

Handle both panel-first and prompt-first flows in tree-workflow test
  frontend/e2e/tree-workflow.spec.ts
Due: tsc

Retry registration on failure in e2e helper
  frontend/e2e/helpers/auth.ts
Due: tsc

Fix email verification broken by React StrictMode double-effect
  Makefile
  frontend/src/pages/VerifyEmailPage.tsx
Due: biome-check, tsc

Style email templates with branded HTML layout and fix TLS mock tests
  api/app/email.py
  api/tests/test_email.py
Due: mypy

Run database migrations before e2e tests in CI
  .github/workflows/ci.yml
Due: none

Replace procedural tree SVG with subtle leaf scatter background
  frontend/src/components/BranchDecoration.tsx
  frontend/src/components/tree/BranchDecoration.test.tsx
  frontend/src/styles/theme.css
Due: biome-check, tsc

Replace background decoration with topographic contour lines
  frontend/src/components/BranchDecoration.tsx
  frontend/src/components/tree/BranchDecoration.test.tsx
  frontend/src/styles/theme.css
Due: biome-check, tsc

Hide background contour lines when canvas grid is enabled
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add watercolor theme CSS variables and auth page rules
  api/alembic/versions/21b7d9a76c9d_add_feature_flags.py
  api/app/main.py
  api/app/models/__init__.py
  api/app/models/feature_flag.py
  api/app/routers/features.py
  api/app/schemas/features.py
  api/tests/test_features.py
  frontend/src/styles/auth.css
  frontend/src/styles/theme.css
Due: mypy

Improve feature flags code quality
  api/app/routers/features.py
  api/app/schemas/features.py
  api/tests/test_features.py
Due: mypy

Add frontend feature flags API, types, and hooks
  frontend/src/hooks/useAvailableThemes.test.ts
  frontend/src/hooks/useAvailableThemes.ts
  frontend/src/hooks/useFeatureFlags.test.ts
  frontend/src/hooks/useFeatureFlags.ts
  frontend/src/lib/api.ts
  frontend/src/types/api.ts
Due: biome-check, tsc

Upgrade theme system to support 3 themes (dark, light, watercolor)
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/ThemeToggle.test.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/ThemeLanguageSettings.tsx
  frontend/src/hooks/useTheme.test.ts
  frontend/src/hooks/useTheme.ts
Due: biome-check, tsc

Add feature toggles section to admin dashboard
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/hooks/useAvailableThemes.test.ts
  frontend/src/hooks/useFeatureFlags.ts
  frontend/src/pages/AdminPage.tsx
  frontend/src/styles/admin.css
Due: biome-check, tsc

Path conditions:
  biome-check: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  tsc: any of: \.tsx?$
  mypy: any of: \.py$
