Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
        language: system
        files: ^frontend/src/
        types_or: [javascript, jsx, ts, tsx, json]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type-check
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: mypy
        name: mypy type-check
        entry: bash -c 'docker compose exec -T api uv run mypy app'
        language: system
        files: \.py$
        pass_filenames: false

feat: add passphrase hint API (register, salt, PUT /auth/hint)
  api/app/routers/auth.py
  api/app/schemas/auth.py
  api/tests/test_auth.py
Due: mypy

feat: add passphrase hint types and API function
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/types/api.ts
Due: biome-check, tsc

feat: add AuthModal component with unlock and re-auth modes
  frontend/src/components/AuthModal.css
  frontend/src/components/AuthModal.test.tsx
  frontend/src/components/AuthModal.tsx
Due: biome-check, tsc

feat: wire AuthModal into App, replace /unlock redirect with overlay
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/hooks/useLogout.test.ts
  frontend/src/hooks/useLogout.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/pages/LoginPage.tsx
Due: biome-check, tsc

feat: add optional passphrase hint field to registration
  frontend/src/pages/RegisterPage.tsx
Due: biome-check, tsc

feat: display passphrase hint on unlock page
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/UnlockPage.test.tsx
  frontend/src/pages/UnlockPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

feat: add passphrase hint management in settings
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/components/tree/settings/PassphraseHintSection.test.tsx
  frontend/src/components/tree/settings/PassphraseHintSection.tsx
Due: biome-check, tsc

feat: add configurable auto-lock timeout (5/15/30/60 min or disabled)
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/App.tsx
  frontend/src/components/tree/CanvasSettingsContent.test.tsx
  frontend/src/components/tree/CanvasSettingsContent.tsx
  frontend/src/hooks/useCanvasSettings.test.ts
  frontend/src/hooks/useCanvasSettings.ts
Due: biome-check, tsc

feat: add i18n translations for passphrase hints and auth modal
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
Due: none

fix: use 'versleutelingswachtwoord' consistently in Dutch hint translations
  frontend/public/locales/nl/translation.json
Due: none

feat: add Playwright e2e tests for AuthModal and update auth helpers
  frontend/e2e/auth-modal.spec.ts
  frontend/e2e/auth.spec.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/settings.spec.ts
Due: tsc

fix: add autoLockMinutes to canvas settings test fixture
  frontend/src/hooks/useCanvasSettings.test.ts
Due: biome-check, tsc

fix: resolve linting and quality warnings in AuthModal and test files
  frontend/src/components/AuthModal.tsx
  frontend/src/components/tree/settings/PassphraseHintSection.test.tsx
  frontend/src/lib/api.test.ts
  frontend/src/pages/UnlockPage.test.tsx
Due: biome-check, tsc

fix: update AuthModal test to not rely on explicit role="form"
  frontend/src/components/AuthModal.test.tsx
Due: biome-check, tsc

test: improve AuthModal test coverage from 68% to 100% lines
  frontend/src/components/AuthModal.test.tsx
Due: biome-check, tsc

fix: correct eslint-disable placement in AuthModal test
  frontend/src/components/AuthModal.test.tsx
Due: biome-check, tsc

refactor: split frontend tests into unit and integration tiers
  .github/workflows/ci.yml
  AGENTS.md
  Makefile
  frontend/src/components/timeline/timelineHelpers.unit.test.ts
  frontend/src/hooks/filterEdgesByVisibility.unit.test.ts
  frontend/src/lib/age.unit.test.ts
  frontend/src/lib/api.unit.test.ts
  frontend/src/lib/compactId.unit.test.ts
  frontend/src/lib/computeInsights.unit.test.ts
  frontend/src/lib/createDemoTree.unit.test.ts
  frontend/src/lib/dsmCategories.unit.test.ts
  frontend/src/lib/inferSiblings.unit.test.ts
  frontend/src/lib/journalChips.unit.test.ts
  frontend/src/lib/keyRingLoader.unit.test.ts
  frontend/src/lib/passwordStrength.unit.test.ts
  frontend/src/lib/patternEntities.unit.test.ts
  frontend/src/lib/reflectionPrompts.unit.test.ts
  frontend/src/lib/smartFilterGroups.unit.test.ts
  frontend/src/lib/treeLayoutHelpers.unit.test.ts
  frontend/src/types/domain.unit.test.ts
  frontend/vitest.config.ts
Due: biome-check, tsc

refactor: split backend tests into unit and integration directories
  .github/workflows/ci.yml
  AGENTS.md
  Makefile
  api/tests/conftest.py
  api/tests/integration/__init__.py
  api/tests/integration/conftest.py
  api/tests/integration/test_admin.py
  api/tests/integration/test_auth.py
  api/tests/integration/test_classifications.py
  api/tests/integration/test_crud_helpers.py
  api/tests/integration/test_events.py
  api/tests/integration/test_features.py
  api/tests/integration/test_feedback.py
  api/tests/integration/test_health.py
  api/tests/integration/test_journal.py
  api/tests/integration/test_key_ring.py
  api/tests/integration/test_life_events.py
  api/tests/integration/test_patterns.py
  api/tests/integration/test_persons.py
  api/tests/integration/test_rate_limiter_integration.py
  api/tests/integration/test_relationships.py
  api/tests/integration/test_sibling_groups.py
  api/tests/integration/test_sync.py
  api/tests/integration/test_testing.py
  api/tests/integration/test_trees.py
  api/tests/integration/test_turning_points.py
  api/tests/integration/test_waitlist.py
  api/tests/unit/__init__.py
  api/tests/unit/test_database.py
  api/tests/unit/test_email.py
  api/tests/unit/test_rate_limiter.py
  api/tests/unit/test_sentry.py
Due: mypy

fix: guard tree list query until encryption keys are available
  frontend/src/pages/TreeListPage.tsx
Due: biome-check, tsc

fix: correct e2e selector for switch account button
  frontend/e2e/auth-modal.spec.ts
Due: tsc

refactor: move auto-lock setting from canvas to account settings
  frontend/src/components/tree/CanvasSettingsContent.test.tsx
  frontend/src/components/tree/CanvasSettingsContent.tsx
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/components/tree/settings/AutoLockSection.test.tsx
  frontend/src/components/tree/settings/AutoLockSection.tsx
Due: biome-check, tsc

fix: add privacy-ok annotations to wasAuthenticated sessionStorage usage
  frontend/src/lib/api.ts
  frontend/src/lib/api.unit.test.ts
Due: biome-check, tsc

fix: resolve biome formatting and array index key lint violations
  frontend/src/App.tsx
  frontend/src/components/tree/SiblingGroupNode.tsx
Due: biome-check, tsc

fix: move api tests back to integration tier for jsdom environment
  frontend/src/lib/api.test.ts
Due: biome-check, tsc

docs: document passphrase hint feature in AGENTS.md
  AGENTS.md
Due: none

docs: mark #14 passphrase hints and auth modals as done in roadmap
  docs/roadmap.md
Due: none

refactor: redesign registration as 3-step wizard
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/RegisterPage.test.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

refactor: center registration card and add step explanations
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/pages/RegisterPage.test.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

fix: improve registration card width, dot contrast, and spacing
  frontend/src/styles/auth.css
Due: none

refactor: move step indicator dots to bottom of registration card
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

style: group registration form fields and adjust spacing
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles/auth.css
Due: biome-check, tsc

style: make form field labels bold
  frontend/src/styles/auth.css
Due: none

style: widen registration card to 480px on large screens
  frontend/src/styles/auth.css
Due: none

feat: add password strength hints and passphrase minimum length indicator
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/PasswordStrengthMeter.css
  frontend/src/components/PasswordStrengthMeter.test.tsx
  frontend/src/components/PasswordStrengthMeter.tsx
  frontend/src/pages/RegisterPage.tsx
Due: biome-check, tsc

fix: fix 1Password link rendering and improve hint text contrast
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/PasswordStrengthMeter.css
  frontend/src/components/PasswordStrengthMeter.tsx
Due: biome-check, tsc

fix: improve password meter segment contrast and remove link underline
  frontend/src/components/PasswordStrengthMeter.css
Due: none

style: make passphrase warning red and add checkbox margin
  frontend/src/styles/auth.css
Due: none

style: improve back button contrast in dark mode
  frontend/src/styles/auth.css
Due: none

fix: update e2e tests for multi-step registration wizard
  frontend/e2e/helpers/auth.ts
  frontend/e2e/verification.spec.ts
Due: tsc

fix: add Trans mock to test files using PasswordStrengthMeter
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/settings/ChangePasswordSection.test.tsx
Due: biome-check, tsc
