Repository merlijntishauser/traumabomen: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc, mypy

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --write --staged --no-errors-on-unmatched "$@"' --
  language: system

tsc:
  name: TypeScript type-check
  entry: bash -c 'cd frontend && npx tsc -b'
  language: system
  pass_filenames: false

mypy:
  name: mypy type-check
  entry: bash -c 'docker compose exec -T api uv run mypy app'
  language: system
  pass_filenames: false

Fix OG meta tags showing dev values in production
  frontend/vite.config.ts
Due: tsc

Add bottom padding below privacy policy link on auth page
  frontend/src/styles/auth.css
Due: none

Thicken selected relationship edge on canvas
  frontend/src/components/tree/RelationshipEdge.tsx
Due: biome-check, tsc

Show classification subcategory in pattern entity labels
  frontend/src/components/PatternView.tsx
  frontend/src/components/tree/PatternPanel.test.tsx
  frontend/src/components/tree/PatternPanel.tsx
Due: biome-check, tsc

Add ICD-10 codes and subcategories to DSM classification selector
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/PersonDetailPanel.tsx
  frontend/src/lib/dsmCategories.test.ts
  frontend/src/lib/dsmCategories.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
Due: biome-check, tsc

Add started/stopped medication life event categories
  frontend/src/lib/lifeEventColors.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/styles/theme.css
  frontend/src/types/domain.ts
Due: biome-check, tsc

Updated known issues and roadmap
  docs/known_issues.md
  docs/roadmap.md
Due: none

Add design doc for in-app feedback form
  docs/plans/2026-02-17-feedback-form-design.md
Due: none

Add in-app feedback form with admin dashboard and email notifications
  .env.example
  api/alembic/versions/d4e7dad0ae46_add_feedback_table.py
  api/app/config.py
  api/app/email.py
  api/app/main.py
  api/app/models/__init__.py
  api/app/models/feedback.py
  api/app/routers/admin.py
  api/app/routers/feedback.py
  api/app/schemas/feedback.py
  api/tests/test_feedback.py
  frontend/src/components/AppFooter.test.tsx
  frontend/src/components/AppFooter.tsx
  frontend/src/components/FeedbackModal.test.tsx
  frontend/src/components/FeedbackModal.tsx
  frontend/src/lib/api.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/AdminPage.tsx
  frontend/src/styles/admin.css
  frontend/src/styles/feedback.css
  frontend/src/types/api.ts
Due: biome-check, tsc, mypy

Change heading font to Playwrite New Zealand Basic
  AGENTS.md
  frontend/index.html
  frontend/src/styles/theme.css
Due: none

Minor changes to roadmap
  docs/roadmap.md
Due: none

Add design doc for beta waitlist with user cap
  docs/plans/2026-02-17-beta-waitlist-design.md
  docs/roadmap.md
Due: none

Updated known issues and roadmap
  docs/plans/2026-02-17-beta-waitlist-design.md
  docs/roadmap.md
Due: none

Add beta waitlist with user cap and invite flow
  .env.example
  api/alembic/versions/5efe19d38d7a_add_waitlist_entries_table.py
  api/app/capacity.py
  api/app/config.py
  api/app/email.py
  api/app/main.py
  api/app/models/__init__.py
  api/app/models/waitlist.py
  api/app/routers/auth.py
  api/app/routers/waitlist.py
  api/app/schemas/auth.py
  api/app/schemas/waitlist.py
  api/tests/conftest.py
  api/tests/test_email.py
  api/tests/test_waitlist.py
  frontend/src/App.tsx
  frontend/src/lib/api.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/WaitlistPage.test.tsx
  frontend/src/pages/WaitlistPage.tsx
  frontend/src/styles/admin.css
  frontend/src/types/api.ts
Due: biome-check, tsc, mypy

Fix privacy page email domain and improve UI polish
  frontend/src/App.tsx
  frontend/src/components/LockScreen.css
  frontend/src/components/LockScreen.test.tsx
  frontend/src/components/LockScreen.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/PrivacyPage.tsx
  frontend/src/styles/privacy.css
Due: biome-check, tsc

Add waitlist env vars to Cloud Run deploy config
  .github/workflows/deploy.yml
Due: none

Fix lock screen not dismissing on logout
  frontend/src/hooks/useLockScreen.test.ts
  frontend/src/hooks/useLockScreen.ts
Due: biome-check, tsc

Reduce complexity in register page and auth endpoint
  api/app/routers/auth.py
  frontend/src/pages/RegisterPage.tsx
Due: biome-check, tsc, mypy

Suppress false positive in privacy scanner for invite token comment
  api/app/routers/waitlist.py
Due: mypy

Fix heading font not loading (wrong Google Fonts family name)
  AGENTS.md
  frontend/index.html
  frontend/src/styles/theme.css
Due: none

Add tests for feedback/waitlist API functions and AppFooter coverage
  frontend/src/components/AppFooter.test.tsx
  frontend/src/lib/api.test.ts
Due: biome-check, tsc

Add FEEDBACK_EMAIL to Cloud Run deploy config
  .github/workflows/deploy.yml
Due: none

Add read/unread status and delete to admin feedback panel
  api/alembic/versions/5e3dac0517ba_add_is_read_to_feedback.py
  api/app/models/feedback.py
  api/app/routers/admin.py
  api/app/schemas/feedback.py
  api/tests/test_feedback.py
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/AdminPage.tsx
  frontend/src/styles/admin.css
  frontend/src/types/api.ts
Due: biome-check, tsc, mypy

Add tests for TreeToolbar and ViewTabs components
  frontend/src/components/tree/TreeToolbar.test.tsx
  frontend/src/components/tree/ViewTabs.test.tsx
Due: biome-check, tsc

Add welcome banner and upgrade footer feedback visibility
  docs/plans/2026-02-18-welcome-banner-design.md
  frontend/src/components/AppFooter.test.tsx
  frontend/src/components/AppFooter.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/footer.css
  frontend/src/styles/tree-list.css
Due: biome-check, tsc

Add background images to welcome banner
  docs/plans/2026-02-18-welcome-banner-design.md
  frontend/public/images/welcome-dark.jpg
  frontend/public/images/welcome-light.jpg
  frontend/src/pages/TreeListPage.tsx
  frontend/src/styles/tree-list.css
Due: biome-check, tsc

Refine welcome banner: vignette overlay, image position, stronger border
  frontend/src/styles/tree-list.css
Due: none

Replace -- with em dashes in all text strings
  AGENTS.md
  docs/plans/2026-02-18-welcome-banner-design.md
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
Due: biome-check

Replace em dashes with commas, semicolons, and parentheses
  AGENTS.md
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
Due: biome-check

Improve PersonNode test coverage to 100% across all metrics
  frontend/src/components/tree/PersonNode.test.tsx
Due: biome-check, tsc

Improve useTreeMutations test coverage to 100% across all metrics
  frontend/src/hooks/useTreeMutations.test.tsx
Due: biome-check, tsc

Improve PersonDetailPanel and SettingsPanel test coverage
  frontend/src/components/tree/PersonDetailPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.test.tsx
Due: biome-check, tsc

Suppress false positive in privacy scanner for welcome banner localStorage
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
Due: biome-check, tsc

Add welcome dismissed key to privacy scanner allowlist
  frontend/src/pages/TreeListPage.test.tsx
  frontend/src/pages/TreeListPage.tsx
  scripts/privacy-scan.sh
Due: biome-check, tsc

Add relationship prompt after creating a new person
  docs/roadmap.md
  frontend/src/components/tree/SettingsPanel.test.tsx
  frontend/src/components/tree/SettingsPanel.tsx
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/hooks/useCanvasSettings.test.ts
  frontend/src/hooks/useCanvasSettings.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add design doc for inline relationship prompt flow
  docs/plans/2026-02-18-relationship-prompt-design.md
Due: none

Expand relationship prompt into inline person and type picker
  frontend/src/components/tree/TreeCanvas.css
  frontend/src/locales/en/translation.json
  frontend/src/locales/nl/translation.json
  frontend/src/pages/TreeWorkspacePage.tsx
Due: biome-check, tsc

Add design doc for post-deploy performance checks
  docs/plans/2026-02-18-performance-checks-design.md
Due: none

Add post-deploy performance checks
  .github/workflows/deploy.yml
  .gitignore
  .performance-baseline.json
  Makefile
  scripts/performance-check.sh
Due: none

Add route-based code splitting to reduce initial bundle size
  frontend/src/App.tsx
  frontend/src/pages/TreeWorkspacePage.tsx
  frontend/vite.config.ts
Due: biome-check, tsc

Path conditions:
  biome-check: any of: ^frontend/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  tsc: any of: \.tsx?$
  mypy: any of: \.py$
